<section id="armystarlogos">
    <div class="container">
        <div class="inner-container">
            <h2>05 | ARMY STAR LOGOS</h2>
            <td height="109"><img src="/e2/images/rv7/symbols/guts_19.jpg" alt="The United States Army Logo" width="93" height="102"></td>
			<p><a href="/e2/downloads/rv7/symbols/army_star_light_background.png" target="_blank" onclick="_gaq.push(['_trackEvent', 'downloads', 'png', '/e2/downloads/rv7/symbols/army_star_light_background.png', , true]);">Black Trademark PNG</a></p>
		 	<p><a href="/e2/downloads/rv7/symbols/army_star_dark_background.png" target="_blank" onclick="_gaq.push(['_trackEvent', 'downloads', 'png', '/e2/downloads/rv7/symbols/army_star_dark_background.png', , true]);">Yellow Trademark PNG</a></p>
        </div>
    </div>
</section>