<div class="armystarlogos">
	<p><a href="/e2/downloads/rv7/symbols/army_star_light_background.png" target="_blank" onclick="_gaq.push(['_trackEvent', 'downloads', 'png', '/e2/downloads/rv7/symbols/army_star_light_background.png', , true]);">Black Trademark PNG</a></p>
 	<p><a href="/e2/downloads/rv7/symbols/army_star_dark_background.png" target="_blank" onclick="_gaq.push(['_trackEvent', 'downloads', 'png', '/e2/downloads/rv7/symbols/army_star_dark_background.png', , true]);">Yellow Trademark PNG</a></p>
</div>