<section id="colors">
    <h2>02 | COLORS</h2>
    <div id="primary-colors">
        <div>Primary</div>
        <ul class="color-list">
            <li>
                <div class="color-box white-background"></div>
                <p class="white">#FFFFFF</p>
            </li>
            <li>
                <div class="color-box gold-background"></div>
                <p class="gold">#FEC325</p>
            </li>
            <li>
                <div class="color-box army-black-background"></div>
                <p class="army-black">#231F20</p>
            </li>
        </ul>
    </div>
    <div id="secondary-colors">
        <div>Secondary</div>
        <ul class="color-list">
            <li>
                <div class="color-box dark-camo-background"></div>
                <p class="dark-camo">#333C33</p>
            </li>
            <li>
                <div class="color-box medium-camo-background"></div>
                <p class="medium-camo">#83847A</p>
            </li>
            <li>
                <div class="color-box light-camo-background"></div>
                <p class="light-camo">#BFB8AB</p>
            </li>
        </ul>
    </div>
    <div id="accents-colors">
        <div>Accents</div>
        <ul class="color-list">
            <li>
                <div class="color-box black-background"></div>
                <p class="black">#030000</p>
            </li>
            <li>
                <div class="color-box grey90-background"></div>
                <p class="grey90">#1A1A1A</p>
            </li>
            <li>
                <div class="color-box grey80-background"></div>
                <p class="grey80">#333333</p>
            </li>
            <li>
                <div class="color-box grey70-background"></div>
                <p class="grey70">#4C4C4C</p>
            </li>
            <li>
                <div class="color-box grey60-background"></div>
                <p class="grey60">#656565</p>
            </li>
            <li>
                <div class="color-box grey50-background"></div>
                <p class="grey50">#7F7F7F</p>
            </li>
            <li>
                <div class="color-box grey40-background"></div>
                <p class="grey40">#999999</p>
            </li>
            <li>
                <div class="color-box grey30-background"></div>
                <p class="grey30">#B3B3B3</p>
            </li>
            <li>
                <div class="color-box grey20-background"></div>
                <p class="grey20">#CCCCCC</p>
            </li>
            <li>
                <div class="color-box grey10-background"></div>
                <p class="grey10">#E5E5E5</p>
            </li>
        </ul>
    </div>
</section>