<section id="colors">
    <div class="container">
        <div class="inner-container">
            <h2>02 | COLORS</h2>
            <div id="primary-colors" class="color-group">
                <h5>PRIMARY</h5>
                <ul class="color-list">
                    <li>
                        <div class="color-box white-background"></div>
                        <p>#FFFFFF</p>
                    </li>
                    <li>
                        <div class="color-box gold-background"></div>
                        <p>#FEC325</p>
                    </li>
                    <li>
                        <div class="color-box army-black-background"></div>
                        <p>#231F20</p>
                    </li>
                </ul>
            </div>
            <div id="secondary-colors" class="color-group">
                <h5>SECONDARY</h5>
                <ul class="color-list">
                    <li>
                        <div class="color-box light-camo-background"></div>
                        <p>#BFB8AB</p>
                    </li>
                    <li>
                        <div class="color-box medium-camo-background"></div>
                        <p>#727365</p>
                    </li>
                    <li>
                        <div class="color-box dark-camo-background"></div>
                        <p>#333C33</p>
                    </li>
                </ul>
            </div>
            <div id="accents-colors" class="color-group">
                <h5>ACCENTS</h5>
                <ul class="color-list">
                    <li>
                        <div class="color-box black-background"></div>
                        <p>#030000<span class="grey50">100%</span></p>
                    </li>
                    <li>
                        <div class="color-box grey90-background"></div>
                        <p>#1A1A1A<span class="grey50">90%</span></p>
                    </li>
                    <li>
                        <div class="color-box grey80-background"></div>
                        <p>#333333<span class="grey50">80%</span></p>
                    </li>
                    <li>
                        <div class="color-box grey70-background"></div>
                        <p>#4C4C4C<span class="grey50">70%</span></p>
                    </li>
                    <li>
                        <div class="color-box grey60-background"></div>
                        <p>#666666<span class="grey50">60%</span></p>
                    </li>
                    <li>
                        <div class="color-box grey50-background"></div>
                        <p>#7F7F7F<span class="grey50">50%</span></p>
                    </li>
                    <li>
                        <div class="color-box grey40-background"></div>
                        <p>#999999<span class="grey50">40%</span></p>
                    </li>
                    <li>
                        <div class="color-box grey30-background"></div>
                        <p>#B3B3B3<span class="grey50">30%</span></p>
                    </li>
                    <li>
                        <div class="color-box grey20-background"></div>
                        <p>#CCCCCC<span class="grey50">20%</span></p>
                    </li>
                    <li>
                        <div class="color-box grey10-background"></div>
                        <p>#E5E5E5<span class="grey50">10%</span></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
