
<section id="elements">
    <div class="container no-bottom">
        <div class="inner-container">
            <h2>04 | ELEMENTS</h2>
            <div class="elem">
                <h4>LIST WIDGET</h4>
                {% include elements/top-stories.html %}
            </div>
            <div class="elem">
                <h4>NAVIGATION</h4>
                <p class="large">NAV BAR</p>
            </div>
        </div>
    </div>
    <!-- make tab bar full width -->
    {% include elements/nav.html %}
    <div class="container no-bottom">
        <div class="inner-container">
            <p class="large">NAV BAR (MOBILE DROPDOWN)</p>
        </div>
    </div>
    {% include elements/nav-mobile-dropdown.html %}
    <div class="container no-bottom">
        <div class="inner-container">
            <p class="large">DROP DOWN NAV</p>
        </div>
    </div>
    {% include elements/nav-mobile-dropdown.html dropdown="true" %}
    <div class="container no-bottom">
        <div class="inner-container">
            <div class="elem">
                <h4>PARAGRAPH DEFAULTS</h4>
                {% include elements/paragraph-defaults.html %}
            </div>
            <div class="elem">
                <h4>LINKS LIST</h4>
                {% include elements/list.html %}
            </div>
            <div class="elem">
                <h4>BUTTONS</h4>
                {% include elements/buttons.html %}
            </div>
            <div class="elem">
                <h4>ACCORDION</h4>
                {% include elements/accordion.html %}
            </div>
            <div class="elem">
                <h4>NEWS</h4>
                {% include elements/news.html %}
            </div>
            <div class="elem">
                <h4>TRANSCRIPTS/PRESS RELEASES</h4>
                {% include elements/headlines.html %}
            </div>
            <div class="elem">
                <h4>LEADERS</h4>
                {% include elements/leaders.html %}
            </div>
            <div class="elem">
                <h4>Quotes</h4>
            </div>
        </div>
    </div>
    {% include elements/quotes.html %}
</section>
