
<section id="elements">
    <div class="container">
        <div class="inner-container">
            <h2>05 | ELEMENTS</h2>
            <div class="elem">
                <h4>LIST WIDGET</h4>
                {% include elements/top-stories.html %}
            </div>
            <div class="elem">
                <h4>TAB BAR</h4>
                {% include elements/nav.html %}
            </div>
            <div class="elem">
                <h4>BUTTONS</h4>
                {% include elements/buttons.html %}
            </div>
            <div class="elem">
                <h4>ACCORDION</h4>
                {% include elements/accordion.html %}
            </div>
            <div class="elem">
                <h4>INLINE LINKS</h4>
                {% include elements/inline-links.html %}
            </div>
            <div class="elem">
                <h4>LIST</h4>
                {% include elements/list.html %}
            </div>
            <div class="elem">
                <h4>NEWS</h4>
                {% include elements/news.html %}
            </div>
        </div>
    </div>
</section>
