<section id="grid">
    <div class="container">
        <div class="inner-container">
           <h2>01 | GRID</h2>
           <p class="responsive-grid">Our responsive grid system is composed of 12 flexible columns with fixed gutters. It is based on a max width of 1020px, but the column widths are fluid and adjust to fit any browser or device size. You can test this by resizing your browser window.</p>
        </div>
        <div class="grid-example">
            <p class="grid-example-container white black-background desktop">GRID BASE 1020px</p>
            <p class="grid-example-container white black-background tablet">GRID BASE 740px</p>
            <p class="grid-example-container white black-background mobile">GRID BASE 670px</p>
            <div class="inner-container">
                <div class="row">
                    <div class="span12">
                        <p class="gold-background">1/1&nbsp;&nbsp;&nbsp;100%</p>
                    </div>
                </div>
                <div class="row">
                    <div class="span6">
                        <p class="gold-background">1/2</p>
                    </div>
                    <div class="span6">
                        <p class="gold-background">50%</p>
                    </div>
                </div>
                <div class="row">
                    <div class="span4">
                        <p class="gold-background">1/3</p>
                    </div>
                    <div class="span4">
                        <p class="gold-background">&nbsp;</p>
                    </div>
                    <div class="span4">
                        <p class="gold-background">33%</p>
                    </div>
                </div>
                <div class="row">
                    <div class="span3">
                        <p class="gold-background">1/4</p>
                    </div>
                    <div class="span3">
                        <p class="gold-background">&nbsp;</p>
                    </div>
                    <div class="span3">
                        <p class="gold-background">&nbsp;</p>
                    </div>
                    <div class="span3">
                        <p class="gold-background">25%</p>
                    </div>
                </div>
                <div class="row hide-mobile">
                    <div class="span2">
                        <p class="gold-background">1/6</p>
                    </div>
                    <div class="span2">
                        <p class="gold-background">&nbsp;</p>
                    </div>
                    <div class="span2">
                        <p class="gold-background">&nbsp;</p>
                    </div>
                    <div class="span2">
                        <p class="gold-background">&nbsp;</p>
                    </div>
                    <div class="span2">
                        <p class="gold-background">&nbsp;</p>
                    </div>
                    <div class="span2">
                        <p class="gold-background">16.6%</p>
                    </div>
                </div>
                <div class="row hide-tablet">
                    <div class="span1">
                        <p class="gold-background">1/12</p>
                    </div>
                    <div class="span1">
                        <p class="gold-background">&nbsp;</p>
                    </div>
                    <div class="span1">
                        <p class="gold-background">&nbsp;</p>
                    </div>
                    <div class="span1">
                        <p class="gold-background">&nbsp;</p>
                    </div>
                    <div class="span1">
                        <p class="gold-background">&nbsp;</p>
                    </div>
                    <div class="span1">
                        <p class="gold-background">&nbsp;</p>
                    </div>
                    <div class="span1">
                        <p class="gold-background">&nbsp;</p>
                    </div>
                    <div class="span1">
                        <p class="gold-background">&nbsp;</p>
                    </div>
                    <div class="span1">
                        <p class="gold-background">&nbsp;</p>
                    </div>
                    <div class="span1">
                        <p class="gold-background">&nbsp;</p>
                    </div>
                    <div class="span1">
                        <p class="gold-background">&nbsp;</p>
                    </div>
                    <div class="span1">
                        <p class="gold-background">8.3%</p>
                    </div>
                </div>
                
                <h4>GRID LAYOUT</h4>
                <p class="responsive-grid">When the grid is implemented, each column has a 15px padding on either side, which results in a 30px gutter between and a 15px gutter on the grid edges. Column widths can be mixed to create a variety of grid layouts, as seen below.</p>
                <div class="row">
                    <div class="span2 grey10-background">
                        <p class="gold-background">1/6</p>
                    </div>
                    <div class="span10 grey20-background">
                        <p class="gold-background">5/6</p>
                    </div>
                </div>
                <div class="row">
                    <div class="span9 grey10-background">
                        <p class="gold-background">3/4</p>
                    </div>
                    <div class="span3 grey20-background">
                        <p class="gold-background">1/4</p>
                    </div>
                </div>
                <div class="row">
                    <div class="span4 grey10-background">
                        <p class="gold-background">1/3</p>
                    </div>
                    <div class="span8 grey20-background">
                        <p class="gold-background">2/3</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>