
<section id="typography">
    <div class="container">
        <div class="inner-container">
            <h2>03 | TYPOGRAPHY</h2>
            <div class="font-info">
                <p>Interstate is the official typeface for <a href="http://www.usarmybrandportal.com/">Enterprise Army Brand</a>. In order to maintain the same look and feel across all Army digital platforms, our website utilizes <a href="http://overpassfont.org/">Overpass</a>, which is a free, open source replacement for Interstate.</p>
                <div class="rt">
                    <div class="btn">
                        <div>
                            <a href="https://github.com/RedHatBrand/overpass">
                                Download Font Files<span></span><span></span><span></span><span></span><span></span><span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <ul>
                <li>
                    <div class="span4"><h1>Header 1</h1></div>
                    <p class="span4 lg grey20">48px/60px</p>
                    <p class="span4 md2 grey20">40px/60px</p>
                    <p class="span4 md1 grey20">40px/60px Semibold</p>
                    <p class="span4 sm-md grey20">36px/60px Semibold</p>
                    <p class="span4 sm grey20">30px/60px Semibold</p>
                    <p class="span4 weight grey20">Regular</p>
                </li>
                <li>
                    <div class="span4"><h2>Header 2</h2></div>
                    <p class="span4 lg grey20">40px/50px</p>
                    <p class="span4 md2 grey20">36px/45px</p>
                    <p class="span4 md1 grey20">36px/45px Bold</p>
                    <p class="span4 sm-nav grey20">30px/37.5px Bold</p>
                    <p class="span4 weight grey20">Bold</p>
                </li>
                <li>
                    <div class="span4"><h3>Header 3</h3></div>
                    <p class="span4 lg grey20">36px/45px</p>
                    <p class="span4 md2 grey20">30px/37.5px</p>
                    <p class="span4 md1 grey20">30px/37.5px Bold</p>
                    <p class="span4 sm-nav grey20">24px/30px Bold</p>
                    <p class="span4 weight grey20">Bold</p>
                </li>
                <li>
                    <div class="span4"><h4>Header 4</h4></div>
                    <p class="span4 md2 lg grey20">22px/27.5px</p>
                    <p class="span4 md1 grey20">22px/27.5px Bold</p>
                    <p class="span4 sm-nav grey20">21px/26.26px Bold</p>
                    <p class="span4 weight grey20">Bold</p>
                </li>
                <li>
                    <div class="span4"><h5>Header 5</h5></div>
                    <p class="span4 lg md2 grey20">18px/24px</p>
                    <p class="span4 md1 grey20">18px/24px Bold</p>
                    <p class="span4 sm-nav grey20">16px/20px Bold</p>
                    <p class="span4 weight grey20">Bold</p>
                </li>
                <li>
                    <p class="span4 large">Large paragraph</p>
                    <p class="span4 lg md2 grey20">18px/24px</p>
                    <p class="span4 md1 grey20">18px/24px Bold</p>
                    <p class="span4 sm-nav grey20">16px/20px Bold</p>
                    <p class="span4 grey20 weight">Bold</p>
                </li>
                <li>
                    <p class="span4">Body Text</p>
                    <p class="span4 grey20 md2 lg">16px/26px</p>
                    <p class="span4 grey20 md1">16px/26px Regular</p>
                    <p class="span4 grey20 sm-nav">16px/26px Regular</p>
                    <p class="span4 grey20 weight">Light</p>
                </li>
                <li>
                    <p class="span4 small">Small paragraph</p>
                    <p class="span4 grey20 md2 lg">14px/17.5px</p>
                    <p class="span4 grey20 md1">14px/17.5px Regular</p>
                    <p class="span4 grey20 sm-nav">13px/16.26px Regular</p>
                    <p class="span4 grey20 weight">Light</p>
                </li>
            </ul>
        </div>
    </div>
</section>