<section>
    <div class="container no-bottom">
        <div class="inner-container">
            <ul class="github-links">
                <li>
                    <div class="btn">
                        <div>
                            <a href="https://github.com/armydotmil/armydotmil.github.io/archive/master.zip">
                                Download Code<span></span><span></span><span></span><span></span><span></span><span></span>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="btn">
                        <div class="black">
                            <a href="https://github.com/armydotmil/armydotmil.github.io">
                                View on GitHub<span></span><span></span><span></span><span></span><span></span><span></span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>