---
# Front matter comment to ensure Jekyll properly reads file.
---

@use "all";
@use "base/colors";
@use "base/mixins/breakpoints";
@use "base/mixins/clearfix";
@use "layout/grid-system";
@use "layout/grid-system-spans";

section {
  .container.no-bottom {
    margin-bottom: 0;
  }

  .github-links {
    @include grid-system.row(true);

    li {
      margin: 0 0 15px;

      @include grid-system-spans.span(12);

      &:last-child {
        margin: 0;
      }
    }

    @include breakpoints.breakpoints(tablet lg_tablet sm_desktop desktop large really_big) {
      li {
        width: auto;
      }
    }
  }

  .section-break {
    position: relative;

    &:after,
    &:before {
      background: map-get(colors.$army-branding, gold);
      content: '';
      height: 4px;
      left: 0;
      position: absolute;
      right: 0;
    }

    &:after {
      top: 0;
    }

    &:before {
      top: 15px;
    }

    @include breakpoints.breakpoints(tablet lg_tablet) {
      &:after {
        top: 10px;
      }

      &:before {
        top: 25px;
      }
    }


    @include breakpoints.breakpoints(sm_desktop desktop large really_big) {
      &:after {
        top: 30px;
      }

      &:before {
        top: 45px;
      }
    }
  }
}

.inner-container {
  h2 { margin-bottom: 60px; }

  h5 { margin-bottom: 20px; }
}

#grid {
  p.responsive-grid {
    margin-bottom: 1.25em;
    text-align: left;
  }

  .grid-example {
    text-align: center;

    .grid-example-container {
      display: none;
      margin-bottom: 20px;

      &.mobile {
        display: block;
      }
    }

    .row {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }

      &.hide-mobile,
      &.hide-tablet {
        display: none;
      }

      p {
  //      border: 1px solid #000;
        color: map-get(colors.$army-branding, armyblack);
        padding: 10px 0;
      }
    }

    @include breakpoints.breakpoints(sm_desktop desktop large really_big) {
      .row.hide-mobile,
      .row.hide-tablet {
        display: block;
      }

      .grid-example-container {
        &.desktop {
          display: block;
        }

        &.mobile {
          display: none;
        }
      }
    }


    @include breakpoints.breakpoints(lg_tablet) {
      .row.hide-mobile {
        display: block;
      }

      .grid-example-container {
        &.tablet {
          display: block;
        }

        &.mobile {
          display: none;
        }
      }
    }
  } // end grid-example
}

#colors {
  .color-group {
    margin: 0 0 60px;
    // max-width: 730px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .color-list {
    @include breakpoints.breakpoints(tablet nav mobile) {
      text-align: center;
    }

    li {
      display: inline-block;
      margin: 0 40px 20px 0px;

      p {
        text-align: left;
      }

      span {
        display: block;
      }
    }
  }

  .color-box {
    border: 1px solid map-get(colors.$army-branding, armyblack);
    height: 200px;
    margin-bottom: 15px;
    width: 200px;
    padding-left: 15px;
    padding-top: 15px;
    p {
      font-size: 17px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: left;
    }
  }

  @include breakpoints.breakpoints(really_big large desktop sm_desktop) {
    .color-list li {
      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }

  @include breakpoints.breakpoints(lg_tablet) {
    .color-list li {
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }

  @include breakpoints.breakpoints(tablet) {
    .color-list li {
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }

  @include breakpoints.breakpoints(nav mobile) {
    .color-list li {
      margin: 0 20px 20px 0px;
    }
  }

  @include breakpoints.breakpoints(nav) {
    .color-group {
      margin: 0 auto 60px;
    }
  }

  @include breakpoints.breakpoints(mobile) {
    .color-group {
      margin: 0 auto 60px;
      max-width: 290px;
    }

    .color-list li {
      &:last-child,
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}

#typography {
  .font-info {
    @include clearfix.clearfix();
    & {
      margin-bottom: 1.25em;
      padding-bottom: 1.25em;
    }
    
    .rt .btn {
      text-align: center;
    }
  }
  
  .fonts-list {
    @include grid-system.row();
    li {
      @include clearfix.clearfix();
      & {
        border-bottom: 1px solid map-get(colors.$army-branding, grey30);
        margin-bottom: 30px;
        padding-bottom: 30px;
      }
      
      &:last-child { margin: 0; }
      
      .span6.lg *,
      .span6.md2 *,
      .span7.lg *,
      .span7.md2 * { float: right; }
      
      h2,
      h4,
      h5,
      p { margin: 0; }
      
      .sm-md,
      .md1,
      .md2,
      .lg { display: none; }
      
      h4:after { display: none; }
    }
  }
  
  @include breakpoints.breakpoints(mobile nav tablet) {
    .fonts-list {
      text-align: center;
      
      li {
        .span5,
        .span6 {
          float: none;
          width: 100%;
        }
        
        &.table-headers { display: none; }
      }
    }
  }
  
  @include breakpoints.breakpoints(nav) {
    .fonts-list li {
      .sm { display: none; }
      .sm-md { display: block; }
    }
  }
  
  @include breakpoints.breakpoints(tablet lg_tablet) {
    .fonts-list li {
      .sm,
      .sm-nav { display: none; }
    }
  }
  
  @include breakpoints.breakpoints(tablet) {
    .fonts-list li {
      .md1 { display: block; }
    }
  }
  
  @include breakpoints.breakpoints(lg_tablet) {
    .fonts-list li {
      .md2 { display: block; }
    }
  }
  
  @include breakpoints.breakpoints(sm_desktop desktop large really_big) {
    .font-info {
      padding-bottom: 0;
      p { @include grid-system-spans.span(8); }
      .rt {
        @include grid-system-spans.span(4);
        
        .btn {
          float: right;
        }
      }
    }
    .fonts-list li {
      .sm,
      .sm-nav { display: none; }
      .lg { display: block; }
    }
  }
}

#elements {
  .elem {
    margin: 0 0 50px;
    
    .social {
      overflow: auto;
      .social-button, .social-button-white {
        float: left;
        margin: 0 10px 10px 0;
      
        a {
          padding: 12px 0;
          width: 50px;
          height: 50px;
          text-align: center;
          display: block;
        
          span {
            vertical-align: middle;
          }
        }
      
      }
      .social-button-white {
        background: map-get(colors.$army-branding, armyblack);
      }
    }
    
    &:last-child {
      margin: 0;
    }
  }

  @include breakpoints.breakpoints(tablet lg_tablet) {
    .elem {
      margin: 0 0 60px;

      &:last-child {
        margin: 0;
      }
    }
  }


  @include breakpoints.breakpoints(sm_desktop desktop large really_big) {
    .elem {
      margin: 0 0 100px;

      &:last-child {
        margin: 0;
      }
    }
  }
}

// ----------------------------------------------------------------------
// overwrite top stories css here
// so that we don't have a box fixed on the guide
// ----------------------------------------------------------------------
@include breakpoints.breakpoints(sm_desktop desktop large really_big) {
  .top-stories {
    float: none;
    
    .fixed { position: static; }
  }
}
