@use "../base/variables";
@use "../base/mixins/clearfix";

@use "sass:math";





// Centered container element
@mixin container-fixed($gutter: variables.$grid-gutter-width) {
  margin-left: auto;
  margin-right: auto;
  padding-left: math.floor(($gutter * 0.5));
  padding-right: math.ceil(($gutter * 0.5));
  @include clearfix.clearfix();
}

// Creates a wrapper for a series of columns
@mixin row($inside: false, $gutter: variables.$grid-gutter-width) {
  @if($inside == true) {
    // Negative margin nested rows out to align the content of columns
    margin-left: math.ceil($gutter * -0.5);
    margin-right: math.floor($gutter * -0.5);
  }
  @else {
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }
  
  @include clearfix.clearfix();
}

// creates a class with row(true) from above
.row {
  @include row(true);
}

// creates a class with container-fixed() from above
.container-fixed {
  @include container-fixed();
}