// Buttons

.usa-button-active, .usa-button-hover, .usa-button-primary-alt{
  background-color: #00823b;
  border: medium none;
  border-radius: 0;
  box-shadow: 0 2px 0 #003618;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  line-height: 1.25;
  padding: 0.2em 0.5em 0.2em;
  position: relative;
  text-decoration: none;
  vertical-align: top;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  margin-top: 0.5em;
}
