// ----------------------------------------------------------------------
// Dependencies: base/elements/_links.scss
// ----------------------------------------------------------------------
@import 'links';


.accordion {
  > a {
    font: 600 1em/1.375em $font-family;
    text-decoration: none;
    
    &:hover { text-decoration: none; }
  }
  
  // if more than one accordion, every other background is grey
  &:nth-child(even) {
    background-color: map-get($army-branding, grey10);
    overflow: hidden;
  }
  
  > ul {
    @include span(12);
    font-size: 1em;
    
    > li {
      border-top: 1px solid map-get($army-branding, grey50);
      position: relative;
      list-style-type: none;
      margin: 0;
      
      ul {
        margin-top: 0;
        max-height: 0;
        overflow: hidden;
        padding: 0 30px 0;
        @include custom-transition(max-height .5s ease, padding .5s ease);
        
        @include breakpoints(mobile) {
          padding: 0 10px 0;
        }
      }
      
      > a {
        display: block;
        font: 600 1.125em $font-family;
        padding: 28px 45px 26px 5px;
        text-decoration: none;
        text-transform: uppercase;
        top: 0;
        
        .toggle-btn {
          background: map-get($army-branding, gold);
          border-radius: 50%;
          display: inline-block;
          height: 35px;
          position: absolute;
          right: 5px;
          top: 18px;
          width: 35px;
          
          &:before, &:after {
            background: map-get($army-branding, black);
            content: '';
            position: absolute;
            @include custom-transition(transform .25s ease);
          }
          &:before {
            height: 12px;
            left: 50%;
            margin-left: -2px;
            margin-top: -6px;
            top: 50%;
            width: 4px;
          }
          &:after {
            height: 4px;
            left: 50%;
            margin-left: -6px;
            margin-top: -2px;
            top: 50%;
            width: 12px;
          }
        }
        
        &:hover {
          span:before { transform: rotate(90deg); }
          
          span:after { transform: rotate(180deg); }
        }
      }
    } // end li
    
    > li:last-child { border-bottom: 1px solid map-get($army-branding, grey50); }
    
    > li.expanded {
      .plus-black { opacity: 0; }
      
      .minus-black { opacity: 1; }
      
      a .toggle-btn {
        &:before { transform: rotate(90deg); }
        
        &:after { transform: rotate(180deg); }
      }
      
      ul {
        max-height: 1000px;
        padding: 0 30px 1.5em;
        
        @include breakpoints(mobile) {
          padding: 0 10px 1.5em;
        }
      }
    }
  }
}