.accordion {
  @include bodytext-list();
  @include row(true);

  ul {
    @include span(12);

    @include breakpoints(lg_tablet sm_desktop desktop large really_big) {
      &[class*="column"] {
        @include span(6);
      }
    }
  }

  ul li a {
    display: block;
    font-weight: 400;
    position: relative;
    vertical-align: top;
    top: 2px;
  }

  input[type=checkbox] { display: none; }
  
  > a {
    font: 600 1em/1.375em $font-family;
    text-decoration: none;
    
    &:hover { text-decoration: none; }
  }
  
  // if more than one accordion, every other background is grey
  &:nth-child(even) {
    background-color: map-get($army-branding, grey10);
    overflow: hidden;
  }
  
  > ul {
    > li {
      border-top: 1px solid map-get($army-branding, grey30);
      list-style-type: none;
      margin: 0;
      padding: 0;
      
      ul {
        float: none;
        margin-top: 0;
        max-height: 0;
        overflow: hidden;
        padding: 0 30px;
        
        @include custom-transition(max-height .5s ease, padding .5s ease);
        
        &:nth-of-type(1) { margin-top: 0; }
        
        @include breakpoints(mobile) {
          padding-left: 10px;
          padding-right: 10px;
        }
      }
      
      > label {
        cursor: pointer;
        display: block;
        font: 600 1.125em $font-family;
        padding: 28px 45px 23px 5px;
        position: relative;
        text-transform: uppercase;
        top: 0;
        
        span {
          background: map-get($army-branding, gold);
          border-radius: 50%;
          display: inline-block;
          height: 34px;
          margin-top: -17px;
          position: absolute;
          right: 5px;
          top: 50%;
          width: 34px;
          
          &:before, &:after {
            background: map-get($army-branding, black);
            content: '';
            position: absolute;
            @include custom-transition(transform .25s ease);
          }
          &:before {
            height: 12px;
            left: 50%;
            margin-left: -2px;
            margin-top: -6px;
            top: 50%;
            width: 4px;
          }
          &:after {
            height: 4px;
            left: 50%;
            margin-left: -6px;
            margin-top: -2px;
            top: 50%;
            width: 12px;
          }
        }
      }
    } // end li
    
    > li:last-child { border-bottom: 1px solid map-get($army-branding, grey30); }
    
    > li input[type=checkbox]:checked ~ ul {
      max-height: 1000px;
      padding-bottom: 1.8em;
    }
    
    > li input[type=checkbox]:checked ~ label .plus-black { opacity: 0; }
      
    > li input[type=checkbox]:checked ~ label .minus-black { opacity: 1; }
      
    > li input[type=checkbox]:checked ~ label span {
      &:before {
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
      }
      
      &:after {
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
      }
    }
  }
}