@use "../base/colors";
@use "../base/mixins/breakpoints";

.announcements {
  background: colors.$light-gray-color;
  overflow: hidden;

  .news {
    @include breakpoints.breakpoints(sm_desktop desktop large really_big) {
      ul li {
        flex: 0 0 25%;
      }
    }
  }
}
