


.btn {
  margin: 0 0 20px;
  text-align: center;
  
  &:last-child { margin: 0; }
  
  @include link-transition('> div');

  > div {
    background: map-get($army-branding, gold);
    display: inline-block;
    margin: 0 auto;
    padding: 5px;
    position: relative;

    > div {
      bottom: 5px;
      left: 5px;
      position: absolute;
      right: 5px;
      top: 5px;
    }
    
    &.black {
      background: map-get($army-branding, black);
      
      a,
      input[type="button"],
      input[type="submit"] {
        color: map-get($army-branding, white);
      }

      span { background: map-get($army-branding, white); }
    }
    
    &.white {
      background: map-get($army-branding, white);
      border: 1px solid map-get($army-branding, black);
    }
  }
  
  a,
  input[type="button"],
  input[type="submit"] {
    background-color: transparent;
    border-width: 0;
    display: block;
    cursor: pointer;
    font: 600 .875em $font-family;
    min-width: 100%; // if containing div is set to block
    padding: 11px 30px 9px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    
    &:hover { text-decoration: none; }
  }
  input[type="button"],
  input[type="submit"] {
    display: inline; // block adds mystery bottom margin
  }
}

.nav-button {
  border-style: solid;
  border-color: #333;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 23px;
  outline: 0 none;
  padding: 20px 20px 16px;
  position: absolute;
  text-decoration: none;
  text-indent: -99999px;
  text-transform: uppercase;
  width: 25px;

  span {
    display: block;
    height: 24px;
    width: 24px;
  }

  &.menu-button {
    border-width: 0 1px 0 0;
    left: 0;

    span {
      background: transparent $social-button-sprite no-repeat scroll -233px 0;
      width: 25px;
    }
  }

  &.search-button {
    border-width: 0 0 0 1px;
    right: 0;

    span {
      background: transparent $social-button-sprite no-repeat scroll -259px 0;
    }
  }

  @include breakpoints(lg_tablet sm_desktop desktop large really_big) {
    &.menu-button, &.search-button {
      border: none;
    }

    &.menu-button {
      text-indent: 43px;
    }

    &.search-button {
      text-indent: -97px;
    }
  }


  &.close-button {
    span {
      background: transparent $social-button-sprite no-repeat scroll -284px 1px;
      width: 20px;
    }
    &.black-close span {
      background-position: -284px -23px;
    }
  }
}

.notification-button {
  @extend .nav-button;
}

.view-more-arrow-bg {
  background: transparent $social-button-sprite no-repeat scroll -427px 0;
  display: inline-block;
  height: 12px;
  margin-bottom: 4px;
  margin-left: 5px;
  vertical-align: middle;
  width: 14px;
}

.view-more-arrow-sm {
  background: transparent $social-button-sprite no-repeat scroll -442px 0;
  display: inline-block;
  height: 12px;
  margin-left: 5px;
  vertical-align: middle;
  width: 13px;

  &.black-arrow {
    background-position: -442px -13px;
  }
  &.gray-arrow {
    background-position: -442px -26px;
  }
}

.overlay-video .v-close {
  span {
    background: transparent $social-button-sprite no-repeat scroll -284px 0;
    display: block;
    height: 24px;
    width: 20px;
  }
}

.search-submit-button {
  background: transparent $social-button-sprite no-repeat scroll -259px 0;
  cursor: pointer;
  border: 0 none;
  height: 24px;
  width: 24px;
}

.greater-than-button {
  .greater-than-button-image {
    background: transparent $social-button-sprite no-repeat scroll -341px 0;
    height: 18px;
    width: 11px;
  }
}

.less-than-button {
  .less-than-button {
    background: transparent $social-button-sprite no-repeat scroll -331px 0;
    height: 18px;
    width: 10px;
  }
}

.social-button {
  span {
    height: 25px;
    width: 24px;
  }

  &.facebook-button span {
    background-position: -55px -216px;
    margin: 0 3px;
    width: 12px;
  }

  &.twitter-button span {
    background-position: 0 -216px;
    width: 29px;
  }

  &.googleplus-button span {
    background-position: -118px -216px;
    width: 36px;
  }

  &.pinterest-button span {
    background-position: -29px -216px;
    width: 25px;
  }

  &.flickr-button span {
    background-position: -93px -216px;
    width: 25px;
  }

  &.slideshare-button span {
    background-position: -180px -216px;
  }

  &.youtube-button span {
    background-position: -155px -216px;
    width: 25px;
  }

  &.email-button span {
    background-position: -511px -216px;
    width: 25px;
  }

  &.instagram-button span {
    background-position: -68px -216px;
    width: 25px;
  }

  &.vimeo-button span {
    background-position: -205px -216px;
    width: 28px;
  }

  &.armylive-button span {
    background-position: -233px -216px;
    width: 28px;
  }
  
  &.linkedin-button span {
    background-position: -261px -216px;
    width: 25px;
  }
  
  &.ustream-button span {
    background-position: -286px -216px;
    width: 25px;
  }
  
  &.smugmug-button span {
    background-position: -311px -216px;
    width: 22px;
  }
  
  &.issuu-button span {
    background-position: -333px -216px;
    width: 25px;
  }
  
  &.soundcloud-button span {
    background-position: -358px -216px;
    width: 56px;
  }
  
  &.periscope-button span {
    background-position: -414px -216px;
    width: 20px;
  }
  
  &.blogger-button span {
    background-position: -434px -216px;
    width: 25px;
  }
  
  &.snapchat-button span {
    background-position: -459px -216px;
    width: 25px;
  }
  
  &.rss-button span {
    background-position: -486px -216px;
    width: 25px;
  }

  &.reddit-button span {
    background-position: -538px -216px;
    width: 28px;
  }
}

.social-button-black {

  span {
    height: 25px;
    width: 24px;
  }
  
  &.facebook-button span {
    background-position: -55px -166px;
    // margin: 0 3px;
    width: 12px;
  }
  
  &.twitter-button span {
    background-position: 0 -166px;
    width: 29px;
  }
  
  &.flickr-button span {
    background-position: -93px -166px;
    width: 25px;
  }
  
  &.youtube-button span {
    background-position: -155px -166px;
    width: 25px;
  }
  
  &.vimeo-button span {
    background-position: -205px -166px;
    width: 28px;
  }
  
  &.slideshare-button span {
    background-position: -180px -166px;
    width: 24px;
  }
  
  &.armylive-button span {
    background-position: -233px -166px;
    width: 28px;
  }
  
  &.instagram-button span {
    background-position: -68px -166px;
    width: 25px;
  }
  
  &.pinterest-button span {
    background-position: -29px -166px;
    width: 25px;
  }
  
  &.googleplus-button span {
    background-position: -118px -166px;
    width: 36px;
  }
  
  &.linkedin-button span {
    background-position: -261px -166px;
    width: 25px;
  }
  
  &.ustream-button span {
    background-position: -286px -166px;
    width: 25px;
  }
  
  &.smugmug-button span {
    background-position: -311px -166px;
    width: 22px;
  }
  
  &.issuu-button span {
    background-position: -333px -166px;
    width: 25px;
  }
  
  &.soundcloud-button span {
    background-position: -358px -166px;
    width: 56px;
  }
  
  &.periscope-button span {
    background-position: -414px -166px;
    width: 20px;
  }
  
  &.blogger-button span {
    background-position: -434px -166px;
    width: 25px;
  }
  
  &.snapchat-button span {
    background-position: -459px -166px;
    width: 25px;
  }
  
  &.rss-button span {
    background-position: -486px -166px;
    width: 25px;
  }
  
  &.email-button span {
    background-position: -511px -166px;
    width: 25px;
  }

  &.reddit-button span {
    background-position: -538px -166px;
    width: 28px;
  }
}

.social-button:not(.no-hover),
.social-button-black:not(.no-hover) {

  &.facebook-button a:hover span,
  &.facebook-button a:focus span {
    background-position: -55px -191px;
  }
  
  &.twitter-button a:hover span,
  &.twitter-button a:focus span {
    background-position: 0 -191px;
  }
  
  &.flickr-button a:hover span,
  &.flickr-button a:focus span {
    background-position: -93px -191px;
  }
  
  &.youtube-button a:hover span,
  &.youtube-button a:focus span {
    background-position: -155px -191px;
  }
  
  &.vimeo-button a:hover span,
  &.vimeo-button a:focus span {
    background-position: -205px -191px;
  }
  
  &.slideshare-button a:hover span,
  &.slideshare-button a:focus span {
    background-position: -180px -191px;
  }
  
  &.armylive-button a:hover span,
  &.armylive-button a:focus span {
    background-position: -233px -191px;
  }
  
  &.instagram-button a:hover span,
  &.instagram-button a:focus span {
    background-position: -68px -191px;
  }
  
  &.pinterest-button a:hover span,
  &.pinterest-button a:focus span {
    background-position: -29px -191px;
  }
  
  &.googleplus-button a:hover span,
  &.googleplus-button a:focus span {
    background-position: -118px -191px;
  }
  
  &.linkedin-button a:hover span,
  &.linkedin-button a:focus span {
    background-position: -261px -191px;
  }
  
  &.ustream-button a:hover span,
  &.ustream-button a:focus span {
    background-position: -286px -191px;
  }
  
  &.smugmug-button a:hover span,
  &.smugmug-button a:focus span {
    background-position: -311px -191px;
  }
  
  &.issuu-button a:hover span,
  &.issuu-button a:focus span {
    background-position: -333px -191px;
  }
  
  &.soundcloud-button a:hover span,
  &.soundcloud-button a:focus span {
    background-position: -358px -191px;
  }
  
  &.periscope-button a:hover span,
  &.periscope-button a:focus span {
    background-position: -414px -191px;
  }
  
  &.blogger-button a:hover span,
  &.blogger-button a:focus span {
    background-position: -434px -191px;
  }
  
  &.snapchat-button a:hover span,
  &.snapchat-button a:focus span {
    background-position: -459px -191px;
  }
  
  &.rss-button a:hover span,
  &.rss-button a:focus span {
    background-position: -486px -191px;
  }
  
  &.email-button a:hover span,
  &.email-button a:focus span {
    background-position: -511px -191px;
  }

  &.reddit-button a:hover span,
  &.reddit-button a:focus span {
    background-position: -538px -191px;
  }
}

.social-button-gold-lg {
  span {
    height: 30px;
    width: 31px;
  }

  &.facebook-button span {
    background-position: -496px -101px;
    margin: 0 3px;
    width: 17px;
  }

  &.twitter-button span {
    background-position: -512px -101px;
    width: 37px;
  }

  &.googleplus-button span {
    background-position: -643px -101px;
    width: 46px;
  }

  &.pinterest-button span {
    background-position: -581px -101px;
  }

  &.flickr-button span {
    background-position: -612px -101px;
  }

  &.slideshare-button span {
    background-position: -689px -101px;
    width: 30px;
  }

  &.youtube-button span {
    background-position: -754px -101px;
  }

  &.instagram-button span {
    background-position: -550px -101px;
  }

  &.vimeo-button span {
    background-position: -785px -101px;
    width: 35px;
  }

  &.armylive-button span {
    background-position: -719px -101px;
    width: 34px;
  }
  
  &.facebook-button a:hover span,
  &.facebook-button a:focus span {
    background-position: -496px -132px;
  }
  
  &.twitter-button a:hover span,
  &.twitter-button a:focus span {
    background-position: -512px -132px;
  }
  
  &.flickr-button a:hover span,
  &.flickr-button a:focus span {
    background-position: -612px -132px;
  }
  
  &.youtube-button a:hover span,
  &.youtube-button a:focus span {
    background-position: -754px -132px;
  }
  
  &.slideshare-button a:hover span,
  &.slideshare-button a:focus span {
    background-position: -689px -132px;
  }
  
  &.armylive-button a:hover span,
  &.armylive-button a:focus span {
    background-position: -719px -132px;
  }
  
  &.instagram-button a:hover span,
  &.instagram-button a:focus span {
    background-position: -550px -132px;
  }
  
  &.pinterest-button a:hover span,
  &.pinterest-button a:focus span {
    background-position: -581px -132px;
  }
  
  &.googleplus-button a:hover span,
  &.googleplus-button a:focus span {
    background-position: -643px -132px;
  }
  
  &.vimeo-button a:hover span,
  &.vimeo-button a:focus span {
    background-position: -785px -132px;
  }
}

.social-button-sm {
  span {
    height: 20px;
    width: 22px;
  }

  &.facebook-button span {
    background-position: -45px -50px;
    width: 12px;
  }

  &.twitter-button span {
    background-position: 0 -50px;
    width: 24px;
  }

  &.googleplus-button span {
    background-position: -57px -50px;
    width: 30px;
  }

  &.pinterest-button span {
    background-position: -24px -50px;
  }

  &.linkedin-button span {
    background-position: -337px -26px;
    width: 20px;
  }

  &.email-button span {
    background-position: -88px -50px;
    width: 23px;
  }

  &.print-button span {
    background-position: -146px -50px;
    width: 23px;
  }

  &.reddit-button span {
    background-position: -359px -26px;
    width: 23px;
  }
}

// handles all cases for .social-button, .social-button-black/sm/gold/lg
[class^=social-button] a {
  // hide text with css
  @include replace-text;
  outline: 0 none;

  span {
    background-image: $social-button-sprite;
    background-repeat: no-repeat;
    display: inline-block;
  }
}

.play-button {
  .play-button-image {
    background: transparent $social-button-sprite no-repeat scroll -560px 4px;
    height: 20px;
    width: 14px;
  }
}

.plus-thick {
  background: transparent $social-button-sprite no-repeat scroll -305px 5px;
  height: 24px;
  width: 12px;
}

.minus-thick {
  background: transparent $social-button-sprite no-repeat scroll -318px 10px;
  height: 24px;
  width: 12px;
}

.plus-black {
  background: transparent $social-button-sprite no-repeat scroll -305px -13px;
  height: 13px;
  width: 12px;
}

.minus-black {
  background: transparent $social-button-sprite no-repeat scroll -318px -9px;
  height: 13px;
  width: 12px;
}

.nav-army-star {
  padding: 8px 10px 12px 12px;
  text-indent: -99999px;

  span {
    background: transparent $social-button-sprite no-repeat scroll 0 -100px;
    display: block;
    height: 65px;
    width: 52px;
  }
}

.toggle-button {
  background: transparent $social-button-sprite no-repeat scroll -168px -49px;
  display: inline-block;
  height: 11px;
  margin-left: 15px;
  vertical-align: middle;
  width: 13px;
  
  &.active { background-position: -181px -49px; }
}

.directional-arrow {
  background-image: $social-button-sprite;
  display: block;
  height: 12px;
  width: 9px;

  &.black-left {
    background-position: -259px -60px;
  }

  &.black-right {
    background-position: -268px -60px;
  }

  &.gray-left {
    background-position: -259px -47px;
  }

  &.gray-right {
    background-position: -268px -47px;
  }
}



