


.btn {
  margin: 0 0 20px;
  text-align: center;
  
  &:last-child { margin: 0; }
  
  @include link-transition('> div');

  > div {
    background: map-get($army-branding, gold);
    display: inline-block;
    margin: 0 auto;
    padding: 5px;
    position: relative;

    > div {
      bottom: 5px;
      left: 5px;
      position: absolute;
      right: 5px;
      top: 5px;
    }
    
    &.black {
      background: map-get($army-branding, armyblack);
      
      a,
      input[type="button"],
      input[type="submit"] {
        color: map-get($army-branding, white);
      }

      span { background: map-get($army-branding, white); }
    }
    
    &.white {
      background: map-get($army-branding, white);
      border: 1px solid map-get($army-branding, armyblack);
    }
  }
  
  a,
  input[type="button"],
  input[type="submit"] {
    background-color: transparent;
    border-width: 0;
    display: block;
    cursor: pointer;
    font: 600 .875em $font-family;
    min-width: 100%; // if containing div is set to block
    padding: 11px 30px 9px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    
    &:hover { text-decoration: none; }
  }
  input[type="button"],
  input[type="submit"] {
    display: inline; // block adds mystery bottom margin
  }
}

.nav-button {
  border-style: solid;
  border-color: map-get($army-branding, grey80);
  color: map-get($army-branding, white);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 23px;
  outline: 0 none;
  padding: 17px 20px 15px;
  position: absolute;
  text-decoration: none;
  text-transform: uppercase;

  span {
    display: none;
  }

  &.menu-button {
    border-width: 0 1px 0 0;
    left: 0;

    &::before {
      content: "\e96d";
      font-family: 'armyicons';
      color: map-get($army-branding, white);
      font-size: 32px;
      -webkit-font-smoothing: none;
      -moz-osx-font-smoothing: grayscale;
      font-weight: normal;
      position: relative;
      line-height: 7px;
      top: 7px;
    }
  }

  &.search-button {
    border-width: 0 0 0 1px;
    right: 0;

    &::after {
      content: "\e96e";
      font-family: 'armyicons';
      color: map-get($army-branding, white);
      font-size: 28px;
      font-weight: normal;
      position: relative;
      line-height: 7px;
      top: 7px;
    }
  }

  @include breakpoints(lg_tablet sm_desktop desktop large really_big) {
    &.menu-button, &.search-button {
      border: none;
      span {
        display: inline;
      }
    }

    &::before {
      margin-right: 10px;
    }
    &::after {
      margin-left: 10px;
    }
    &.close-button.menu-button::before {
      margin-right: 10px;
    }
    &.close-button.search-button::after {
      margin-left: 10px;
    }
  }

  &.close-button {
    &.black-close span::before,
    &.black-close span::after {
      color: map-get($army-branding, black);
    }
  }

  &.close-button {
    &.menu-button::before {
      content: "\e96f";
      font-size: 26px;
      top: 5px;
      left: 0px;
      width: 33px;
      display: inline-block;
      text-align: center;
    }
    &.search-button::after {
      content: "\e96f";
      font-size: 26px;
      top: 5px;
      width: 29px;
      display: inline-block;
      text-align: center;
    }
  }
}

.notification-button {
  @extend .nav-button;
}

.view-more-arrow-sm {
  display: inline-block;
  margin-left: 5px;

  &::before {
    content: "\ea3c";
    font-family: 'armyicons';
    color: map-get($army-branding, gold);
  }
  &.black-arrow::before {
    color: map-get($army-branding, black);
  }
  &.gray-arrow::before {
    color: map-get($army-branding, grey40);
  }
}

.overlay-video .v-close {
  span {
    display: block;
    height: 24px;
    width: 20px;
    text-align: center;
    &::before {
      content: "\e96f";
      font-family: 'armyicons';
      color: map-get($army-branding, white);
      font-size: 20px;
    }
  }
}

.search-submit-button {
  cursor: pointer;
  border: 0 none;
  height: 24px;
  width: 24px;
  background-color: transparent;
  color: map-get($army-branding, white);
  font-size: 25px;
}

.greater-than-button {
  .greater-than-button-image {
    background: transparent $social-button-sprite no-repeat scroll -341px 0;
    height: 18px;
    width: 11px;
  }
}

.less-than-button {
  .less-than-button {
    background: transparent $social-button-sprite no-repeat scroll -331px 0;
    height: 18px;
    width: 10px;
  }
}

.social-button a,
.social-button-black a {
  text-decoration: none;
  i[class*=' armyicons'],i[class^='armyicons'] {
    font-size: 25px;
    color: map-get($army-branding, white);
    line-height: 25px;
  }
  &:not(.no-hover):hover,
  &:not(.no-hover):focus {
    i[class*=' armyicons'],i[class^='armyicons'] {
      color: map-get($army-branding, gold);
    }
  }
}

.social-button-black a {
  i[class*=' armyicons'],i[class^='armyicons'] {
    color: map-get($army-branding, black);
  }
}

.social-button,
.social-button-black,
.social-button-gold-lg,
.social-button-sm {
  a span {
    font-size: 0;
  }
  a span::before {
    font: normal 25px/25px 'armyicons';
    color: map-get($army-branding, white);
  }
  &.facebook-button a span::before {
    content: "\ea90";
  }
  &.twitter-button a span::before {
    content: "\e979";
  }
  &.pinterest-button a span::before {
    content: "\ead1";
  }
  &.flickr-button a span::before {
    content: "\eaa5";
  }
  &.youtube-button a span::before {
    content: "\ea9d";
  }
  &.instagram-button a span::before {
    content: "\ea92";
  }
  &.vimeo-button a span::before {
    content: "\eaa0";
  }
  &.linkedin-button a span::before {
    content: "\eaca";
  }
  &.email-button a span::before {
    content: "\e95f";
  }
  &.reddit-button a span::before {
    content: "\e96a";
  }
  &.rss-button a span::before {
    content: "\e974";
  }

  &:not(.no-hover):hover,
  &:not(.no-hover):focus {
    a span::before {
      color: map-get($army-branding, gold);
    }
  }
}
.social-button-black a span::before {
  color: map-get($army-branding, black);
}
.social-button-sm a span::before {
  font-size: 22px;
  line-height: 22px;
}
  

.nav-army-star {
  text-indent: -99999px;

  span {
    background: transparent $army-logo no-repeat scroll;
    display: block;
    height: 36px;
    width: 150px;
  }
}

.play-button,
a.play-button {
  .play-button-image {
    display: inline-block;
    &::before {
      content: "\ea1c";
      font-family: 'armyicons';
      color: map-get($army-branding, white);
    }
  }
}

.plus-thick,
a.plus-thick {
  display: inline-block;
  text-decoration: none;
  &::before {
    content: "\ea0a";
    font-family: 'armyicons';
    color: map-get($army-branding, white);
  }
}

.minus-thick,
a.minus-thick {
  display: inline-block;
  text-decoration: none;
  &::before {
    content: "\ea0b";
    font-family: 'armyicons';
    color: map-get($army-branding, white);
  }
}

.plus-black,
a.plus-black {
  display: inline-block;
  text-decoration: none;
  &::before {
    content: "\ea0a";
    font-family: 'armyicons';
    color: map-get($army-branding, black);
  }
}

.minus-black,
a.minus-black {
  display: inline-block;
  text-decoration: none;
  &::before {
    content: "\ea0b";
    font-family: 'armyicons';
    color: map-get($army-branding, black);
  }
}

.toggle-button,
a.toggle-button {
  display: inline-block;
  text-decoration: none;
  transform: rotate(90deg);
  &::before {
    content: "\e90d";
    font-family: 'armyicons';
  }
  
  &.active { transform: rotate(-90deg); }
}

.directional-arrow,
a.directional-arrow {
  color: map-get($army-branding, black);
  display: inline-block;
  text-decoration: none;
  &::before {
    content: "\e90d";
    font-family: 'armyicons';
  }

  &.black-left::before {
    content: "\e90c";
  }

  &.gray-left {
    &::before {
      content: "\e90c";
    }
    color: map-get($army-branding, grey50);
  }

  &.gray-right {
    color: map-get($army-branding, grey50);
  }
}
