@use "../base/colors";
@use "../base/variables";
@use "../base/mixins/button-transition";

@use "sass:map";



.btn {
  margin: 0 0 20px;
  text-align: center;
  
  &:last-child { margin: 0; }
  
  @include button-transition.link-transition('> div');

  > div {
    background: map.get(colors.$army-branding, gold);
    display: inline-block;
    margin: 0 auto;
    padding: 5px;
    position: relative;

    > div {
      bottom: 5px;
      left: 5px;
      position: absolute;
      right: 5px;
      top: 5px;
    }
    
    &.black {
      background: map.get(colors.$army-branding, armyblack);
      
      a,
      input[type="button"],
      input[type="submit"] {
        color: map.get(colors.$army-branding, white);
      }

      span { background: map.get(colors.$army-branding, white); }
    }
    
    &.white {
      background: map.get(colors.$army-branding, white);
      border: 1px solid map.get(colors.$army-branding, armyblack);
    }
  }
  
  a,
  input[type="button"],
  input[type="submit"] {
    background-color: transparent;
    border-width: 0;
    display: block;
    cursor: pointer;
    font: 600 .875em variables.$font-family;
    min-width: 100%; // if containing div is set to block
    padding: 11px 30px 9px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    
    &:hover { text-decoration: none; }
  }
  input[type="button"],
  input[type="submit"] {
    display: inline; // block adds mystery bottom margin
  }
}

.notification-button {
  @extend .nav-button !optional;
}

.view-more-arrow-sm {
  display: inline-block;
  margin-left: 5px;

  &::before {
    content: "\ea3c";
    font-family: 'armyicons';
    color: map.get(colors.$army-branding, gold);
  }
  &.black-arrow::before {
    color: map.get(colors.$army-branding, black);
  }
  &.gray-arrow::before {
    color: map.get(colors.$army-branding, grey40);
  }
}

.overlay-video .v-close {
  span {
    display: block;
    height: 24px;
    width: 20px;
    text-align: center;
    &::before {
      content: "\e96f";
      font-family: 'armyicons';
      color: map.get(colors.$army-branding, white);
      font-size: 20px;
    }
  }
}

.search-submit-button {
  cursor: pointer;
  border: 0 none;
  height: 24px;
  width: 24px;
  background-color: transparent;
  color: map.get(colors.$army-branding, white);
  font-size: 25px;
}

.greater-than-button {
  .greater-than-button-image {
    background: transparent variables.$social-button-sprite no-repeat scroll -341px 0;
    height: 18px;
    width: 11px;
  }
}

.less-than-button {
  .less-than-button {
    background: transparent variables.$social-button-sprite no-repeat scroll -331px 0;
    height: 18px;
    width: 10px;
  }
}

.social-button a,
.social-button-white a {
  i[class*=' armyicons'],i[class^='armyicons'] {
    font-size: 25px;
    color: map.get(colors.$army-branding, black);
    line-height: 25px;
  }
  &:not(.no-hover):hover,
  &:not(.no-hover):focus {
    i[class*=' armyicons'],i[class^='armyicons'] {
      color: map.get(colors.$army-branding, gold);
      background: none;
      -webkit-text-fill-color: inherit;
    }
  }
}

.social-button-white a {
  i[class*=' armyicons'],i[class^='armyicons'] {
    color: map.get(colors.$army-branding, white);
  }
}

.social-button,
.social-button-white,
.social-button-gold-lg,
.social-button-sm {
  a {
    text-decoration: none;
  }
  a span:first-of-type {
    font-size: 0;
  }
  a span:first-of-type::before {
    font: normal 25px/25px 'armyicons';
    color: map.get(colors.$army-branding, black);
  }
  &.facebook-button a span:first-of-type::before {
    content: "\ea90";
  }
  &.twitter-button a span:first-of-type::before, &.x-button a span:first-of-type::before {
    content: "\e979";
  }
  &.pinterest-button a span:first-of-type::before {
    content: "\ead1";
  }
  &.flickr-button a span:first-of-type::before {
    content: "\eaa5";
  }
  &.youtube-button a span:first-of-type::before {
    content: "\ea9d";
  }
  &.instagram-button a span:first-of-type::before {
    content: "\ea92";
  }
  &.vimeo-button a span:first-of-type::before {
    content: "\eaa0";
  }
  &.linkedin-button a span:first-of-type::before {
    content: "\eaca";
  }
  &.email-button a span:first-of-type::before {
    content: "\e95f";
  }
  &.reddit-button a span:first-of-type::before {
    content: "\e96a";
  }
  &.rss-button a span:first-of-type::before {
    content: "\e974";
  }
  &.contact-button a span:first-of-type::before {
    content: "\e95f";
  }
  &.armylive-button a span:first-of-type::before {
    content: "\e971";
  }
  &.threads-button a span:first-of-type::before {
    content: "\e97a";
  }
  &.other-button a span:first-of-type::before {
    content: "\e971";
  }
  &.soundcloud-button a span:first-of-type::before {
    content: "\eac3";
  }
  &.slideshare-button a span:first-of-type::before {
    content: "\e97b";
  }
  &.tumblr-button a span:first-of-type::before {
    content: "\eab9";
  }
  &.sprinklr-button a span:first-of-type::before {
    content: "\e924";
  }
}

.color-icon .social-button,
.color-icon .social-button-white,
.color-icon .social-button-sm,
.social-button.color-icon,
.social-button-white.color-icon,
.social-button-sm.color-icon {

  &.facebook-button a span:first-of-type::before,
  a i.armyicons-sm_facebook,
  .armyicons-sm_facebook {
    color: #3b5999;
  }
  &.pinterest-button a span:first-of-type::before,
  a i.armyicons-sm_pinterest,
  .armyicons-sm_pinterest {
    color: #bd081c;
  }
  &.flickr-button a span:first-of-type::before,
  a i.armyicons-sm_flickr,
  .armyicons-sm_flickr {
    color: #0063DC;
  }
  &.youtube-button a span:first-of-type::before,
  a i.armyicons-sm_youtube,
  .armyicons-sm_youtube {
    color: #FF0000;
  }
  &.instagram-button a span:first-of-type::before,
  a i.armyicons-sm_instagram,
  .armyicons-sm_instagram {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  &.vimeo-button a span:first-of-type::before,
  a i.armyicons-sm_vimeo,
  .armyicons-sm_vimeo {
    color: #1ab7ea;
  }
  &.linkedin-button a span:first-of-type::before,
  a i.armyicons-sm_linkedin,
  .armyicons-sm_linkedin {
    color: #0077b5;
  }
  &.reddit-button a span:first-of-type::before,
  a i.armyicons-sm_reddit,
  .armyicons-sm_reddit {
    color: #ff4500;
  }
  &.tumblr-button a span:first-of-type::before,
  a i.armyicons-sm_tumblr,
  .armyicons-sm_tumblr {
    color: #35465c;
  }
  &.sprinklr-button a span:first-of-type::before,
  a i.armyicons-sm_sprinklr,
  .armyicons-sm_sprinklr {
    color: #1877f2;
  }
  &.soundcloud-button a span:first-of-type::before,
  a i.armyicons-sm_soundcloud,
  .armyicons-sm_soundcloud {
    color: #ff5500;
  }
  &.slideshare-button a span:first-of-type::before,
  a i.armyicons-sm_slideshare,
  .armyicons-sm_slideshare {
    color: #E68523;
  }
}

.social-button a,
.social-button-white a {
  &:not(.no-hover):hover,
  &:not(.no-hover):focus {
    span:first-of-type::before {
      color: map.get(colors.$army-branding, gold);
      background: none;
      -webkit-text-fill-color: inherit;
    }
  }
}
.social-button-gold-lg a {
  span:first-of-type::before {
    color: map.get(colors.$army-branding, gold);
  }
  &:not(.no-hover):hover,
  &:not(.no-hover):focus {
    span:first-of-type::before {
      color: map.get(colors.$army-branding, black);
      background: none;
      -webkit-text-fill-color: inherit;
    }
  }
}
.social-button-white a span:first-of-type::before {
  color: map.get(colors.$army-branding, white);
}
.social-button-sm a span:first-of-type::before {
  font-size: 22px;
  line-height: 22px;
}
  

.nav-army-star {
  text-indent: -99999px;

  span {
    background: transparent variables.$army-logo no-repeat scroll;
    display: block;
    height: 36px;
    width: 150px;
  }
}

.play-button,
a.play-button {
  .play-button-image {
    display: inline-block;
    &::before {
      content: "\ea1c";
      font-family: 'armyicons';
      color: map.get(colors.$army-branding, white);
    }
  }
}

.plus-thick,
a.plus-thick {
  display: inline-block;
  text-decoration: none;
  &::before {
    content: "\ea0a";
    font-family: 'armyicons';
    color: map.get(colors.$army-branding, white);
  }
}

.minus-thick,
a.minus-thick {
  display: inline-block;
  text-decoration: none;
  &::before {
    content: "\ea0b";
    font-family: 'armyicons';
    color: map.get(colors.$army-branding, white);
  }
}

.plus-black,
a.plus-black {
  display: inline-block;
  text-decoration: none;
  &::before {
    content: "\ea0a";
    font-family: 'armyicons';
    color: map.get(colors.$army-branding, black);
  }
}

.minus-black,
a.minus-black {
  display: inline-block;
  text-decoration: none;
  &::before {
    content: "\ea0b";
    font-family: 'armyicons';
    color: map.get(colors.$army-branding, black);
  }
}

.toggle-button,
a.toggle-button {
  display: inline-block;
  text-decoration: none;
  transform: rotate(90deg);
  &::before {
    content: "\e90d";
    font-family: 'armyicons';
  }
  
  &.active { transform: rotate(-90deg); }
}

.directional-arrow,
a.directional-arrow {
  color: map.get(colors.$army-branding, black);
  display: inline-block;
  text-decoration: none;
  &::before {
    content: "\e90d";
    font-family: 'armyicons';
  }

  &.black-left::before {
    content: "\e90c";
  }

  &.gray-left {
    color: map.get(colors.$army-branding, grey60);
    &::before {
      content: "\e90c";
    }
  }

  &.gray-right {
    color: map.get(colors.$army-branding, grey60);
  }
}
