.custom-select {
  background-color: #fff;
  border: 1px solid map-get($army-branding, grey30);
  font: 700 0.875em $font-family;
  position: relative;
  @include box-sizing(content-box);

  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    // creates 1px wide grey bar, 45px from right side...
    // @include custom-linear-gradient(to left, transparent 45px, map-get($army-branding, grey30) 45px, map-get($army-branding, grey30) 46px, transparent 46px);
    border-radius: 0;
    border-width: 0;
    font: inherit;
    height: 54px;
    padding: 0 50px 0 20px;
    position: relative;
    text-transform: uppercase;
    width: 100%;
    z-index: 1;

    &::-ms-expand { /* for IE 11 */
      display: none;
    }

    option {
      font-family: "Arial";
      padding: 8px;
      text-transform: none;
    }
  }

  // grey line
  &::before {
    border-right: 1px solid map-get($army-branding, grey30);
    background-color: #fff;
    content: '';
    display: block;
    height: 24px;
    margin-top: -12px;
    position: absolute;
    right: 49px;
    top: 50%;
    width: 1px;
    z-index: 2;
  }
  // ie9 hack to hide the default select dropdown arrow
  &.ie9::before {
    height: 100%;
    margin-top: 0;
    top: 0;
    width: 20px;
  }
  // down arrow
  &::after {
    background: transparent $social-button-sprite no-repeat scroll -169px -50px;
    content: "";
    height: 8px;
    margin-top: -4px;
    position: absolute;
    right: 19px;
    top: 50%;
    width: 11px;
  }
  .custom-overlay,
  .custom-options { display: none; }

  @include breakpoints(sm_desktop desktop large really_big) {
    .custom-overlay {
      position: absolute;
      cursor: pointer;
      z-index: 1;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      display: block;
    }
    .custom-options {
      background-color: #ffffff;
      border: 1px solid map-get($army-branding, grey30);
      left: -1px;
      max-height: 275px;
      overflow-x: hidden;
      overflow-y: auto;
      position: absolute;
      width: 100%;
      z-index: 2;
      @include box-sizing(content-box);

      ul {
        li {
          border-bottom: 1px solid map-get($army-branding, grey30);
          cursor: pointer;
          font-weight: 600;
          padding: 11px 20px 8px;
          text-transform: uppercase;

          @include custom-transition(background-color .25s ease);

          &:last-child { border-width: 0; }

          &:hover { background-color: map-get($army-branding, gold); }
        }
      }
    }
    &.show-options {
      .custom-options { display: block; }
      
      &::after { background-position: -181px -50px; }
    }
  }
}