// File Name: _footer.scss
// Description: global footer styles
// Used by: Page.scss
// Dependencies:
// ------------------------------------------------------------

.main {
  background: map-get($army-branding, white);
  margin-bottom: 0;
  overflow: hidden;
  z-index: 1;
  position: relative;

  @include breakpoints(lg_tablet sm_desktop desktop large really_big) {
    margin-bottom: 13.750em;
  }
}

footer {
  background: map-get($army-branding, black);
  bottom: 0;
  left: 0;
  padding: 60px 0;
  position: fixed;
  width: 100%;
  z-index: 0;

  @include breakpoints(mobile nav tablet) {
    position: relative;
  }
  
  section {
    margin: 0;
    
    a { outline: 0 none; }
  }

  .footer-bottom {
    font-size: .84em;
    padding: 25px 0 0;
    text-align: center;
    text-transform: uppercase;
  
    ul {
      li {
        display: inline-block;
        margin: 0 10px;
      }
      
      a {
        color: map-get($army-branding, white);
        display: inline-block;
        line-height: 2.5;
        position: relative;
        text-decoration: none;
        
        &:after {
          background: map-get($army-branding, white);
          bottom: 2px;
          content: '';
          height: 1px;
          left: 0;
          position: absolute;
          width: 0;
          
          @include custom-transition(width .25s ease);
        }
      }
    }
  }

  @include breakpoints(lg_tablet sm_desktop desktop large really_big) {
    .footer-bottom {
      ul {
        li {
          a { line-height: normal; }

          a:hover,
          a:focus {
            &:after { width: 100%; }
          }
        }
      }
    }
  }
}
