

.headlines {
  
  ul {
    li {
      margin: 0 0 25px;
      overflow: hidden;
      
      &:last-child { border: 0; margin: 0; padding: 0; }
      
      .date {
        color: map-get($army-branding, grey50);
        padding-right: 15px;
        text-transform: uppercase;
      }
      
      a {
        padding-right: 19px;
        
        span {
          margin-right: -19px;
        }
        
        &:hover { text-decoration: none; }
      }
      
      a, .date { display:block; }
    }
  }
  
  @include breakpoints(lg_tablet sm_desktop desktop large really_big) {
    ul li {
      a {
        span {
          @include opacity(0);
          margin-left: 40px;
          @include custom-transition(opacity .25s ease, margin-left .25s ease);
        }
        
        &:hover, &:focus {
          span {
            @include opacity(1);
            margin-left: 5px;
          }
        }
      }
    }
  }
  
  @include breakpoints(tablet lg_tablet sm_desktop desktop large really_big) {
    ul li {
      display: table;

      a, .date {
        display: table-cell;
        font: 600 1em/1.375em $font-family;
      }
      
      .date { width: 130px; }
    }
  }
  
  @include breakpoints(mobile nav) {
    ul li {
      border-bottom: 1px solid map-get($army-branding, grey20);
      padding-bottom: 20px;
      
      .date {
        font: 400 .875em $font-family;
        margin: 0 0 5px;
      }
    }
  }
}