

.headlines {
  
  ul {
    li {
      margin: 0 0 25px;
      overflow: hidden;
      
      &:last-child { border: 0; margin: 0; padding: 0; }
      
      .date {
        color: map-get($army-branding, grey50);
        padding-right: 15px;
        text-transform: uppercase;
      }
      
      a {
        padding-right: 23px;

        .view-more-arrow-sm { display: none; }

        &:after {
          background: transparent $social-button-sprite no-repeat scroll -442px 0;
          content: "";
          height: 12px;
          margin-left: 9px;
          margin-top: 7px;
          position: absolute;
          vertical-align: middle;
          width: 14px;
        }
        &:hover { text-decoration: none; }
      }
      
      a, .date { display:block; }
    }
  }
  
  @include breakpoints(lg_tablet sm_desktop desktop large really_big) {
    ul li {
      a {
        padding-right: 54px;

        &:after {
          @include opacity(0);
          @include transform(translateX, 40px);
          @include custom-transition(all .25s ease);
        }

        &:hover, &:focus {
          &:after {
            @include opacity(1);
            @include transform(translateX, 0);
          }
        }
      }
    }
  }
  
  @include breakpoints(tablet lg_tablet sm_desktop desktop large really_big) {
    ul li {
      display: table;
      width: 100%;

      a, .date {
        display: table-cell;
        font: 600 1em/1.375em $font-family;
      }
      
      .date { width: 140px; }

      a:after { margin-top: 5px; }
    }
  }
  
  @include breakpoints(mobile nav) {
    ul li {
      border-bottom: 1px solid map-get($army-branding, grey20);
      padding-bottom: 20px;
      
      .date {
        font: 400 .875em $font-family;
        margin: 0 0 5px;
      }
    }
  }
}