@use "../base/colors";
@use "../base/variables";
@use "../layout/grid-system";
@use "../base/mixins/breakpoints";
@use "../base/mixins/box-model";
@use "../base/mixins/transform";
@use "../base/mixins/replace-text";
@use "../base/mixins/opacity";
@use "../base/mixins/animations";
@use "../base/custom-mixins/custom-transition";

// File Name: _header.scss
// Description: global header styles
// Used by: Page.scss
// Dependencies:
// base/mixins
// base/custom-mixins
// modules/usagov-sayt
// ------------------------------------------------------------

// ----------------------------------------------------------------------
// Modules
// ----------------------------------------------------------------------
@use "sass:color";
@use "sass:map";
@use "../modules/usagov-sayt";
@use "../modules/armybrand";
@use "../modules/official-gov-banner";

// ----------------------------------------------------------------------
// CSS
// ----------------------------------------------------------------------


$header-height: 56px;
$header-border-width: 2px;

body.menu-open,
html.menu-open { overflow: hidden; }

body.menu-open {
  width: 100%;

  @include breakpoints.breakpoints(lg_tablet sm_desktop desktop large really_big) {
    overflow-y: auto;

    .navbar { overflow: hidden; }

    header {
      .navbar {
        height: $header-height + $header-border-width;
        overflow-y: auto;
      }

      .menu-window {
        overflow-y: auto;
        width: 100%;
      }
    }
  }
}

body.menu-open header.scrolled-down .navbar {
  @include transform.transform(translateY, 0);
}

header *,
header *:after,
header *:before {
  @include box-model.box-sizing(content-box);
}

header {
  a:focus,
  a:hover { text-decoration: none; }
  
  ul { line-height: 1.375em; }
}

header {
  font-family: variables.$font-family;
  height: $header-height + $header-border-width;
  left: 0;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 100;

  .nav-army-star {
    background: map.get(colors.$army-branding, armyblack);
    left: 50%;
    line-height: 0;
    position: absolute;
    z-index: 1;
    display: flex;
    align-content: center;
    height: $header-height - 3px;
    padding: 0 10px 3px;
    flex-wrap: wrap;
    max-width: 45%;
    @include transform.transform(translateX, -50%);
    
    span {
      transition: transform 0.1s ease;
    }

    &:hover span{
      transform: scale(1.1);
    }
  }

  .search-form-container {
    line-height: 82px;
    padding: 0 55px 0 20px;
    position: relative;

    div {
      height: 0;
      width: 0;
    }

    label {
      display: block;
      margin: 0;
      @include replace-text.replace-text;
    }

    input.usagov-search-autocomplete {
      border: 0 none;
      color: map.get(colors.$army-branding, grey70);
      font: 400 .938em/2 variables.$font-family;
      height: 30px;
      outline: none;
      padding: 0 10px;
      width: 100%;

      @include box-model.box-sizing(border-box);
    }

    .search-submit-button {
      padding: 0;
      position: absolute;
      right: 19px;
      top: 30px;
    }
  }

  .navbar {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    .navbar-container {
      background: map.get(colors.$army-branding, armyblack);
      border-bottom: $header-border-width solid map.get(colors.$army-branding, gold);
      height: $header-height;
    }
  }

  @include breakpoints.breakpoints(mobile nav) {
    .navbar { @include custom-transition.custom-transition(transform .4s ease); }

    &.scrolled-down .navbar {
      @include transform.transform(translateY, -130%);
    }
  }


  .nav-window {
    background-color: map.get(colors.$army-branding, armyblack);
    left: 0;
    position: fixed;
    right: 0;
    top: 0;

    @include transform.transform(translateY, -100%);
    @include custom-transition.custom-transition(transform .25s ease);

    &.search-window {
      position: sticky;
      height: 82px;
    }

    &.menu-window {
      height: 100%;
      overflow: auto;
      -webkit-overflow-scrolling:touch;
    }

    &.open-window {
      top: $header-height + $header-border-width;
      @include transform.transform(translateY, 0);
    }
  }

  .menu-container {
    margin: 0 0 $header-height + $header-border-width;
    overflow: hidden;
    padding: 30px 30px 60px;



    .list-container > ul {
      margin: 0;

      > li {
        border-bottom: 1px solid map.get(colors.$army-branding, grey80);

        &.social {
          border-bottom-width: 0;

          ul {
            display: block;
            margin: 0 auto;

            // 8px + 15px padding on the anchor + 10px padding top on .quicklinks makes it even
            padding: 18px 0 8px;
            text-align: center;

            li {
              vertical-align: top;

              a {
                line-height: 0;
                padding: 15px 10px;
                width: 28px;
                text-align: center;
                vertical-align: top;
              }
            }
          }
        }

        input[type=checkbox] {
          position: absolute;
          left: -10000px;
        }

        a { outline: 0 none; }

        label {
          color: map.get(colors.$army-branding, grey20);
          display: block;
          font-size: 1.125em;
          font-weight: 700;
          letter-spacing: .05em;
          outline: 0 none;
          padding: 25px 10px;
          position: relative;
          text-decoration: none;
          text-transform: uppercase;
          border: none;
          background-color: transparent;

          // iOS Safari had an issue where it would resize the text automatically.
          // This should prevent it.
          -webkit-text-size-adjust: none;

          span {
            height: 18px;
            position: absolute;
            right: 12px;
            top: 26px;
            width: 12px;
            font-size: 14px;
            &::before {
              content: "\ea0a";
              font-family: 'armyicons';
            }
          }
        }

        ul li a {
          display: inline-block;
          text-decoration: none;
        }
      }
    } // end .list-container > ul

    .quicklinks {
      li {
        padding-top: 10px;

        a {
          background: map.get(colors.$army-branding, grey80);
          color: map.get(colors.$army-branding, grey20);
          display: block;
          text-decoration: none;
          text-transform: uppercase;
          white-space: nowrap;
        }
      }
    }

    @include breakpoints.breakpoints(mobile nav tablet) {
      .list-container > ul > li {

        ul {
          // display: none;
          max-height: 0px;
          overflow: hidden;
          padding: 0;
          transition: all .25s ease-in;

          li a {
            // add padding to the anchor tag
            // to make the clickable area bigger
            padding: 10px 30px;
            color: map.get(colors.$army-branding, grey20);
          }
        }

        input[type=checkbox]:checked ~ ul {
          // display: block;
          max-height: 300px;
          padding: 18px 0;
        }

        input[type=checkbox]:checked ~ label {
          border-bottom: 1px solid map.get(colors.$army-branding, grey80);

          span::before { 
            content: "\ea0b";
          }
        }
      }
    }

    @include breakpoints.breakpoints(mobile) {
      .quicklinks li {
        text-align: center;
        a {
          font-size: .813em;
          margin: 0 auto;
          padding: 25px 0;
        }
      }
    }

    @include breakpoints.breakpoints(nav tablet lg_tablet) {
      .quicklinks {
        @include grid-system.row(true);

        *,
        *:after,
        *:before { @include box-model.box-sizing(border-box); }

        li {
          float: left;
          padding-left: 15px;
          padding-right: 15px;
          width: 50%;
          text-align: center;
          &:nth-child(2n+3) {
            clear: left;
          }
          /* END span-clear styles */

          &:nth-child(2n) { padding-left: 5px; }
          &:nth-child(2n+1) { padding-right: 5px; }

          a {
            font-size: .813em;
            margin: 0 auto;
            padding: 25px 0;
          }
        }
      }
    }

    @include breakpoints.breakpoints(lg_tablet sm_desktop desktop large really_big) {
      padding: 60px;

      .list-container {

        > ul {
          display: table;
          margin-bottom: 1.25em;
          width: 100%;

          > li {
            border-bottom-width: 0;
            display: table-cell;
            vertical-align: top;
            width: 33.3333%;

            label {
              color: map.get(colors.$army-branding, gold);
              padding: 0 0 15px;

              span {
                background: map.get(colors.$army-branding, white);
                background-image: none;
                bottom: 0;
                height: 1px;
                left: 0;
                right: auto;
                top: auto;
                width: 40px;
                &::before {
                  content: "";
                }
              }
            }

            ul {
              padding: .469em 0 .781em;

              li {

                a {
                  color: map.get(colors.$army-branding, white);
                  padding: .469em 45px .469em 0;
                  position: relative;

                  @include custom-transition.custom-transition(color .2s linear 0s);

                  &:after {
                    content: "\ea3c";
                    font-family: 'armyicons';
                    color: map.get(colors.$army-branding, gold);

                    height: 17px;
                    margin-left: 30px;
                    position: absolute;
                    width: 15px;

                    @include opacity.opacity(0);

                    @include custom-transition.custom-transition(margin .2s linear 0s, opacity .2s linear 0s);
                  }

                  &:hover,
                  &:focus {
                    color: map.get(colors.$army-branding, gold);

                    &:after {
                      margin-left: 10px;
                      @include opacity.opacity(1);
                    }
                  }
                }
              }
            }

            &.social ul {
              margin-left: -5px;
              max-width: 150px;
              padding: 0;
              text-align: left;

              li {
                line-height: 0;
                margin: 0 9px 24px 0;
                padding: 0;

                a {
                  padding: 3px 5px;

                  &:after { content: none; }
                }

              }
            }
          }
        } // end ul
      } // end .list-container
    } // end breakpoints(lg_tablet sm_desktop desktop large really_big)

    @include breakpoints.breakpoints(sm_desktop desktop large really_big) {
      .list-container {
        float: left;
        width: 80%;
      }

      .quicklinks {
        float: left;
        width: 20%;

        li {

          &:first-child { padding-top: 0; }

          a {
            font-size: .938em;
            font-weight: 700;
            outline: 0 none;
            padding: 20px;
            position: relative;

            @include custom-transition.custom-transition(background .2s linear 0s, color .2s linear 0s);

            &:hover,
            &:focus {
              background: color.adjust(map.get(colors.$army-branding, grey90), $lightness: 6.25%); //#2a2a2a;
              color: map.get(colors.$army-branding, gold);
            }

            &:after {
              content: "\ea3c";
              font-family: 'armyicons';
              color: map.get(colors.$army-branding, gold);
              font-size: 16px;
              height: 17px;
              position: absolute;
              right: 20px;
              top: 20px;
              width: 15px;
            }
          }
        }
      } // end .quicklinks
    } // end breakpoints(sm_desktop desktop large really_big)

    @include breakpoints.breakpoints(sm_desktop) {
      .list-container{
        width: 75%;
      }
      .quicklinks {
        width: 25%;
      }
    }

    @include breakpoints.breakpoints(desktop) {
      .list-container{
        width: 78%;
      }
      .quicklinks {
        width: 22%;
      }
    }
  }

  .nav-button {
    border-style: solid;
    border-color: map.get(colors.$army-branding, grey80);
    color: map.get(colors.$army-branding, white);
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    line-height: 23px;
    outline: 0 none;
    padding: 17px 20px 15px;
    position: absolute;
    text-decoration: none;
    text-transform: uppercase;
  
    span {
      display: none;
    }
  
    &.menu-button {
      border-width: 0 1px 0 0;
      left: 0;
  
      &::before {
        content: "\e96d";
        font-family: 'armyicons';
        color: map.get(colors.$army-branding, white);
        font-size: 32px;
        -webkit-font-smoothing: none;
        -moz-osx-font-smoothing: grayscale;
        font-weight: normal;
        position: relative;
        line-height: 7px;
        top: 7px;
      }
    }
  
    &.search-button {
      border-width: 0 0 0 1px;
      right: 0;
  
      &::after {
        content: "\e96e";
        font-family: 'armyicons';
        color: map.get(colors.$army-branding, white);
        font-size: 28px;
        font-weight: normal;
        position: relative;
        line-height: 7px;
        top: 7px;
      }
    }
  
    @include breakpoints.breakpoints(lg_tablet sm_desktop desktop large really_big) {
      &.menu-button, &.search-button {
        border: none;
        span {
          display: inline;
        }
      }
  
      &::before {
        margin-right: 10px;
      }
      &::after {
        margin-left: 10px;
      }
      &.close-button.menu-button::before {
        margin-right: 10px;
      }
      &.close-button.search-button::after {
        margin-left: 10px;
      }
    }
  
    &.close-button {
      &.black-close span::before,
      &.black-close span::after {
        color: map.get(colors.$army-branding, black);
      }
    }
  
    &.close-button {
      &.menu-button::before {
        content: "\e96f";
        font-size: 26px;
        top: 5px;
        left: 0px;
        width: 33px;
        display: inline-block;
        text-align: center;
      }
      &.search-button::after {
        content: "\e96f";
        font-size: 26px;
        top: 5px;
        width: 29px;
        display: inline-block;
        text-align: center;
      }
    }
  }

  // end header
}

// Mixins
@include animations.slideInDown;

@include animations.slideInUp;
