@use "../base/colors";
@use "../base/variables";
@use "../base/mixins/breakpoints";

@use "sass:map";
.leaders {
  li {
    border: 2px solid map.get(colors.$army-branding, grey50);
    margin: 0 0 30px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    
    &:last-child { margin: 0; }

    .leaders-img {
      min-width: 100px;
      max-width: 100%;
    }

    .leaders-content {
      flex-grow: 1;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 20px;
      width: 100%;
    }

    .leaders-text {
      width: 100%;
      text-align: center;
      flex-grow: 1;
      .leaders-heading {
        color: colors.$dark-gray-color;
        font: 400 1em variables.$font-family;
        margin: 0 0 10px;
        text-transform: uppercase;
      }
      span.leaders-heading {
        display: block;
      }
      
      .leaders-title {
        color: colors.$primary-text-color;
        font: 700 1.313em variables.$font-family;
      }
    }

    @include breakpoints.breakpoints(nav) {
      justify-content: space-between;
      flex-wrap: nowrap;

      .leaders-img {
        width: 100px;
        flex-shrink: 0;
      }
      .leaders-content {
        width: auto;
      }
      // styles below ensure old markup still looks OK (when leaders-content div is missing)
      .leaders-text {
        text-align: left;
      }
      .leaders-content .leaders-text {
        text-align: center;
      }
    }

    @include breakpoints.breakpoints(tablet lg_tablet sm_desktop desktop large really_big) {
      justify-content: space-between;
      flex-wrap: nowrap;

      .leaders-img {
        width: 100px;
        flex-shrink: 0;
      }
      .leaders-content {
        width: auto;
        flex-wrap: nowrap;
        justify-content: space-between;
      }
      .leaders-text {
        text-align: left;
        width: auto;
      }
    }
  }
}