.links-list,
.simple-list {
  @include bodytext-list();
  @include row(true);
  margin-bottom: 1.625em;

  &:last-child {
    margin-bottom: 0;
  }

  > ul, > ol {
    @include span(12);

    &[class$="column"] {
      margin-bottom: 14px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @include breakpoints(lg_tablet sm_desktop desktop large really_big) {
      &[class$="column"] {
        @include span(6);
        margin-bottom: 0;
      }
    }
  }
}

.links-list {
  ul, ol {
    li a {
      font-weight: 400;
      position: relative;
      top: 2px;
    }
  }
}
