@use "../base/bodytext";
@use "../layout/grid-system";
@use "../layout/grid-system-spans";
@use "../base/mixins/breakpoints";

.links-list,
.simple-list {
  @include bodytext.bodytext-list();
  @include grid-system.row(true);
  & {
    margin-bottom: 1.625em;
  }

  &:last-child {
    margin-bottom: 0;
  }

  > ul, > ol {
    @include grid-system-spans.span(12);

    &[class$="column"] {
      margin-bottom: 14px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @include breakpoints.breakpoints(lg_tablet sm_desktop desktop large really_big) {
      &[class$="column"] {
        @include grid-system-spans.span(6);
        & {
          margin-bottom: 0;
        }
      }
    }
  }
}

.links-list {
  ul, ol {
    li a {
      font-weight: 400;
      position: relative;
      top: 2px;
    }
  }
}
