@use "../base/colors";

@use "sass:map";
.main-intro {
  background: colors.$secondary-background-color;
  position: relative;
  z-index: 1;
  
  .container h2 { color: map.get(colors.$army-branding, gold); }
}