.notification-contain {
  margin: 8px 8px 0;
  position: relative;
  
  .notification {
    background-color: lighten(map-get($army-branding, gold), 20);
    display: table;
    height: 60px;
    padding: 0;
    text-align: left;
    width: 100%;
    
    &:hover { text-decoration: none; }
    
    .view-more-arrow-sm {
      margin-right: -19px;
    }
    
    &.hide { display: none; }
    
    .notification-title,
    .notification-header {
      font: 700 1em/1.3 $font-family;
      display: table-cell;
    }
    
    .notification-title {
      padding: 3px 60px 0 15px;
      vertical-align: middle;
    }
    
    .notification-header {
      background: map-get($army-branding, gold);
      overflow: hidden;
      padding: 3px 15px 0;
      text-overflow: ellipsis;
      text-transform: uppercase;
      vertical-align: middle;
      white-space: nowrap;
      width: 1px;
      
      @include breakpoints(nav) {
        max-width: 160px;
      }
      @include breakpoints(tablet) {
        max-width: 250px;
      }
      @include breakpoints(lg_tablet) {
        max-width: 350px;
      }
    }
    
    @include breakpoints(lg_tablet sm_desktop desktop large really_big) {
      .notification-title,
      .notification-header {
        font: 700 1.125em/1.3 $font-family;
      }
      
      .view-more-arrow-sm {
        @include opacity(0);
        margin-left: 40px;
        @include custom-transition(opacity .25s ease, margin-left .25s ease);
      }
      
      &:hover, &:focus {
        .view-more-arrow-sm {
          @include opacity(1);
          margin-left: 5px;
        }
      }
    }
    
    @include breakpoints(mobile) {
      display: block;
      height: auto;
      
      .notification-header,
      .notification-title { display: block; }
      
      .notification-title { padding: 10px; }
      
      .notification-header {
        line-height: 40px;
        padding: 0 45px 0 10px;
        width: auto;
      }
    }
  }
  .notification-close {
    position: absolute;
    right: 0;
    top: 0;
    
    a.notification-button.close-button {
      display: block;
      padding: 18px 20px;
      position: static;
      width: auto;
      
      @include breakpoints(mobile) {
        padding: 8px 15px;
      }
    }
  }
}

