section {
  overflow: hidden;

  &#main {
    background: map-get($army-branding, white);
    margin-bottom: 0;
    z-index: 1;

    @include breakpoints(lg_tablet sm_desktop desktop large really_big) {
      margin-bottom: 13.802em;
    }
  }
}
