

blockquote {
  position: relative;
  
  &:before, &:after {
    content: '';
    height: 60px;
    position: absolute;
    width: 82px;
    z-index: 0;
  }
  
  &:before {
    background: transparent $social-button-sprite no-repeat -330px -100px;
    left: 0;
    top: -20px;
  }
  
  &:after {
    background: transparent $social-button-sprite no-repeat -413px -100px;
    bottom: -20px;
    right: 0;
  }
}

.quote {
  border-bottom: 1px solid map-get($army-branding, grey10);
  border-top: 1px solid map-get($army-branding, grey10);
  text-align: center;
  
  @include repeating-gradient(map-get($army-branding, white), map-get($army-branding, grey10));
  
  blockquote {
    font: 600 1.5em/1.5em $font-family;
    margin: 20px 0;
    
    p {
      margin: 0 30px;
      position: relative;
      z-index: 1;
    }
  }
  
  p {
    font: 600 1.125em $font-family;
    margin: 25px 0 0;
  }
  
  @include breakpoints(tablet nav mobile) {
    blockquote { font: 600 1.3em $font-family; }
    p { font: 600 1em $font-family; }
  }
}


