.rich-text-element {
  .ql-clipboard {
    display: none;
  }

  p {
    font-size: 1.125em;
    margin: 1.4em 0;
  }

  ul li,
  ol li {
    font-size: 1.125em;
    margin: .55em 0 .55em 20px;
  }

  // "header" style
  h2 {
    font-size: 1.875em;
    line-height: 1.333em;

    @include breakpoints(sm_desktop desktop large really_big) {
      font-size: 2.25em;
      line-height: 1.333em;
    }

    margin: 0.675em 0;
    text-transform: none;
    font-weight: 600;
    text-align: left;
  }

  // "subheader" style
  h5 {
    font-size: 1.313em;
    line-height: 1.4em;
  
    @include breakpoints(tablet lg_tablet sm_desktop desktop large really_big) {
      font-size: 1.5em;
      line-height: 1.5em;
    }
    margin: 1em 0;
    text-transform: none;
    font-weight: 600;
    text-align: left;
  }

  .ql-editor blockquote,
  blockquote {
    border-left: 4px solid map-get($army-branding, gold);
    padding: 0 0 0 1.25em;
    margin: 2em 0;
    font-size: 1.125em;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5em;
    color: map-get($army-branding, black);
    @include breakpoints(lg_tablet sm_desktop desktop large really_big) {
      margin: 2em;
    }
  }

  .editor-image.photo-slideshow,
  .editor-video .playlist {
    padding: 0;
    margin: 0 0 1.4em;
  }

  .editor-image {
    &.photo-grid,
    &.single {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 0.7em;

      figure {
        width: 100%;

        .img-container {
          background: #ddd;
          display: block;
          height: 0;
          padding: 66.25% 0 0;
          position: relative;
          z-index: 0;
          overflow: hidden;
          margin-bottom: 0.7em;

          img {
            top: -2000000px;
            bottom: -2000000px;
            left: -2000000px;
            right: -2000000px;
            margin: auto;
            position: absolute;
            max-width: 100%;
          }

          a {
            &:before {
              content: '';
              position: absolute;
              width: 20px;
              height: 20px;
              right: 8px;
              bottom: 11px;
              z-index: 1;
              @include custom-transition(opacity .25s ease);
              background: transparent $social-button-sprite no-repeat scroll -337px -51px;
              box-shadow: 0 0 5px rgba(0,0,0,.5);
              opacity: 0.5;
            }

            &:hover:before,
            &:focus:before {
              opacity: 1;
            }
          }
        }

        // @include img-grayscale-hover('a');
        @include breakpoints(lg_tablet sm_desktop desktop large really_big) {
          width: 49%;
        }

        figcaption {
          display: none;
        }
      }
    }

    // make the first image full width, if odd number of grid images or single
    &.photo-grid.odd-number,
    &.single {
      .centered-image {
        text-align: center;
        display: block;
      }
      figure:first-child {
        width: 100%;
        .img-container {
          padding: 0;
          height: auto;
          display: inline-block;
          img {
            width: auto;
            max-width: 100%;
            max-height: 100vh;
            position: static;
            display: block;
            min-width: 0;
            min-height: 0;
          }
        }
      }
    }
  }

  .editor-video {
    .media-caption {
      p {
        color: map-get($army-branding, grey60);
        font-size: 0.875em;
        margin: 10px 0 0;
        &:after {
          background-color: map-get($army-branding, gold);
          content: '';
          height: 2px;
          width: 40px;
          display: block;
          margin-top: 10px;
        }
      }
    }
  }

  .ql-editor > :first-child {
    margin-top: 0;
  }
}