.rich-text-element,
.rich-text-element .ql-editor {
  .ql-clipboard {
    display: none;
  }

  p, ul, ol {
    font-size: 1.125em;
    margin: 1.4em 0;
  }
  ul, ol {
    padding-left: 1em;
    // for any nested list (otherwise font-size compounds)
    ul, ol {
      font-size: inherit;
    }
    li {
      margin: 0 0 0.5em 0;
    }
  }

  // Quill 1 and 2 styles for unordered list
  ol li[data-list=bullet],
  ul li {
    list-style-type: disc;
    margin-left: 1.2em;
    padding-left: 0.8em;

    >.ql-ui {
      display: none;
    }
    &::before {
      display: none;
    }
    &.ql-indent-1 {
      list-style-type: circle;
      margin-left: 3.2em;
    }
    &.ql-indent-2 {
      list-style-type: square;
      margin-left: 5.2em;
    }
    &.ql-indent-3 {
      list-style-type: disc;
      margin-left: 7.2em;
    }
    &.ql-indent-4 {
      list-style-type: circle;
      margin-left: 9.2em;
    }
    &.ql-indent-5 {
      list-style-type: square;
      margin-left: 11.2em;
    }
    &.ql-indent-6 {
      list-style-type: disc;
      margin-left: 13.2em;
    }
    &.ql-indent-7 {
      list-style-type: circle;
      margin-left: 15.2em;
    }
    &.ql-indent-8 {
      list-style-type: square;
      margin-left: 17.2em;
    }
    &.ql-indent-9 {
      list-style-type: disc;
      margin-left: 19.2em;
    }
  }

  // Quill 1 styles for ordered list
  ol li:not([data-list=bullet], [data-list=ordered]) {
    list-style-type: none;
    counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
    counter-increment: list-0;
    margin-left: 0;
    padding-left: 0;
    &::before {
      display: inline-block;
      white-space: nowrap;
      width: 1.8em;
      margin-left: 0;
      margin-right: 0.2em;
      text-align: left;
      padding-left: 0;
      content: counter(list-0, decimal) '. ';
    }
    &.ql-indent-1 {
      counter-reset: list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
      counter-increment: list-1;
      padding-left: 2em;
      &:before {
        content: counter(list-1, lower-alpha) '. ';
      }
    }
    &.ql-indent-2 {
      counter-reset: list-3 list-4 list-5 list-6 list-7 list-8 list-9;
      counter-increment: list-2;
      padding-left: 4em;
      &:before {
        content: counter(list-2, lower-roman) '. ';
      }
    }
    &.ql-indent-3 {
      counter-reset: list-4 list-5 list-6 list-7 list-8 list-9;
      counter-increment: list-3;
      padding-left: 6em;
      &:before {
        content: counter(list-3, decimal) '. ';
      }
    }
    &.ql-indent-4 {
      counter-reset: list-5 list-6 list-7 list-8 list-9;
      counter-increment: list-4;
      padding-left: 8em;
      &:before {
        content: counter(list-4, lower-alpha) '. ';
      }
    }
    &.ql-indent-5 {
      counter-reset: list-6 list-7 list-8 list-9;
      counter-increment: list-5;
      padding-left: 10em;
      &:before {
        content: counter(list-5, lower-roman) '. ';
      }
    }
    &.ql-indent-6 {
      counter-reset: list-7 list-8 list-9;
      counter-increment: list-6;
      padding-left: 12em;
      &:before {
        content: counter(list-6, decimal) '. ';
      }
    }
    &.ql-indent-7 {
      counter-reset: list-8 list-9;
      counter-increment: list-7;
      padding-left: 14em;
      &:before {
        content: counter(list-7, lower-alpha) '. ';
      }
    }
    &.ql-indent-8 {
      counter-reset: list-9;
      counter-increment: list-8;
      padding-left: 16em;
      &:before {
        content: counter(list-8, lower-roman) '. ';
      }
    }
    &.ql-indent-9 {
      counter-increment: list-9;
      padding-left: 18em;
      &:before {
        content: counter(list-9, decimal) '. ';
      }
    }
  }
  
  // Quill 2 styles for ordered list
  ol li[data-list=ordered] {
    list-style-type: none;
    counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
    counter-increment: list-0;
    margin-left: 0;
    padding-left: 0;
    >.ql-ui {
      position: relative;
      &:before {
        display: inline-block;
        white-space: nowrap;
        width: 1.8em;
        margin-left: 0;
        margin-right: 0.2em;
        text-align: left;
        padding-left: 0;
        content: counter(list-0, decimal) '. ';
      }
    }
    &.ql-indent-1 {
      counter-reset: list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
      counter-increment: list-1;
      padding-left: 2em;
      >.ql-ui:before {
        content: counter(list-1, lower-alpha) '. ';
      }
    }
    &.ql-indent-2 {
      counter-reset: list-3 list-4 list-5 list-6 list-7 list-8 list-9;
      counter-increment: list-2;
      padding-left: 4em;
      >.ql-ui:before {
        content: counter(list-2, lower-roman) '. ';
      }
    }
    &.ql-indent-3 {
      counter-reset: list-4 list-5 list-6 list-7 list-8 list-9;
      counter-increment: list-3;
      padding-left: 6em;
      >.ql-ui:before {
        content: counter(list-3, decimal) '. ';
      }
    }
    &.ql-indent-4 {
      counter-reset: list-5 list-6 list-7 list-8 list-9;
      counter-increment: list-4;
      padding-left: 8em;
      >.ql-ui:before {
        content: counter(list-4, lower-alpha) '. ';
      }
    }
    &.ql-indent-5 {
      counter-reset: list-6 list-7 list-8 list-9;
      counter-increment: list-5;
      padding-left: 10em;
      >.ql-ui:before {
        content: counter(list-5, lower-roman) '. ';
      }
    }
    &.ql-indent-6 {
      counter-reset: list-7 list-8 list-9;
      counter-increment: list-6;
      padding-left: 12em;
      >.ql-ui:before {
        content: counter(list-6, decimal) '. ';
      }
    }
    &.ql-indent-7 {
      counter-reset: list-8 list-9;
      counter-increment: list-7;
      padding-left: 14em;
      >.ql-ui:before {
        content: counter(list-7, lower-alpha) '. ';
      }
    }
    &.ql-indent-8 {
      counter-reset: list-9;
      counter-increment: list-8;
      padding-left: 16em;
      >.ql-ui:before {
        content: counter(list-8, lower-roman) '. ';
      }
    }
    &.ql-indent-9 {
      counter-increment: list-9;
      padding-left: 18em;
      >.ql-ui:before {
        content: counter(list-9, decimal) '. ';
      }
    }
  }

  // "header" style
  h2 {
    font-size: 1.875em;
    line-height: 1.333em;

    @include breakpoints(sm_desktop desktop large really_big) {
      font-size: 2.25em;
      line-height: 1.333em;
    }

    margin: 0.675em 0;
    text-transform: none;
    font-weight: 600;
    text-align: left;
  }

  // "subheader" style
  h5 {
    font-size: 1.313em;
    line-height: 1.4em;
  
    @include breakpoints(tablet lg_tablet sm_desktop desktop large really_big) {
      font-size: 1.5em;
      line-height: 1.5em;
    }
    margin: 1em 0;
    text-transform: none;
    font-weight: 600;
    text-align: left;
  }

  .ql-editor blockquote,
  blockquote {
    border-left: 4px solid map-get($army-branding, gold);
    padding: 0 0 0 1.25em;
    margin: 2em 0;
    font-size: 1.125em;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5em;
    color: map-get($army-branding, armyblack);
    @include breakpoints(lg_tablet sm_desktop desktop large really_big) {
      margin: 2em;
    }
  }

  .editor-image.photo-slideshow,
  .editor-video .playlist {
    padding: 0;
    margin: 0 0 1.4em;
  }

  .editor-image {
    &.photo-grid,
    &.single {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 0.7em;

      figure {
        width: 100%;

        .img-container {
          background: #ddd;
          display: block;
          height: 0;
          padding: 66.25% 0 0;
          position: relative;
          z-index: 0;
          overflow: hidden;
          margin-bottom: 0.7em;

          img {
            top: -2000000px;
            bottom: -2000000px;
            left: -2000000px;
            right: -2000000px;
            margin: auto;
            position: absolute;
            max-width: 100%;
          }

          a {
            &:before {
              position: absolute;
              z-index: 1;
              @include custom-transition(opacity .25s ease);
              opacity: 0.5;
              content: "\e976";
              font-family: 'armyicons';
              color: map-get($army-branding, white);
              font-size: 31px;
              -webkit-font-smoothing: none;
              -moz-osx-font-smoothing: grayscale;
              width: auto;
              height: auto;
              line-height: normal;
              right: 10px;
              bottom: 10px;
              text-shadow: 0 0 5px map-get($army-branding, black);
            }

            &:hover:before,
            &:focus:before {
              opacity: 1;
            }
          }
        }

        // @include img-grayscale-hover('a');
        @include breakpoints(lg_tablet sm_desktop desktop large really_big) {
          width: 49%;
        }

        figcaption {
          display: none;
        }
      }
    }

    // make the first image full width, if odd number of grid images or single
    &.photo-grid.odd-number,
    &.single {
      .centered-image {
        text-align: center;
        display: block;
      }
      figure:first-child {
        width: 100%;
        .img-container {
          padding: 0;
          height: auto;
          background-color: transparent;
          a {
            display: inline-block;
            position: relative;
            border-bottom-width: 0;
          }
          img {
            position: static;
            display: block;
            width: auto;
            max-width: 100%;
            max-height: 75vh;

            @include breakpoints(lg_tablet sm_desktop desktop large really_big) {
              max-height: 550px;
            }
          }
        }
      }
    }
  }

  .editor-video {
    .media-caption {
      p {
        color: map-get($army-branding, grey60);
        font-size: 0.875em;
        margin: 10px 0 0;
        &:after {
          background-color: map-get($army-branding, gold);
          content: '';
          height: 2px;
          width: 40px;
          display: block;
          margin-top: 10px;
        }
      }
    }
  }

  .ql-editor > :first-child {
    margin-top: 0;
  }
  .ql-editor > :last-child {
    margin-bottom: 0;
  }
}