

.top-btn {
  background: map-get($army-branding, grey40);
  border-radius: 50%;
  bottom: 30px;
  font-size: 0;
  height: 50px;
  line-height: 0;
  padding: 20px;
  position: fixed;
  right: 30px;
  z-index: -1;

  @include opacity(0);
  @include custom-transition(opacity .5s ease);

  &.visible {
    @include opacity(.7);
    z-index: 1;
    text-decoration: none;

    &:hover { @include opacity(1); }
  }

  span::before {
    transform: rotate(-90deg);
    content: "\e90d";
    font-family: 'armyicons';
    display: block;
    height: 11px;
    width: 11px;
    color: map-get($army-branding, white);
    font-size: 16px;
    font-weight: normal;
    position: relative;
    top: 2px;
    left: 6px;
  }
}


