// File Name: _topstories.scss
// Description: article top stories
// Used by: article.scss
// Dependencies: base/mixins/header-underline
// ------------------------------------------------------------

@import "base/mixins/header-underline";

.top-stories {
  .fixed {
    background: $light-gray-color;
    padding: 30px;
  }
  
  h4 {
    @include header-underline(black);
    
    &:first-child { margin-bottom: 30px; }
  }
  
  ul li {
    margin: 0 0 30px;
    
    &:last-child { margin: 0; }
    
    a {
      display: block;
      
      &:focus,
      &:hover { text-decoration: none; }
      
      span {
        display: inline-block;
        width: 100%;
        
        &:first-child {
          font: 400 .813em/1.375em $font-family;
          text-transform: uppercase;
        }
      }
    }
  }
}

@include breakpoints(sm_desktop desktop large really_big) {
  .top-stories {
    float: right;
    width: 35%;
    
    ul li:last-child { margin: 0; }
    
    .fixed {
      max-width: 350px;
      position: fixed;
    }
  }
}