// File Name: _topstories.scss
// Description: article top stories
// Used by: article.scss
// Dependencies:
// ------------------------------------------------------------

@import "base/mixins/header-underline";

.top-stories {
  background-color: map-get($army-branding, grey10);
  max-width: 350px;

  .small, h4 {
    text-transform: uppercase;
  }

  h4 {
    @include header-underline(black);
    margin-bottom: 0;
    &:first-child { margin: 0; }
  }

  li {
    padding: 0 30px 30px;
  }

  li:first-child {
    padding-top: 30px;
  }
}

@include breakpoints(lg_tablet sm_desktop desktop large really_big) {
  .top-stories {
    h4:after {
      margin: 20px 0 0;
      text-align: left;
    }
  }
}