<div class="accordion-container">
    <div class="accordion">
        <ul>
            <li>
                <input type="checkbox" id="toggle1">
                <label for="toggle1">Command Group<span></span></label>
                <ul>
                    <li><a href="http://www.army.mil/article/117642/">Garrison Commander</a></li>
                    <li><a href="http://www.army.mil/article/117643/">Garrison CSM</a></li>
                    <li><a href="http://www.army.mil/article/117644/">Deputy Commander</a></li>
                    <li><a href="http://www.army.mil/article/162120/">Deputy Commander - Transformation</a></li>
                </ul>
            </li>
            <li>
                <input type="checkbox" id="toggle2">
                <label for="toggle2">Community Information<span></span></label>
                <ul>
                    <li><a href="http://youtu.be/OE-vgbmqdDM">Welcome Video</a></li>
                    <li><a href="http://www.pinterest.com/usaghumphreys/">Welcome Guide</a></li>
                    <li><a href="http://www.army.mil/article/119492/">Newcomers Information</a></li>
                    <li><a href="http://www.army.mil/article/117641/">Phone Book</a></li>
                    <li><a href="http://www.army.mil/article/118143/">Policy Memorandums</a></li>
                    <li><a href="http://www.army.mil/article/152580/">Off limits</a></li>
                    <li><a href="http://www.army.mil/article/118490/">Camp Humphreys Army Health Clinic</a></li>
                    <li><a href="https://www.google.com/calendar/embed?src=humphreys.garrison@gmail.com&amp;ctz=Asia/Seoul">Community Calendar</a></li>
                    <li><a href="http://www.humphreysmwr.com/humphreys-mwr-calendar/">Humphreys MWR Calendar</a></li>
                    <li><a href="http://www.dodea.edu/Pacific/Korea/USAGHumphreys/HumphreysCentralES/index.cfm">Humphreys Central Elementary School</a></li>
                    <li><a href="http://www.dodea.edu/Pacific/Korea/USAGHumphreys/HumphreysHS/index.cfm">Humphreys High School</a></li>
                    <li><a href="http://www.army.mil/article/118146/">Transportation</a></li>
                    <li><a href="http://www.army.mil/article/117687/">Town Hall Meeting Notes</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
