
<div class="news announcements">
    <div class="container">
        <div class="inner-container">
            <h4>Official Army Announcements</h4>
            <div class="controls">
                <a href="javascript:;" class="left" title="Previous">Previous<span></span></a>
                <a href="javascript:;" class="right" title="Next">Next<span></span></a>
            </div>
            <div class="carousel">
                <ul>
                    <li>
                        <a href="https://www.army.mil/article/172903/department_of_the_army_announces_101st_airborne_division_deployment" title="Department of the Army announces 101st Airborne Division deployment">
                            <span class="image">
                                <img srcset="https://www.army.mil/e2/c/images/2016/08/05/445921/size1.jpg 446w,
                                             https://www.army.mil/e2/c/images/2016/08/05/445921/size2.jpg 342w,
                                             https://www.army.mil/e2/c/images/2016/08/05/445921/size3.jpg 150w,
                                             https://www.army.mil/e2/c/images/2016/08/05/445921/size4.jpg 100w"
                                     sizes="33vw"
                                     src="https://www.army.mil/e2/c/images/2016/08/05/445921/size2.jpg"
                                     alt="" />
                            </span>
                            <span class="title">Department of the Army announces 101st Airborne Division deployment</span> 
                            <span class="date">August 5, 2016</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.army.mil/article/172189/department_of_the_army_announces_1st_infantry_division_deployment" title="Department of the Army announces 1st Infantry Division deployment">
                            <span class="image">
                                <img srcset="https://www.army.mil/e2/c/images/2016/07/28/444695/size1.jpg 446w,
                                             https://www.army.mil/e2/c/images/2016/07/28/444695/size2.jpg 342w,
                                             https://www.army.mil/e2/c/images/2016/07/28/444695/size3.jpg 150w,
                                             https://www.army.mil/e2/c/images/2016/07/28/444695/size4.jpg 100w"
                                     sizes="33vw"
                                     src="https://www.army.mil/e2/c/images/2016/07/28/444695/size2.jpg"
                                     alt="" />
                            </span>
                            <span class="title">Department of the Army announces 1st Infantry Division deployment</span>
                            <span class="date">July 26, 2016</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.army.mil/article/170960/army_researchers_testing_zika_vaccine" title="Army researchers testing Zika vaccine">
                            <span class="image">
                                <img srcset="https://www.army.mil/e2/c/images/2016/07/05/441856/size1.jpg 446w,
                                             https://www.army.mil/e2/c/images/2016/07/05/441856/size2.jpg 342w,
                                             https://www.army.mil/e2/c/images/2016/07/05/441856/size3.jpg 150w,
                                             https://www.army.mil/e2/c/images/2016/07/05/441856/size4.jpg 100w"
                                     sizes="33vw"
                                     src="https://www.army.mil/e2/c/images/2016/07/05/441856/size2.jpg"
                                     alt="" />
                            </span>
                            <span class="title">Army researchers testing Zika vaccine</span>
                            <span class="date">July 6, 2016</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.army.mil/article/170627/sleeves_can_now_be_rolled_up" title="Sleeves can now be rolled up">
                            <span class="image">
                                <img srcset="https://www.army.mil/e2/c/images/2016/06/29/441128/size1.jpg 446w,
                                             https://www.army.mil/e2/c/images/2016/06/29/441128/size2.jpg 342w,
                                             https://www.army.mil/e2/c/images/2016/06/29/441128/size3.jpg 150w,
                                             https://www.army.mil/e2/c/images/2016/06/29/441128/size4.jpg 100w"
                                     sizes="33vw"
                                     src="https://www.army.mil/e2/c/images/2016/06/29/441128/size2.jpg"
                                     alt="" />
                            </span>
                            <span class="title">Sleeves can now be rolled up</span>
                            <span class="date">June 30, 2016</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.army.mil/article/163980/army_outlines_gender_integration_implementation_plan" title="Army outlines gender integration implementation plan">
                            <span class="image">
                                <img src="https://www.army.mil/e2/images/rv7/universal/army_seal.jpg" alt="" />
                            </span>
                            <span class="title">Army outlines gender integration implementation plan</span>
                            <span class="date">March 10, 2016</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.army.mil/article/161994/zika_virus_what_is_it_what_can_you_do" title="Zika Virus - What is it? What can you do?">
                            <span class="image">
                                <img srcset="https://www.army.mil/e2/c/images/2016/02/18/423809/size1.jpg 446w,
                                             https://www.army.mil/e2/c/images/2016/02/18/423809/size2.jpg 342w,
                                             https://www.army.mil/e2/c/images/2016/02/18/423809/size3.jpg 150w,
                                             https://www.army.mil/e2/c/images/2016/02/18/423809/size4.jpg 100w"
                                     sizes="33vw"
                                     src="https://www.army.mil/e2/c/images/2016/02/18/423809/size2.jpg"
                                     alt="" />
                            </span>
                            <span class="title">Zika Virus - What is it? What can you do?</span>
                            <span class="date">February 5, 2016</span>
                        </a>
                    </li>
                    <li>
                        <a class="disabled" href="https://www.army.mil/news/newsreleases">MORE ANNOUNCEMENTS<span class="view-more-arrow-sm"></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

