
<div class="announcements">
    <div class="container">
        <div class="inner-container">
            <div class="news">
                <h4>Official Army Announcements</h4>
                <!-- remove class no-dates to see dates -->
                <ul>
                    <li>
                        <a href="https://www.army.mil/article/172903/department_of_the_army_announces_101st_airborne_division_deployment" title="Department of the Army announces 101st Airborne Division deployment">
                            <span class="image">
                                <img srcset="https://www.army.mil/e2/c/images/2016/08/05/445921/size1.jpg 446w,
                                                https://www.army.mil/e2/c/images/2016/08/05/445921/size2.jpg 342w,
                                                https://www.army.mil/e2/c/images/2016/08/05/445921/size3.jpg 150w,
                                                https://www.army.mil/e2/c/images/2016/08/05/445921/size4.jpg 100w"
                                        sizes="33vw"
                                        src="https://www.army.mil/e2/c/images/2016/08/05/445921/size2.jpg"
                                        alt="" />
                            </span>
                            <span class="title">Department of the Army announces 101st Airborne Division deployment</span> 
                            <span class="date">August 5, 2016</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.army.mil/article/172189/department_of_the_army_announces_1st_infantry_division_deployment" title="Department of the Army announces 1st Infantry Division deployment">
                            <span class="image">
                                <img srcset="https://www.army.mil/e2/c/images/2016/07/28/444695/size1.jpg 446w,
                                                https://www.army.mil/e2/c/images/2016/07/28/444695/size2.jpg 342w,
                                                https://www.army.mil/e2/c/images/2016/07/28/444695/size3.jpg 150w,
                                                https://www.army.mil/e2/c/images/2016/07/28/444695/size4.jpg 100w"
                                        sizes="33vw"
                                        src="https://www.army.mil/e2/c/images/2016/07/28/444695/size2.jpg"
                                        alt="" />
                            </span>
                            <span class="title">Department of the Army announces 1st Infantry Division deployment</span>
                            <span class="date">July 26, 2016</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.army.mil/article/170960/army_researchers_testing_zika_vaccine" title="Army researchers testing Zika vaccine">
                            <span class="image">
                                <img srcset="https://www.army.mil/e2/c/images/2016/07/05/441856/size1.jpg 446w,
                                                https://www.army.mil/e2/c/images/2016/07/05/441856/size2.jpg 342w,
                                                https://www.army.mil/e2/c/images/2016/07/05/441856/size3.jpg 150w,
                                                https://www.army.mil/e2/c/images/2016/07/05/441856/size4.jpg 100w"
                                        sizes="33vw"
                                        src="https://www.army.mil/e2/c/images/2016/07/05/441856/size2.jpg"
                                        alt="" />
                            </span>
                            <span class="title">Army researchers testing Zika vaccine</span>
                            <span class="date">July 6, 2016</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.army.mil/article/170627/sleeves_can_now_be_rolled_up" title="Sleeves can now be rolled up">
                            <span class="image">
                                <img srcset="https://www.army.mil/e2/c/images/2016/06/29/441128/size1.jpg 446w,
                                                https://www.army.mil/e2/c/images/2016/06/29/441128/size2.jpg 342w,
                                                https://www.army.mil/e2/c/images/2016/06/29/441128/size3.jpg 150w,
                                                https://www.army.mil/e2/c/images/2016/06/29/441128/size4.jpg 100w"
                                        sizes="33vw"
                                        src="https://www.army.mil/e2/c/images/2016/06/29/441128/size2.jpg"
                                        alt="" />
                            </span>
                            <span class="title">Sleeves can now be rolled up</span>
                            <span class="date">June 30, 2016</span>
                        </a>
                    </li>
                </ul>
                <div class="view-all">
                    <a href="https://www.army.mil/news/newsreleases">VIEW ALL ANNOUNCEMENTS</a>
                </div>
            </div>
        </div>
    </div>
</div>

