
<div class="btn">
    <div class="black">
        <a href="#">READ MORE<span></span><span></span><span></span><span></span><span></span><span></span></a>
    </div>
</div>

<div class="btn">
    <div>
        <a href="#">READ MORE<span></span><span></span><span></span><span></span><span></span><span></span></a>
    </div>
</div>

<div class="btn">
    <div>
        <div><span></span><span></span><span></span><span></span><span></span><span></span></div>
        <input type="button" value="Input Button">
    </div>
</div>

<div class="btn">
    <div class="white">
        <a href="#">READ MORE</a>
    </div>
</div>