<footer>
    <section id="social-id" class="social">
        <div class="social-button facebook-button">
            <a target="_blank" href="https://www.facebook.com/USArmy"><span></span></a>
        </div>
        <div class="social-button twitter-button">
            <a target="_blank" href="https://twitter.com/USArmy"><span></span></a>
        </div>
        <div class="social-button googleplus-button">
            <a target="_blank" href="https://plus.google.com/114333599862985909549"><span></span></a>
        </div>
        <div class="social-button pinterest-button">
            <a target="_blank" href="http://pinterest.com/USarmy"><span></span></a>
        </div>
        <div class="social-button youtube-button">
            <a target="_blank" href="https://www.youtube.com/USarmy"><span></span></a>
        </div>
        <div class="social-button flickr-button">
            <a target="_blank" href="https://www.flickr.com/photos/soldiersmediacenter"><span></span></a>
        </div>
        <div class="social-button instagram-button">
            <a target="_blank" href="https://instagram.com/usarmy"><span></span></a>
        </div>
    </section>
    <section class="footer-bottom">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/privacy">Privacy</a></li>
            <li><a href="/terms">Terms Of Use</a></li>
            <li><a href="http://dodcio.defense.gov/DoDSection508/Std_Stmt.aspx">Accessibility/Section 508</a></li>
            <li><a href="https://www.rmda.army.mil/foia/RMDA-FOIA-Division.html">FOIA</a></li>
        </ul>
    </section>
</footer>