<footer>
    <section id="social-id" class="social">
        <ul>
            <li class="social-button facebook-button">
                <a rel="noopener noreferrer" target="_blank" href="https://www.facebook.com/USArmy"><span>Official U.S. Army Facebook</span></a>
            </li>
            <li class="social-button twitter-button">
                <a rel="noopener noreferrer" target="_blank" href="https://twitter.com/USArmy"><span>Official U.S. Army Twitter</span></a>
            </li>
            <li class="social-button youtube-button">
                <a rel="noopener noreferrer" target="_blank" href="https://www.youtube.com/USarmy"><span>Official U.S. Army Youtube</span></a>
            </li>
            <li class="social-button flickr-button">
                <a rel="noopener noreferrer" target="_blank" href="https://www.flickr.com/photos/soldiersmediacenter"><span>Official U.S. Army Flickr</span></a>
            </li>
            <li class="social-button instagram-button">
                <a rel="noopener noreferrer" target="_blank" href="https://instagram.com/usarmy"><span>Official U.S. Army Instagram</span></a>
            </li>
        </ul>
    </section>
    <section class="footer-bottom">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/privacy">Privacy</a></li>
            <li><a href="/terms">Terms Of Use</a></li>
            <li><a href="http://dodcio.defense.gov/DoDSection508/Std_Stmt.aspx">Accessibility/Section 508</a></li>
            <li><a href="https://www.rmda.army.mil/foia/RMDA-FOIA-Division.html">FOIA</a></li>
            <li><a href="http://www.asamra.army.mil/nofear.html">No FEAR Act</a></li>
        </ul>
    </section>
</footer>