<!-- BEGIN OFFICIAL GOV BANNER -->  
<div id="officialgovsite">
  <details title="expand details on how to know this is an official site" tabindex="0">
    <summary>
      <span class="govbannertoggle">
        <span class="govbanner_flag"></span>
        An official website of the United States government <span class="govbanner_how_expand"><u>Here's how you know</u></span>
        <span class="govbanner_icon_expand"> 
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 32 32">
            <path class="icon_expand"  d="M15.88 2.733h-8.867l10.64 13.3-10.64 13.3h8.867l10.64-13.3-10.64-13.3z"/>
          </svg>
        </span>
      </span>
    </summary>
  </details>
  <div class="govbannercontent">
    <ul>
      <li>
        <span class="title"><strong>Official websites use .mil </strong></span>
        A <strong>.mil</strong> website belongs to an official U.S. Department of Defense organization in the United States.
      </li>
      <li>
        <span class="title"><strong>Secure .mil websites use HTTPS</strong></span>
        A <strong>lock (
        <span class="govbanner_icon_lock">
          <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 52 64">
            <title>lock </title>
            <path class="icon_lock" fill-rule="evenodd"
              d="M26 0c10.493 0 19 8.507 19 19v9h3a4 4 0 0 1 4 4v28a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V32a4 4 0 0 1 4-4h3v-9C7 8.507 15.507 0 26 0zm0 8c-5.979 0-10.843 4.77-10.996 10.712L15 19v9h22v-9c0-6.075-4.925-11-11-11z">
            </path>
          </svg>
        </span>)
        </strong> or <strong> https://</strong> means you've safely connected to the .mil website. Share sensitive information only on official, secure websites.
      </li>
    </ul>
  </div>
</div>
<!-- END OFFICIAL GOV BANNER -->  

<!-- BEGIN GLOBAL NAVIGATION -->
<header>
  <div class="navbar">
    <div class="navbar-container">
      <a href="" title="Main Menu" class="nav-button menu-button" aria-expanded="false" aria-controls="header-menu-window" role="button">
        <span>MENU</span>
      </a>
      <a title="Home" href="/" class="nav-army-star">
        <span>HOME</span>
      </a>
      <a href="" title="Search" class="nav-button search-button" aria-expanded="false" aria-controls="header-search-window" role="button">
        <span>SEARCH</span>
      </a>
    </div>
  </div>
  <div class="nav-window menu-window" id="header-menu-window">
    <div class="menu-container">
      <form class="list-container">
        <ul>
          <li>
            <input type="checkbox" id="header-menu-item-about" name="header-menu-item-about" value="About" checked="true" />
            <label for="header-menu-item-about">About<span></span></label>
            <ul>
              <li><a href="https://www.army.mil/about/">Who We Are</a></li>
              <li><a href="https://www.army.mil/organization/">Organization</a></li>
              <li><a href="https://www.army.mil/qualityoflife/">Quality of Life</a></li>
              <li><a href="https://www.army.mil/a-z/">Army A-Z</a></li>
            </ul>
          </li>
          <li>
            <input type="checkbox" id="header-menu-item-news" name="header-menu-item-news" value="News" checked="true" />
            <label for="header-menu-item-news">News<span></span></label>
            <ul>
              <li><a href="https://www.army.mil/news">Army Worldwide</a></li>
              <li><a href="https://www.army.mil/news/newsreleases">Press Releases</a></li>
              <li><a href="https://www.army.mil/standto">STAND-TO!</a></li>
              <li><a href="https://www.army.mil/soldiers">Soldier Features</a></li>
            </ul>
          </li>
          <li>
            <input type="checkbox" id="header-menu-item-media" name="header-menu-item-media" value="Multimedia" checked="true" />
            <label for="header-menu-item-media">Multimedia<span></span></label>
            <ul>
              <li><a href="https://www.army.mil/photos">Photos</a></li>
              <li><a href="https://www.youtube.com/user/usarmy">Videos</a></li>
              <li><a href="https://www.army.mil/publications/">Publications</a></li>
            </ul>
          </li>
        </ul>
        <ul>
          <li>
            <input type="checkbox" id="header-menu-item-leaders" name="header-menu-item-leaders" value="Leaders" checked="true" />
            <label for="header-menu-item-leaders">Leaders<span></span></label>
            <ul>
              <li><a href="https://www.army.mil/leaders/sa/">Secretary</a></li>
              <li><a href="https://www.army.mil/leaders/usa/">Under Secretary</a></li>
              <li><a href="https://www.army.mil/leaders/csa/">Chief of Staff</a></li>
              <li><a href="https://www.army.mil/leaders/vcsa/">Vice Chief of Staff</a></li>
              <li><a href="https://www.army.mil/leaders/sma/">Sergeant Major of the Army</a></li>
            </ul>
          </li>
          <li>
            <input type="checkbox" id="header-menu-item-features" name="header-menu-item-features" value="Features" checked="true" />
            <label for="header-menu-item-features">Features<span></span></label>
            <ul>
              <li><a href="https://www.army.mil/features/#valor">Valor</a></li>
              <li><a href="https://www.army.mil/features/#events">Events</a></li>
              <li><a href="https://www.army.mil/features/#heritage">Heritage</a></li>
              <li><a href="https://www.army.mil/features/#army101">Army 101</a></li>
            </ul>
          </li>
          <li class="social">
            <ul>
              <li class="social-button">
                <a rel="noopener noreferrer" target="_blank" href="https://www.facebook.com/USArmy" title="Official U.S. Army Facebook"><i class="armyicons-sm_facebook"></i></a>
              </li>
              <li class="social-button">
                <a rel="noopener noreferrer" target="_blank" href="https://twitter.com/USArmy" title="Official U.S. Army Twitter"><i class="armyicons-sm_x"></i></a>
              </li>
              <li class="social-button">
                <a rel="noopener noreferrer" target="_blank" href="https://www.youtube.com/USarmy" title="Official U.S. Army Youtube"><i class="armyicons-sm_youtube"></i></a>
              </li>
              <li class="social-button">
                <a rel="noopener noreferrer" target="_blank" href="https://www.instagram.com/usarmy/" title="Official U.S. Army Instagram"><i class="armyicons-sm_instagram"></i></a>
              </li>
              <li class="social-button">
                <a rel="noopener noreferrer" target="_blank" href="https://www.linkedin.com/company/us-army" title="Official U.S. Army Linkedin"><i class="armyicons-sm_linkedin2"></i></a>
              </li>
            </ul>
          </li>
        </ul>
      </form>
      <ul class="quicklinks">
        <li><a href="https://www.army.mil/newsroom">Newsroom</a></li>
        <li><a href="https://www.army.mil/publicaffairs/">Public Affairs</a></li>
        <li><a href="https://www.army.mil/socialmedia/">Social Media Guide</a></li>
        <li><a href="https://www.army.mil/join/">Join</a></li>
        <li><a href="https://www.army.mil/faq/">FAQs</a></li>
        <li><a href="https://icamportal.us.army.mil/welcome/">AKO</a></li>
        <li><a href="https://www.army.mil/contact">Contact Us</a></li>
      </ul>
    </div>
  </div>
  <div class="nav-window search-window" id="header-search-window">
    <div class="search-form-container">
      <form accept-charset="UTF-8" action="//search.usa.gov/search" id="search_form" method="get">
        <div id="preload-01">
          <input name="utf8" type="hidden" value="&#x2713;" />
          <input id="affiliate" name="affiliate" type="hidden" value="www.army.mil" />
        </div>
        <label for="usagov-search-query">Search news, photos and videos on Army.mil</label>
        <input autocomplete="off" placeholder="Search" class="usagov-search-autocomplete" id="usagov-search-query" name="query" type="text" />
        <button aria-label="Search" name="commit" type="submit" value="" class="search-submit-button">
          <i class="armyicons-search"></i>
        </button>
      </form>
    </div>
  </div>
</header>
<!-- END GLOBAL NAVIGATION -->
