<div class="headlines">
    <ul>
        <li>
            <span class="date">FEB. 23, 2016</span>
            <a href="https://www.army.mil/article/163561" title="2017 Posture statement of the U.S. Army " target="_blank">2017 Posture statement of the U.S. Army</a>
        </li>
        <li>
            <span class="date">SEPT. 10, 2015</span>
            <a href="https://www.army.mil/article/155581" title="CSA's National Guard Association of the United States speech" target="_blank">CSA's National Guard Association of the United States speech</a>
        </li>
        <li>
            <span class="date">MARCH 27, 2015</span>
            <a href="https://www.army.mil/article/154050" title="CSA's speech at change of responsibility ceremony" target="_blank">CSA's speech at change of responsibility ceremony</a>
        </li>
    </ul>
</div>
