<header>
    <div class="navbar">
      <div class="navbar-container">
        <a href="javascript:;" class="nav-button menu-button" aria-expanded="false" role="button">
            <span>MENU</span>
        </a>
        <a href="/" class="nav-army-star">
            <span>HOME</span>
        </a>
        <a href="javascript:;" class="nav-button search-button" aria-expanded="false" role="button">
            <span>SEARCH</span>
        </a>
      </div>
    </div>
    <div class="nav-window menu-window">
        <div class="menu-container">
          <div class="list-container">
              <ul role="menu">
                  <li>
                      <input type="checkbox" id="menu-item-about" />
                      <label for="menu-item-about" role="menuitem">ABOUT<span></span></label>
                      <ul>
                        <li><a href="//www.army.mil/info/organization/">Organization</a></li>
                        <li><a href="//www.army.mil/info/institution/publicAffairs/">Public Affairs</a></li>
                        <li><a href="//www.army.mil/info/references/">References</a></li>
                      </ul>
                  </li>
                  <li>
                      <input type="checkbox" id="menu-item-news" />
                      <label for="menu-item-news" role="menuitem">NEWS<span></span></label>
                      <ul>
                        <li><a href="/news">Army Worldwide</a></li>
                        <li><a href="/news/newsreleases">Press Releases</a></li>
                        <li><a href="/standto">STAND-TO!</a></li>
                        <li><a href="https://www.army.mil/soldiers">Soldier Features</a></li>
                      </ul>
                  </li>
                  <li>
                      <input type="checkbox" id="menu-item-media" />
                      <label for="menu-item-media" role="menuitem">MEDIA<span></span></label>
                      <ul>
                        <li><a href="/photos">Photos</a></li>
                        <li><a href="https://www.youtube.com/user/usarmy">Videos</a></li>
                        <li><a href="//www.army.mil/media/publications/">Publication</a></li>
                      </ul>
                  </li>
              </ul>
              <ul role="menu">
                  <li>
                      <input type="checkbox" id="menu-item-leaders" />
                      <label for="menu-item-leaders" role="menuitem">LEADERS<span></span></label>
                      <ul>
                        <li><a href="//www.army.mil/leaders/sa/">Secretary</a></li>
                        <li><a href="//www.army.mil/leaders/usa/">Under Secretary</a></li>
                        <li><a href="//www.army.mil/leaders/csa/">Chief of Staff</a></li>
                        <li><a href="//www.army.mil/leaders/vcsa/">Vice Chief of Staff</a></li>
                        <li><a href="//www.army.mil/leaders/sma/">Sergeant Major of the Army</a></li>
                      </ul>
                  </li>
                  <li>
                      <input type="checkbox" id="menu-item-features" />
                      <label for="menu-item-features" role="menuitem">FEATURES<span></span></label>
                      <ul>
                        <li><a href="//www.army.mil/features/#valor">Valor</a></li>
                        <li><a href="//www.army.mil/features/#events">Events</a></li>
                        <li><a href="//www.army.mil/features/#heritage">Heritage</a></li>
                        <li><a href="//www.army.mil/features/#army101">Army 101</a></li>
                      </ul>
                  </li>
                  <li class="social">
                    <ul>
                      <li class="social-button facebook-button">
                        <a rel="noopener noreferrer" target="_blank" href="https://www.facebook.com/USArmy"><span>Official U.S. Army Facebook</span></a>
                      </li>
                      <li class="social-button twitter-button">
                        <a rel="noopener noreferrer" target="_blank" href="https://twitter.com/USArmy"><span>Official U.S. Army Twitter</span></a>
                      </li>
                      <li class="social-button youtube-button">
                        <a rel="noopener noreferrer" target="_blank" href="https://www.youtube.com/USarmy"><span>Official U.S. Army Youtube</span></a>
                      </li>
                      <li class="social-button flickr-button">
                        <a rel="noopener noreferrer" target="_blank" href="https://www.flickr.com/photos/soldiersmediacenter"><span>Official U.S. Army Flickr</span></a>
                      </li>
                      <li class="social-button instagram-button">
                        <a rel="noopener noreferrer" target="_blank" href="https://instagram.com/usarmy"><span>Official U.S. Army Instagram</span></a>
                      </li>
                    </ul>
                  </li>
              </ul>
          </div>
          <ul class="quicklinks">
            <li><a href="//www.army.mil/info/a-z/">ARMY A-Z</a></li>
            <li><a href="//www.army.mil/socialmedia/">SOCIAL MEDIA</a></li>
            <li><a href="https://www.us.army.mil/">AKO</a></li>
            <li><a href="/contact">CONTACT US</a></li>
            <li><a href="//www.army.mil/join/">JOIN</a></li>
            <li><a href="//www.army.mil/faq/">FAQS</a></li>
          </ul>
        </div>
    </div>
    <div class="nav-window search-window">
        <div class="search-form-container">
            <form accept-charset="UTF-8" action="//search.usa.gov/search" id="search_form" method="get">
                <div id="preload-01">
                  <input name="utf8" type="hidden" value="&#x2713;" />
                  <input id="affiliate" name="affiliate" type="hidden" value="www.army.mil" />
                </div>
                <label for="usagov-search-query">Search news, photos and videos on Army.mil</label>
                <input autocomplete="off" placeholder="Search" class="usagov-search-autocomplete" id="usagov-search-query" name="query" type="text" />
                <input aria-label="Search" name="commit" type="submit" value="" class="search-submit-button" />
            </form>
        </div>
    </div>
</header>
