<div class="notification-contain">
    <a class="notification" href="//www.army.mil/medalofhonor/groberg/" title="Capt. Florent Groberg Hall of Heroes Induction Ceremony">
        <span class="notification-header">Live Stream</span>
        <span class="notification-title">Capt. Florent Groberg Hall of Heroes Induction Ceremony<span class="view-more-arrow-sm black-arrow"></span></span>
    </a>
    <div class="notification-close"><a href="javascript:;" class="notification-button close-button black-close"><span></span></a></div>
</div>
