<ul class="leaders">
    <li>
        <img class="leaders-img" onerror="this.style.display = 'none'" src="https://www.army.mil/e2/c/images/assetUploads/5166/custom.jpg" alt="Maj. Gen. Gary J. Volesky">
        <span class="leaders-text">
            <span class="leaders-heading">Eagle 6</span>
            <span class="leaders-title">Maj. Gen. Andrew P. Poppas</span>
        </span>
        <div class="leaders-bio btn">
            <div>
                <a href="http://www.campbell.army.mil/SiteAssets/CommandGroup/CG_BIo.pdf">OFFICIAL BIO<span></span><span></span><span></span><span></span><span></span><span></span></a>
            </div>
        </div>
    </li>
</ul>
