<p>This shows 3 example leader elements. Using legacy (small) image, with no biography link and with no profile image respectively.</p>
<ul class="leaders">
    <li>
        <img class="leaders-img" onerror="this.style.display = 'none'" src="https://www.army.mil/e2/c/images/assetUploads/5166/custom.jpg" alt="Maj. Gen. Gary J. Volesky">
        <div class="leaders-content">
            <div class="leaders-text">
                <div class="leaders-heading">Eagle 6</div>
                <div class="leaders-title">Maj. Gen. Andrew P. Poppas</div>
            </div>
            <div class="leaders-bio btn">
                <div>
                    <a href="https://www.google.com" target="_blank">OFFICIAL BIO<span></span><span></span><span></span><span></span><span></span><span></span></a>
                </div>
            </div>
        </div>
    </li>

    <li>
        <img class="leaders-img" onerror="this.style.display = 'none'" src="https://api.army.mil/e2/c/images/2021/04/07/d0ed4986/leader.jpg" alt="Maj. Gen. JP McGee">
        <div class="leaders-content">
            <div class="leaders-text">
                <div class="leaders-heading">Eagle 6</div>
                <div class="leaders-title">Maj. Gen. JP McGee</div>
            </div>
            <!-- <div class="leaders-bio btn">
                <div>
                    <a href="https://www.google.com" target="_blank">BIOGRAPHY<span></span><span></span><span></span><span></span><span></span><span></span></a>
                </div>
            </div> -->
        </div>
    </li>

    <li>
        <!-- <img class="leaders-img" onerror="this.style.display = 'none'" src="https://api.army.mil/e2/c/images/2021/05/27/f96a88f9/leader.jpg" alt="Command Sgt. Maj. Veronica Knapp"> -->
        <div class="leaders-content">
            <div class="leaders-text">
                <div class="leaders-heading">Eagle 7</div>
                <div class="leaders-title">Command Sgt. Maj. Veronica Knapp</div>
            </div>
            <div class="leaders-bio btn">
                <div>
                    <a href="https://www.google.com" target="_blank">Biography<span></span><span></span><span></span><span></span><span></span><span></span></a>
                </div>
            </div>
        </div>
    </li>
</ul>
