<div class="two-col-news">
    <div class="news half">
        <!-- remove class no-dates to see dates -->
        <ul class="no-dates">
            <li>
                <a href="#" title="Blackhawk crew chief brings vigilance, experience to Romania">
                    <span class="image">
                        <img src="https://www.army.mil/e2/c/images/2016/08/04/445648/size2.jpg" alt="Blackhawk crew chief brings vigilance, experience to Romania">
                    </span>
                    <span class="title">Blackhawk crew chief brings vigilance, experience to Romania</span>
                    <span class="date">August 2, 2016</span>
                </a>
            </li>
            <li>
                <a href="#" title="Army Secretary spends the day with Soldiers at Osan Air Base">
                    <span class="image">
                        <img src="https://www.army.mil/e2/c/images/2016/08/04/445638/size2.jpg" alt="Army Secretary spends the day with Soldiers at Osan Air Base">
                    </span>
                    <span class="title">Army Secretary spends the day with Soldiers at Osan Air Base</span>
                    <span class="date">August 2, 2016</span>
                </a>
            </li>
            <li>
                <a href="#" title="Army Secretary Fanning inspects Pacific Command watercraft, related capabilities">
                    <span class="image">
                        <img src="https://www.army.mil/e2/c/images/2016/07/28/444799/size2.jpg" alt="Army Secretary Fanning inspects Pacific Command watercraft, related capabilities">
                    </span>
                    <span class="title">Army Secretary Fanning inspects Pacific Command watercraft, related capabilities</span>
                    <span class="date">July 28, 2016</span>
                </a>
            </li>
        </ul>
        <a class="more" href="/news#army_homepage" title="More News">More News<span class="view-more-arrow-bg"></span></a>
    </div>
    
    <div class="announcements">
        <div class="top-headline">
            <a href="#" title="Department of the Army announces upcoming deployment">
                <div class="image">
                    <img srcset="https://www.army.mil/e2/c/images/2016/07/26/444505/size0.jpg 640w, https://www.army.mil/e2/c/images/2016/07/26/444505/size1.jpg 446w, https://www.army.mil/e2/c/images/2016/07/26/444505/size2.jpg 342w, https://www.army.mil/e2/c/images/2016/07/26/444505/size3.jpg 150w, https://www.army.mil/e2/c/images/2016/07/26/444505/size4.jpg 100w" sizes="(max-width: 45em) 100vw, 50vw" src="https://www.army.mil/e2/c/images/2016/07/26/444505/size2.jpg" alt="Department of the Army announces upcoming deployment">
                </div>
                <div class="center-block">
                    <div class="inner-block"><span></span><span></span><span></span><span></span><span></span><span></span></div>
                    <div class="mid">
                        <h5>Most Recent Announcement</h5>
                        <p class="large">Department of the Army announces upcoming deployment</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="inner">
            <ul>
                <li>
                    <span>Jul 14, 2016</span>
                    <a href="#" title="Army Announces ARCYBER as an ASCC">Army Announces ARCYBER as an ASCC</a>
                </li>
                <li>
                    <span>Jul 06, 2016</span>
                    <a href="#" title="Army researchers testing Zika vaccine">Army researchers testing Zika vaccine</a>
                </li>
                <li>
                    <span>Jun 30, 2016</span>
                    <a href="#" title="Sleeves can now be rolled up">Sleeves can now be rolled up</a>
                </li>
                <li>
                    <span>Mar 10, 2016</span>
                    <a href="#" title="Army outlines gender integration implementation plan">Army outlines gender integration implementation plan</a>
                </li>
                <li>
                    <span>Feb 05, 2016</span>
                    <a href="#" title="Zika Virus - What is it? What can you do?">Zika Virus - What is it? What can you do?</a>
                </li>
            </ul>
            <a class="more" href="/news/newsreleases" title="More Announcements">More Announcements<span class="view-more-arrow-bg"></span></a>
        </div>
    </div>
</div>