<div class="two-col-news">
    <div class="news half">
        <!-- remove class no-dates to see dates -->
        <ul class="no-dates">
            <li>
                <a href="#" title="Blackhawk crew chief brings vigilance, experience to Romania">
                    <span class="image">
                        <img src="https://www.army.mil/e2/c/images/2016/08/04/445648/size2.jpg" alt="Blackhawk crew chief brings vigilance, experience to Romania">
                    </span>
                    <span class="title">Blackhawk crew chief brings vigilance, experience to Romania</span>
                    <span class="date">August 2, 2016</span>
                </a>
            </li>
            <li>
                <a href="#" title="Army Secretary spends the day with Soldiers at Osan Air Base">
                    <span class="image">
                        <img src="https://www.army.mil/e2/c/images/2016/08/04/445638/size2.jpg" alt="Army Secretary spends the day with Soldiers at Osan Air Base">
                    </span>
                    <span class="title">Army Secretary spends the day with Soldiers at Osan Air Base</span>
                    <span class="date">August 2, 2016</span>
                </a>
            </li>
            <li>
                <a href="#" title="Army Secretary Fanning inspects Pacific Command watercraft, related capabilities">
                    <span class="image">
                        <img src="https://www.army.mil/e2/c/images/2016/07/28/444799/size2.jpg" alt="Army Secretary Fanning inspects Pacific Command watercraft, related capabilities">
                    </span>
                    <span class="title">Army Secretary Fanning inspects Pacific Command watercraft, related capabilities</span>
                    <span class="date">July 28, 2016</span>
                </a>
            </li>
        </ul>
        <a class="more" href="/news#army_homepage" title="More News">More News<span class="view-more-arrow-bg"></span></a>
    </div>
    
    <div class="announcements">
        <div class="inner">
            <h4>Announcements</h4>
            <ul>
                <li>
                    <a href="#" title="Department of the Army announces upcoming deployment">
                        <div class="image">
                            <img srcset="https://www.army.mil/e2/c/images/2016/07/26/444505/size0.jpg 640w, https://www.army.mil/e2/c/images/2016/07/26/444505/size1.jpg 446w, https://www.army.mil/e2/c/images/2016/07/26/444505/size2.jpg 342w, https://www.army.mil/e2/c/images/2016/07/26/444505/size3.jpg 150w, https://www.army.mil/e2/c/images/2016/07/26/444505/size4.jpg 100w" sizes="(max-width: 45em) 100vw, 50vw" src="https://www.army.mil/e2/c/images/2016/07/26/444505/size2.jpg" alt="Department of the Army announces upcoming deployment">
                        </div>
                        <div class="center">
                            <h5>Most Recent</h5>
                            <p class="large">Department of the Army announces upcoming deployment</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" title="Army Announces ARCYBER as an ASCC">
                        <span>July 14, 2016</span>
                        <span>Army Announces ARCYBER as an ASCC</span>
                    </a>
                </li>
                <li>
                    <a href="#" title="Army researchers testing Zika vaccine">
                        <span>July 06, 2016</span>
                        <span>Army researchers testing Zika vaccine</span>
                    </a>
                </li>
                <li>
                    <a href="#" title="Sleeves can now be rolled up">
                        <span>June 30, 2016</span>
                        <span>Sleeves can now be rolled up</span>
                    </a>
                </li>
                <li>
                    <a href="#" title="Army outlines gender integration implementation plan">
                        <span>March 10, 2016</span>
                        <span>Army outlines gender integration implementation plan</span>
                    </a>
                </li>
                <li>
                    <a href="#" title="Zika Virus - What is it? What can you do?">
                        <span>February 05, 2016</span>
                        <span>Zika Virus - What is it? What can you do?</span>
                    </a>
                </li>
            </ul>
        </div>
        <a class="more" href="/news/newsreleases" title="View All Announcements">View All<span class="view-more-arrow-bg"></span></a>
    </div>
</div>