<nav>
    <input type="checkbox" id="submenu-toggle">
    <div class="submenu-container">
        <div class="submenu-inner">
            <label for="submenu-toggle">News</label>
            <ul>
                <li><a class="active" href="javascript:void();">Option 1</a></li>
                <li><a href="javascript:void();">Option 2</a></li>
                <li><a href="javascript:void();">Option 3</a></li>
                <li><a href="javascript:void();">Option 4</a></li>
            </ul>
        </div>
    </div>
</nav>
