<div class="news-list">
    <div class="news-item">
        <div class="news-inner">
            <div class="image-wrap">
                <a title="US Soldiers join allies for Polish Armed Forces Day" href="/article/173414/us_soldiers_join_allies_for_polish_armed_forces_day">
                    <img alt="US Soldiers join allies for Polish Armed Forces Day" src="https://www.army.mil/e2/c/images/2016/08/16/447115/size2.jpg">
                </a>
            </div>
            <div class="news-right">
                <div class="main-content">
                    <p class="date">August 16, 2016</p>
                    <p class="sections">
                        <a href="#">Army Reserve</a>
                        <a href="#">Europe</a>
                    </p>
                    <p class="title"><a title="US Soldiers join allies for Polish Armed Forces Day" href="/article/173414/us_soldiers_join_allies_for_polish_armed_forces_day">US Soldiers join allies for Polish Armed Forces Day</a></p>
                </div>
                <p class="more"><a title="US Soldiers join allies for Polish Armed Forces Day" href="/article/173414/us_soldiers_join_allies_for_polish_armed_forces_day">READ MORE<span class="view-more-arrow-sm"></span></a></p>
            </div>
        </div>
    </div>
    <div class="news-item">
        <div class="news-inner">
            <div class="image-wrap">
                <a title="Army Chief of Staff visits China, South Korea, Japan, Hawaii" href="/article/173330/army_chief_of_staff_visits_china_south_korea_japan_hawaii">
                    <img alt="Army Chief of Staff visits China, South Korea, Japan, Hawaii" src="https://www.army.mil/e2/c/images/2016/08/14/446902/size2.jpg">
                </a>
            </div>
            <div class="news-right">
                <div class="main-content">
                    <p class="date">August 15, 2016</p>
                    <p class="sections">
                        <a href="#">Asia and Pacific</a>
                        <a href="#">Army Homepage</a>
                        <a href="#">Army News Service</a>
                    </p>
                    <p class="title"><a title="Army Chief of Staff visits China, South Korea, Japan, Hawaii" href="/article/173330/army_chief_of_staff_visits_china_south_korea_japan_hawaii">Army Chief of Staff visits China, South Korea, Japan, Hawaii</a></p>
                </div>
                <p class="more"><a title="Army Chief of Staff visits China, South Korea, Japan, Hawaii" href="/article/173330/army_chief_of_staff_visits_china_south_korea_japan_hawaii">READ MORE<span class="view-more-arrow-sm"></span></a></p>
            </div>
        </div>
    </div>
</div>