<div class="news">
    <ul>
        <li>
            <a href="#" title="Soldiers and Korean War Veterans Meet in Osan to Discuss War and Resiliency">
                <span class="image">
                    <img class="resp-image" srcset="https://www.army.mil/e2/c/images/2016/04/24/432080/size0.jpg 640w, https://www.army.mil/e2/c/images/2016/04/24/432080/size1.jpg 446w, https://www.army.mil/e2/c/images/2016/04/24/432080/size2.jpg 342w, https://www.army.mil/e2/c/images/2016/04/24/432080/size3.jpg 150w, https://www.army.mil/e2/c/images/2016/04/24/432080/size4.jpg 100w" sizes="(min-width: 640px) 640px" src="https://www.army.mil/e2/c/images/2016/04/24/432080/size2.jpg" alt="temp image caption">
                </span>
                <span class="date"><span>April 24, 2016</span></span>
                <span class="title">Soldiers and Korean War Veterans Meet in Osan to Discuss War and Resiliency</span>
            </a>
        </li>
        <li>
            <a href="#" title="US, ROK air defenders demonstrate resolve during major command post exercise">
                <span class="image">
                    <img class="resp-image" srcset="https://www.army.mil/e2/c/images/2016/04/07/429882/size0.jpg 640w, https://www.army.mil/e2/c/images/2016/04/07/429882/size1.jpg 446w, https://www.army.mil/e2/c/images/2016/04/07/429882/size2.jpg 342w, https://www.army.mil/e2/c/images/2016/04/07/429882/size3.jpg 150w, https://www.army.mil/e2/c/images/2016/04/07/429882/size4.jpg 100w" sizes="(min-width: 640px) 640px" src="https://www.army.mil/e2/c/images/2016/04/07/429882/size2.jpg" alt="temp image caption">
                </span>
                <span class="date"><span>April 7, 2016</span></span>
                <span class="title">US, ROK air defenders demonstrate resolve during major command post exercise</span>
            </a>
        </li>
        <li>
            <a href="#" title="2 CAB fuelers bolster operations">
                <span class="image">
                    <img class="resp-image" srcset="https://www.army.mil/e2/c/images/2016/03/16/427389/size0.jpg 640w, https://www.army.mil/e2/c/images/2016/03/16/427389/size1.jpg 446w, https://www.army.mil/e2/c/images/2016/03/16/427389/size2.jpg 342w, https://www.army.mil/e2/c/images/2016/03/16/427389/size3.jpg 150w, https://www.army.mil/e2/c/images/2016/03/16/427389/size4.jpg 100w" sizes="(min-width: 640px) 640px" src="https://www.army.mil/e2/c/images/2016/03/16/427389/size2.jpg" alt="temp image caption">
                </span>
                <span class="date"><span>March 16, 2016</span></span>
                <span class="title">2 CAB fuelers bolster operations</span>
            </a>
        </li>
        <li>
            <a href="#" title="229th Signal recognized for joint training">
                <span class="image">
                    <img class="resp-image" srcset="https://www.army.mil/e2/c/images/2016/03/15/427206/size0.jpg 640w, https://www.army.mil/e2/c/images/2016/03/15/427206/size1.jpg 446w, https://www.army.mil/e2/c/images/2016/03/15/427206/size2.jpg 342w, https://www.army.mil/e2/c/images/2016/03/15/427206/size3.jpg 150w, https://www.army.mil/e2/c/images/2016/03/15/427206/size4.jpg 100w" sizes="(min-width: 640px) 640px" src="https://www.army.mil/e2/c/images/2016/03/15/427206/size2.jpg" alt="temp image caption">
                </span>
                <span class="date"><span>March 15, 2016</span></span>
                <span class="title">229th Signal recognized for joint training</span>
            </a>
        </li>
        <li>
            <a href="#" title="194th mechanics ensure 'safety first' for fellow soldiers">
                <span class="image">
                    <img class="resp-image" srcset="https://www.army.mil/e2/c/images/2016/03/15/427202/size0.jpg 640w, https://www.army.mil/e2/c/images/2016/03/15/427202/size1.jpg 446w, https://www.army.mil/e2/c/images/2016/03/15/427202/size2.jpg 342w, https://www.army.mil/e2/c/images/2016/03/15/427202/size3.jpg 150w, https://www.army.mil/e2/c/images/2016/03/15/427202/size4.jpg 100w" sizes="(min-width: 640px) 640px" src="https://www.army.mil/e2/c/images/2016/03/15/427202/size2.jpg" alt="temp image caption">
                </span>
                <span class="date"><span>March 15, 2016</span></span>
                <span class="title">194th mechanics ensure 'safety first' for fellow soldiers</span>
            </a>
        </li>
        <li>
            <a href="#" title="2015 Army Arts and Crafts winners recognized at Humphreys">
                <span class="image">
                    <img class="resp-image" srcset="https://www.army.mil/e2/c/images/2016/02/29/425076/size0.jpg 640w, https://www.army.mil/e2/c/images/2016/02/29/425076/size1.jpg 446w, https://www.army.mil/e2/c/images/2016/02/29/425076/size2.jpg 342w, https://www.army.mil/e2/c/images/2016/02/29/425076/size3.jpg 150w, https://www.army.mil/e2/c/images/2016/02/29/425076/size4.jpg 100w" sizes="(min-width: 640px) 640px" src="https://www.army.mil/e2/c/images/2016/02/29/425076/size2.jpg" alt="temp image caption">
                </span>
                <span class="date"><span>February 29, 2016</span></span>
                <span class="title">2015 Army Arts and Crafts winners recognized at Humphreys</span>
            </a>
        </li>
        <li>
            <a href="#" title="Railhead opening moves Camp Humphreys closer to expansion">
                <span class="image">
                    <img class="resp-image" srcset="https://www.army.mil/e2/c/images/2016/02/29/425069/size0.jpg 640w, https://www.army.mil/e2/c/images/2016/02/29/425069/size1.jpg 446w, https://www.army.mil/e2/c/images/2016/02/29/425069/size2.jpg 342w, https://www.army.mil/e2/c/images/2016/02/29/425069/size3.jpg 150w, https://www.army.mil/e2/c/images/2016/02/29/425069/size4.jpg 100w" sizes="(min-width: 640px) 640px" src="https://www.army.mil/e2/c/images/2016/02/29/425069/size2.jpg" alt="temp image caption">
                </span>
                <span class="date"><span>February 29, 2016</span></span>
                <span class="title">Railhead opening moves Camp Humphreys closer to expansion</span>
            </a>
        </li>
        <li>
            <a href="#" title="Pearson assumes responsibility of U.S. Army Garrison Humphreys">
                <span class="image">
                    <img class="resp-image" srcset="https://www.army.mil/e2/c/images/2016/02/29/425068/size0.jpg 640w, https://www.army.mil/e2/c/images/2016/02/29/425068/size1.jpg 446w, https://www.army.mil/e2/c/images/2016/02/29/425068/size2.jpg 342w, https://www.army.mil/e2/c/images/2016/02/29/425068/size3.jpg 150w, https://www.army.mil/e2/c/images/2016/02/29/425068/size4.jpg 100w" sizes="(min-width: 640px) 640px" src="https://www.army.mil/e2/c/images/2016/02/29/425068/size2.jpg" alt="temp image caption">
                </span>
                <span class="date"><span>February 29, 2016</span></span>
                <span class="title">Pearson assumes responsibility of U.S. Army Garrison Humphreys</span>
            </a>
        </li>
        <li>
            <a href="#" title="501st Military Intelligence Brigade welcomes new senior enlisted leader">
                <span class="image">
                    <img class="resp-image" srcset="https://www.army.mil/e2/c/images/2016/02/11/423185/size0.jpg 640w, https://www.army.mil/e2/c/images/2016/02/11/423185/size1.jpg 446w, https://www.army.mil/e2/c/images/2016/02/11/423185/size2.jpg 342w, https://www.army.mil/e2/c/images/2016/02/11/423185/size3.jpg 150w, https://www.army.mil/e2/c/images/2016/02/11/423185/size4.jpg 100w" sizes="(min-width: 640px) 640px" src="https://www.army.mil/e2/c/images/2016/02/11/423185/size2.jpg" alt="temp image caption">
                </span>
                <span class="date"><span>February 11, 2016</span></span>
                <span class="title">501st Military Intelligence Brigade welcomes new senior enlisted leader</span>
            </a>
        </li>
    </ul>
</div>