<div class="news">
    <!-- remove class no-dates to see dates -->
    <ul class="no-dates">
        <li>
            <a href="#" title="Olympics live coverage available to most Soldiers worldwide">
                <span class="image">
                    <img srcset="https://www.army.mil/e2/c/images/2016/08/04/445752/size1.jpg 446w, https://www.army.mil/e2/c/images/2016/08/04/445752/size2.jpg 342w, https://www.army.mil/e2/c/images/2016/08/04/445752/size3.jpg 150w, https://www.army.mil/e2/c/images/2016/08/04/445752/size4.jpg 100w" sizes="(max-width: 45em) 100vw, (max-width: 62em) 30vw, 310px" src="https://www.army.mil/e2/c/images/2016/08/04/445752/size1.jpg" alt="Olympics live coverage available to most Soldiers worldwide">
                </span>
                <span class="title">Olympics live coverage available to most Soldiers worldwide</span>
                <span class="date">August 5, 2016</span>
            </a>
        </li>
        <li>
            <a href="#" title="Gen. Joseph Lengyel becomes 28th chief of National Guard Bureau">
                <span class="image">
                    <img srcset="https://www.army.mil/e2/c/images/2016/08/04/445649/size1.jpg 446w, https://www.army.mil/e2/c/images/2016/08/04/445649/size2.jpg 342w, https://www.army.mil/e2/c/images/2016/08/04/445649/size3.jpg 150w, https://www.army.mil/e2/c/images/2016/08/04/445649/size4.jpg 100w" sizes="(max-width: 45em) 100vw, (max-width: 62em) 30vw, 310px" src="https://www.army.mil/e2/c/images/2016/08/04/445649/size2.jpg" alt="Gen. Joseph Lengyel becomes 28th chief of National Guard Bureau">
                </span>
                <span class="title">Gen. Joseph Lengyel becomes 28th chief of National Guard Bureau</span>
                <span class="date">August 4, 2016</span>
            </a>
        </li>
        <li>
            <a href="#" title="'Road to Rio' includes stops at Fort Leonard Wood">
                <span class="image">
                    <img srcset="https://www.army.mil/e2/c/images/2016/08/03/445588/size1.jpg 446w, https://www.army.mil/e2/c/images/2016/08/03/445588/size2.jpg 342w, https://www.army.mil/e2/c/images/2016/08/03/445588/size3.jpg 150w, https://www.army.mil/e2/c/images/2016/08/03/445588/size4.jpg 100w" sizes="(max-width: 45em) 100vw, (max-width: 62em) 30vw, 310px" src="https://www.army.mil/e2/c/images/2016/08/03/445588/size2.jpg" alt="'Road to Rio' includes stops at Fort Leonard Wood">
                </span>
                <span class="title">'Road to Rio' includes stops at Fort Leonard Wood</span>
                <span class="date">August 3, 2016</span>
            </a>
        </li>
        <li>
            <a href="#" title="Scientists showcase advanced Army tech for DOD deputy secretary">
                <span class="image">
                    <img srcset="https://www.army.mil/e2/c/images/2016/08/03/445616/size1.jpg 446w, https://www.army.mil/e2/c/images/2016/08/03/445616/size2.jpg 342w, https://www.army.mil/e2/c/images/2016/08/03/445616/size3.jpg 150w, https://www.army.mil/e2/c/images/2016/08/03/445616/size4.jpg 100w" sizes="(max-width: 45em) 100vw, (max-width: 62em) 30vw, 310px" src="https://www.army.mil/e2/c/images/2016/08/03/445616/size2.jpg" alt="Scientists showcase advanced Army tech for DOD deputy secretary">
                </span>
                <span class="title">Scientists showcase advanced Army tech for DOD deputy secretary</span>
                <span class="date">August 3, 2016</span>
            </a>
        </li>
        <li>
            <a href="#" title="Civil support team catches a different kind of ride to work">
                <span class="image">
                    <img srcset="https://www.army.mil/e2/c/images/2016/08/02/445418/size1.jpg 446w, https://www.army.mil/e2/c/images/2016/08/02/445418/size2.jpg 342w, https://www.army.mil/e2/c/images/2016/08/02/445418/size3.jpg 150w, https://www.army.mil/e2/c/images/2016/08/02/445418/size4.jpg 100w" sizes="(max-width: 45em) 100vw, (max-width: 62em) 30vw, 310px" src="https://www.army.mil/e2/c/images/2016/08/02/445418/size2.jpg" alt="Civil support team catches a different kind of ride to work">
                </span>
                <span class="title">Civil support team catches a different kind of ride to work</span>
                <span class="date">August 2, 2016</span>
            </a>
        </li>
        <li>
            <a href="#" title="National Guard brigade undertakes unprecedented logistics effort for Saber Guardian">
                <span class="image">
                    <img srcset="https://www.army.mil/e2/c/images/2016/08/02/445429/size1.jpg 446w, https://www.army.mil/e2/c/images/2016/08/02/445429/size2.jpg 342w, https://www.army.mil/e2/c/images/2016/08/02/445429/size3.jpg 150w, https://www.army.mil/e2/c/images/2016/08/02/445429/size4.jpg 100w" sizes="(max-width: 45em) 100vw, (max-width: 62em) 30vw, 310px" src="https://www.army.mil/e2/c/images/2016/08/02/445429/size2.jpg" alt="National Guard brigade undertakes unprecedented logistics effort for Saber Guardian">
                </span>
                <span class="title">National Guard brigade undertakes unprecedented logistics effort for Saber Guardian</span>
                <span class="date">August 2, 2016</span>
            </a>
        </li>
    </ul>
</div>