<div class="news">
    <div class="heading-container">
        <h4>NEWS</h4>
        <div class="right">
            <a href="https://www.army.mil/news/">View All News<span class="view-more-arrow-sm"></span></a>
        </div>
    </div>
    <!-- remove class no-dates to see dates -->
    <ul class="no-dates">
        <li>
            <a href="https://www.army.mil/article/173720/president_proclaims_national_employer_support_of_the_guard_and_reserve_week" title="President proclaims 'National Employer Support of the Guard and Reserve Week'">
                <span class="image">
                    <img srcset="https://www.army.mil/e2/c/images/2016/08/22/447747/size1.jpg 446w, https://www.army.mil/e2/c/images/2016/08/22/447747/size2.jpg 342w, https://www.army.mil/e2/c/images/2016/08/22/447747/size3.jpg 150w, https://www.army.mil/e2/c/images/2016/08/22/447747/size4.jpg 100w" sizes="(max-width: 45em) 100vw, (max-width: 62em) 30vw, 310px" src="https://www.army.mil/e2/c/images/2016/08/22/447747/size1.jpg" alt="President proclaims 'National Employer Support of the Guard and Reserve Week'">
                </span>
                <span class="title">President proclaims 'National Employer Support of the Guard and Reserve Week'</span>
                <span class="date">August 22, 2016</span>
            </a>
        </li>
        <li>
            <a href="https://www.army.mil/article/173660/army_chief_of_staff_visits_combined_forces_on_korean_peninsula" title="Army Chief of Staff visits combined forces on Korean peninsula">
                <span class="image">
                    <img srcset="https://www.army.mil/e2/c/images/2016/08/19/447604/size1.jpg 446w, https://www.army.mil/e2/c/images/2016/08/19/447604/size2.jpg 342w, https://www.army.mil/e2/c/images/2016/08/19/447604/size3.jpg 150w, https://www.army.mil/e2/c/images/2016/08/19/447604/size4.jpg 100w" sizes="(max-width: 45em) 100vw, (max-width: 62em) 30vw, 310px" src="https://www.army.mil/e2/c/images/2016/08/19/447604/size2.jpg" alt="Army Chief of Staff visits combined forces on Korean peninsula">
                </span>
                <span class="title">Army Chief of Staff visits combined forces on Korean peninsula</span>
                <span class="date">August 19, 2016</span>
            </a>
        </li>
        <li>
            <a href="https://www.army.mil/article/173576/south_dakota_couple_graduate_basic_training_together" title="South Dakota couple graduate basic training together">
                <span class="image">
                    <img srcset="https://www.army.mil/e2/c/images/2016/08/18/447447/size1.jpg 446w, https://www.army.mil/e2/c/images/2016/08/18/447447/size2.jpg 342w, https://www.army.mil/e2/c/images/2016/08/18/447447/size3.jpg 150w, https://www.army.mil/e2/c/images/2016/08/18/447447/size4.jpg 100w" sizes="(max-width: 45em) 100vw, (max-width: 62em) 30vw, 310px" src="https://www.army.mil/e2/c/images/2016/08/18/447447/size2.jpg" alt="South Dakota couple graduate basic training together">
                </span>
                <span class="title">South Dakota couple graduate basic training together</span>
                <span class="date">August 19, 2016</span>
            </a>
        </li>
        <li>
            <a href="https://www.army.mil/article/173589/national_guard_rescues_19000_in_flood_affected_areas" title="National Guard rescues 19,000 in flood-affected areas">
                <span class="image">
                    <img srcset="https://www.army.mil/e2/c/images/2016/08/19/447591/size1.jpg 446w, https://www.army.mil/e2/c/images/2016/08/19/447591/size2.jpg 342w, https://www.army.mil/e2/c/images/2016/08/19/447591/size3.jpg 150w, https://www.army.mil/e2/c/images/2016/08/19/447591/size4.jpg 100w" sizes="(max-width: 45em) 100vw, (max-width: 62em) 30vw, 310px" src="https://www.army.mil/e2/c/images/2016/08/19/447591/size2.jpg" alt="National Guard rescues 19,000 in flood-affected areas">
                </span>
                <span class="title">National Guard rescues 19,000 in flood-affected areas</span>
                <span class="date">August 18, 2016</span>
            </a>
        </li>
        <li>
            <a href="https://www.army.mil/article/173559/vp_biden_hitches_ride_on_chinook_to_sons_dedication" title="VP Biden hitches ride on Chinook to son's dedication">
                <span class="image">
                    <img srcset="https://www.army.mil/e2/c/images/2016/08/18/447410/size1.jpg 446w, https://www.army.mil/e2/c/images/2016/08/18/447410/size2.jpg 342w, https://www.army.mil/e2/c/images/2016/08/18/447410/size3.jpg 150w, https://www.army.mil/e2/c/images/2016/08/18/447410/size4.jpg 100w" sizes="(max-width: 45em) 100vw, (max-width: 62em) 30vw, 310px" src="https://www.army.mil/e2/c/images/2016/08/18/447410/size2.jpg" alt="VP Biden hitches ride on Chinook to son's dedication">
                </span>
                <span class="title">VP Biden hitches ride on Chinook to son's dedication</span>
                <span class="date">August 18, 2016</span>
            </a>
        </li>
        <li>
            <a href="https://www.army.mil/article/173544/army_reserve_officer_takes_olympic_bronze_in_pole_vault" title="Army Reserve officer takes Olympic bronze in pole vault">
                <span class="image">
                    <img srcset="https://www.army.mil/e2/c/images/2016/08/17/447384/size1.jpg 446w, https://www.army.mil/e2/c/images/2016/08/17/447384/size2.jpg 342w, https://www.army.mil/e2/c/images/2016/08/17/447384/size3.jpg 150w, https://www.army.mil/e2/c/images/2016/08/17/447384/size4.jpg 100w" sizes="(max-width: 45em) 100vw, (max-width: 62em) 30vw, 310px" src="https://www.army.mil/e2/c/images/2016/08/17/447384/size2.jpg" alt="Army Reserve officer takes Olympic bronze in pole vault">
                </span>
                <span class="title">Army Reserve officer takes Olympic bronze in pole vault</span>
                <span class="date">August 18, 2016</span>
            </a>
        </li>
    </ul>
</div>