<div class="page-banner1 page-banner with-logo">
    <div class="container">
        <div class="logo">
            <img alt="logo alt" src="https://www.army.mil/e2/images/rv7/org/logos/101stairborne.png">
        </div>
        <div class="inner-container">
            <div class="left-container">
                <h1>Page Banners</h1>
                <div class="max-width-container">
                    <p>Short banner description area here. Should only be a few sentences, at most.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-banner2 page-banner leader-banner image-gradient parallax-image">
    <div class="full-width-image">
        <img src="https://www.army.mil/e2/images/rv7/leaders/masthead/sa/1600.jpg" srcset="https://www.army.mil/e2/images/rv7/leaders/masthead/sa/1600.jpg 1600w, https://www.army.mil/e2/images/rv7/leaders/masthead/sa/1200.jpg 1200w, https://www.army.mil/e2/images/rv7/leaders/masthead/sa/992.jpg 992w, https://www.army.mil/e2/images/rv7/leaders/masthead/sa/768.jpg 768w, https://www.army.mil/e2/images/rv7/leaders/masthead/sa/480.jpg 480w">
    </div>
    <div class="container">
        <div class="inner-container">
            <div class="left-container">
                <div class="inline-logo">
                    <img alt="SA Office Flag" src="https://www.army.mil/e2/images/rv7/leaders/flags/secarmy_flag.jpg">
                </div>

                <h2>Secretary of the Army</h2>

                <div class="max-width-container">
                    
                    <h1>Eric Fanning</h1>

                    <ul class="social-links">
                        <li class="social-button facebook-button">
                            <a title="bannerHeading on Facebook" href="http:www.facebook.com/">
                                <span></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-banner3 page-banner news-wide parallax-image">
    <div class="full-width-image">
        <img src="https://www.army.mil/e2/images/rv7/global-news/mastheads/1600.jpg" srcset="https://www.army.mil/e2/images/rv7/global-news/mastheads/1600.jpg 1600w, https://www.army.mil/e2/images/rv7/global-news/mastheads/1200.jpg 1200w, https://www.army.mil/e2/images/rv7/global-news/mastheads/992.jpg 992w, https://www.army.mil/e2/images/rv7/global-news/mastheads/768.jpg 768w, https://www.army.mil/e2/images/rv7/global-news/mastheads/480.jpg 480w">
    </div>
    <div class="container">
        <div class="inner-container">
            <div class="left-container">
                <h1>Army Worldwide</h1>
                <p>The U.S. Army is globally engaged supporting Combatant Command missions.</p>
            </div>
        </div>
    </div>
</div>

<nav>
    <input type="checkbox" id="subnav-toggle">
    <div class="subnav-container">
        <div class="subnav-inner">
            <label for="subnav-toggle">News Filters</label>
            <ul class="container">
                <li><a class="active" id="page-banner1" href="">Standard</a></li>
                <li><a href="#page-banner2">Leaders</a></li>
                <li><a href="#page-banner3">News</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="inner-container">
        <ul class="github-links">
            <li>
                <div class="btn">
                    <div>
                        <a href="../">
                            &lt; Back to Main Styleguide<span></span><span></span><span></span><span></span><span></span><span></span>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="inner-container">
        <h4>Page Banners</h4>
        <p>Use the sub navigation menu above to switch between different page banner examples.</p>
        <div class="elem">
            <h4>Filler Content</h4>
            {% include elements/two-column-body.html %}
        </div>
    </div>
</div>
