<div class="page-banner1 page-banner standard parallax-image">
    <div class="full-width-image">
        <div class="overlay-effect"></div>
        <img src="https://www.army.mil/e2/images/rv7/banners/army_worldwide/1600.jpg" srcset="https://www.army.mil/e2/images/rv7/banners/army_worldwide/2500.jpg 2500w, https://www.army.mil/e2/images/rv7/banners/army_worldwide/1600.jpg 1600w, https://www.army.mil/e2/images/rv7/banners/army_worldwide/768.jpg 768w">
    </div>
    <div class="container">
        <div class="inner-container">
            <div class="left-container">
                <h1>Army Worldwide</h1>
                <h2>Globally Responsive, <br>Regionally Engaged</h2>
            </div>
        </div>
    </div>
</div>

<div class="page-banner2 page-banner leader-banner image-gradient parallax-image image-to-top">
    <div class="full-width-image">
        <img src="https://www.army.mil/e2/images/rv7/leaders/masthead/sa/1600.jpg"
             srcset="https://www.army.mil/e2/images/rv7/leaders/masthead/sa/2500.jpg 2500w,
                     https://www.army.mil/e2/images/rv7/leaders/masthead/sa/1600.jpg 1600w,
                     https://www.army.mil/e2/images/rv7/leaders/masthead/sa/1200.jpg 1200w,
                     https://www.army.mil/e2/images/rv7/leaders/masthead/sa/992.jpg 992w,
                     https://www.army.mil/e2/images/rv7/leaders/masthead/sa/480.jpg 480w"
        />
    </div>
    <div class="container">
        <div class="inner-container">
            <div class="left-container">
                <div class="logo">
                    <img alt="SA Office Flag" src="https://www.army.mil/e2/images/rv7/leaders/flags/secarmy_flag.jpg">
                </div>

                <h2>Secretary of the Army</h2>

                <div class="max-width-container">
                    
                    <h1>Eric Fanning</h1>

                    <ul class="social-links">
                        <li class="social-button facebook-button">
                            <a rel="noopener noreferrer" target="_blank" href="https://www.facebook.com/secarmy22/" title="Secretary of the Army Eric Fanning Facebook"><span>Secretary of the Army Eric Fanning Facebook</span></a>
                        </li>
                        <li class="social-button twitter-button">
                            <a rel="noopener noreferrer" target="_blank" href="https://twitter.com/SECARMY" title="Secretary of the Army Eric Fanning Twitter"><span>Secretary of the Army Eric Fanning Twitter</span></a>
                        </li>
                        <li class="social-button flickr-button">
                            <a rel="noopener noreferrer" target="_blank" href="https://www.flickr.com/photos/sec-army-pao/sets" title="Secretary of the Army Eric Fanning Flickr"><span>Secretary of the Army Eric Fanning Flickr</span></a>
                        </li>
                        <li class="social-button instagram-button">
                            <a rel="noopener noreferrer" target="_blank" href="https://www.instagram.com/secarmy/" title="Secretary of the Army Eric Fanning Instagram"><span>Secretary of the Army Eric Fanning Instagram</span></a>
                        </li>
                        <li class="social-button snapchat-button">
                            <a target="_blank" href="https://www.army.mil/article/172345" title="Secretary of the Army Eric Fanning Snapchat"><span>Secretary of the Army Eric Fanning Snapchat</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-banner3 page-banner org-banner">
    <div class="container">
        <div class="inner-container">
            <div class="logo">
                <img alt="logo alt" src="https://www.army.mil/e2/images/rv7/org/logos/101stairborne.png">
            </div>
            <div class="left-container">
                <h1>Page Banners</h1>
                <div class="max-width-container">
                    <p>Short banner description area here. Should only be a few sentences, at most.</p>
                    <ul class="social-links">
                        <li class="social-button facebook-button">
                            <a title="USAG Humphreys on Facebook" href="https://www.facebook.com/usaghumphreys"><span></span></a>
                        </li>
                        <li class="social-button twitter-button">
                            <a title="USAG Humphreys on Twitter" href="https://twitter.com/usaghumphreys"><span></span></a>
                        </li>
                        <li class="social-button pinterest-button">
                            <a title="USAG Humphreys on Pinterest" href="https://www.pinterest.com/usaghumphreys"><span></span></a>
                        </li>
                        <li class="social-button youtube-button">
                            <a title="USAG Humphreys on YouTube" href="https://www.youtube.com/usaghumphreys"><span></span></a>
                        </li>
                        <li class="social-button flickr-button">
                            <a title="USAG Humphreys on Flickr" href="https://www.flickr.com/usaghumphreys"><span></span></a>
                        </li>
                        <li class="social-button vimeo-button">
                            <a title="USAG Humphreys on Vimeo" href="https://vimeo.com/usaghumphreys"><span></span></a>
                        </li>
                        <li class="social-button slideshare-button">
                            <a title="USAG Humphreys on SlideShare" href="http://www.slideshare.net/usaghumphreys"><span></span></a>
                        </li>
                        <li class="social-button rss-button">
                            <a target="_blank" href="https://www.army.mil/rss/static/1.xml"><span></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-banner4 page-banner parallax-image standard">
    <div class="full-width-image">
        <div class="overlay-effect"></div>
        <img src="https://www.army.mil/e2/images/rv7/banners/valor/1600.jpg" srcset="https://www.army.mil/e2/images/rv7/banners/valor/2500.jpg 2500w, https://www.army.mil/e2/images/rv7/banners/valor/1600.jpg 1600w, https://www.army.mil/e2/images/rv7/banners/valor/768.jpg 768w">
    </div>
    <div class="container">
        <div class="inner-container">
            <div class="left-container">
                <h1>Valor</h1>
                <h2>Above and Beyond <br>the Call of Duty</h2>
            </div>
        </div>
    </div>
</div>

<nav>
    <input type="checkbox" id="subnav-toggle">
    <div class="subnav-container">
        <div class="subnav-inner">
            <label for="subnav-toggle">News Filters</label>
            <ul class="container">
                <li><a class="active" data-id="page-banner1" href="">News</a></li>
                <li><a href="#page-banner2">Leaders</a></li>
                <li><a href="#page-banner3">Org Pages</a></li>
                <li><a href="#page-banner4">Features</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="inner-container">
        <ul class="github-links">
            <li>
                <div class="btn">
                    <div>
                        <a href="../">
                            &lt; Back to Main Styleguide<span></span><span></span><span></span><span></span><span></span><span></span>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="inner-container">
        <h4>Page Banners</h4>
        <p>Use the sub navigation menu above to switch between different page banner examples.</p>
        <div class="elem">
            <h4>Filler Content</h4>
            {% include elements/two-column-body.html %}
        </div>
    </div>
</div>
