<div class="photo-slideshow">
    <figure class="photo cur-photo">
        <span class="centered-image">
            <span class="img-container">
                <img alt="A Soldier from the British Army's 250th Gurkha Signal Squadron, 30th Signal Regiment, talks on an HF radio at a cross training event with U.S. Army Soldiers from the 44th Expeditionary Signal Battalion, 2nd Signal Brigade, June 1, 2016 during exercise Stoney Run in Bramcote, England. Stoney Run is an annual U.S.-U.K. signal exercise designed to test and validate communications and network capabilities, and enhance interoperability and partner capacity between the two NATO Allies." src="https://www.army.mil/e2/c/images/2016/06/01/437559/size0.jpg" sizes="(min-width: 640px) 640px" srcset="https://www.army.mil/e2/c/images/2016/06/01/437559/size0.jpg 640w, https://www.army.mil/e2/c/images/2016/06/01/437559/size1.jpg 446w, https://www.army.mil/e2/c/images/2016/06/01/437559/size2.jpg 342w, https://www.army.mil/e2/c/images/2016/06/01/437559/size3.jpg 150w, https://www.army.mil/e2/c/images/2016/06/01/437559/size4.jpg 100w" class="resp-image">
                <span class="ss-move ss-prev"><span class="ss-move-button"></span></span>
                <span class="ss-move ss-next"><span class="ss-move-button"></span></span>
            </span>
        </span>
        <figcaption>
            <span class="image-count">1 / 5</span>
            <span class="image-caption-button">
                <span class="caption-button-text caption-button-hide">Show Caption +</span>
                <span class="caption-button-text caption-button-show">Hide Caption &ndash;</span>
            </span>
            <span class="image-caption"><span class="caption-text">A Soldier from the British Army's 250th Gurkha Signal Squadron, 30th Signal Regiment, talks on an HF radio at a cross training event with U.S. Army Soldiers from the 44th Expeditionary Signal Battalion, 2nd Signal Brigade, June 1, 2016 during exercise Stoney Run in Bramcote, England. Stoney Run is an annual U.S.-U.K. signal exercise designed to test and validate communications and network capabilities, and enhance interoperability and partner capacity between the two NATO Allies.<span class="caption-author"> (Photo Credit: Mr. William B. King (5th Signal Command))</span></span></span>
        </figcaption>
    </figure>
    <figure class="photo">
        <span class="centered-image">
            <span class="img-container">
                <img alt="A Soldier from the British Army's 250th Gurkha Signal Squadron, 30th Signal Regiment, speaks to U.S. Army Soldiers from the 44th Expeditionary Signal Battalion, 2nd Signal Brigade, at a cross training event, June 1, 2016 during exercise Stoney Run in Bramcote, England. Stoney Run is an annual U.S.-U.K. signal exercise designed to test and validate communications and network capabilities, and enhance interoperability and partner capacity between the two NATO Allies." src="https://www.army.mil/e2/c/images/2016/06/01/437562/size0.jpg" sizes="(min-width: 640px) 640px" srcset="https://www.army.mil/e2/c/images/2016/06/01/437562/size0.jpg 640w, https://www.army.mil/e2/c/images/2016/06/01/437562/size1.jpg 446w, https://www.army.mil/e2/c/images/2016/06/01/437562/size2.jpg 342w, https://www.army.mil/e2/c/images/2016/06/01/437562/size3.jpg 150w, https://www.army.mil/e2/c/images/2016/06/01/437562/size4.jpg 100w" class="resp-image">
                <span class="ss-move ss-prev"><span class="ss-move-button"></span></span>
                <span class="ss-move ss-next"><span class="ss-move-button"></span></span>
            </span>
        </span>
        <figcaption>
            <span class="image-count">2 / 5</span>
            <span class="image-caption-button">
                <span class="caption-button-text caption-button-hide">Show Caption +</span>
                <span class="caption-button-text caption-button-show">Hide Caption &ndash;</span>
            </span>
            <span class="image-caption"><span class="caption-text">A Soldier from the British Army's 250th Gurkha Signal Squadron, 30th Signal Regiment, speaks to U.S. Army Soldiers from the 44th Expeditionary Signal Battalion, 2nd Signal Brigade, at a cross training event, June 1, 2016 during exercise Stoney Run in Bramcote, England. Stoney Run is an annual U.S.-U.K. signal exercise designed to test and validate communications and network capabilities, and enhance interoperability and partner capacity between the two NATO Allies.<span class="caption-author"> (Photo Credit: Mr. William B. King (5th Signal Command))</span></span></span>
        </figcaption>
    </figure>
    <figure class="photo">
        <span class="centered-image">
            <span class="img-container">
                <img alt="Maj. John Walton, commander of the British Army's 250th Gurkha Signal Squadron, 30th Signal Regiment, speaks with U.S. Army Soldiers from the 44th Expeditionary Signal Battalion, 2nd Signal Brigade, at a cross training event, June 1, 2016 during exercise Stoney Run in Bramcote, England. Stoney Run is an annual U.S.-U.K. signal exercise designed to test and validate communications and network capabilities, and enhance interoperability and partner capacity between the two NATO Allies." src="https://www.army.mil/e2/c/images/2016/06/01/437560/size0.jpg" sizes="(min-width: 640px) 640px" srcset="https://www.army.mil/e2/c/images/2016/06/01/437560/size0.jpg 640w, https://www.army.mil/e2/c/images/2016/06/01/437560/size1.jpg 446w, https://www.army.mil/e2/c/images/2016/06/01/437560/size2.jpg 342w, https://www.army.mil/e2/c/images/2016/06/01/437560/size3.jpg 150w, https://www.army.mil/e2/c/images/2016/06/01/437560/size4.jpg 100w" class="resp-image">
                <span class="ss-move ss-prev"><span class="ss-move-button"></span></span>
                <span class="ss-move ss-next"><span class="ss-move-button"></span></span>
            </span>
        </span>
        <figcaption>
            <span class="image-count">3 / 5</span>
            <span class="image-caption-button">
                <span class="caption-button-text caption-button-hide">Show Caption +</span>
                <span class="caption-button-text caption-button-show">Hide Caption &ndash;</span>
            </span>
            <span class="image-caption"><span class="caption-text">Maj. John Walton, commander of the British Army's 250th Gurkha Signal Squadron, 30th Signal Regiment, speaks with U.S. Army Soldiers from the 44th Expeditionary Signal Battalion, 2nd Signal Brigade, at a cross training event, June 1, 2016 during exercise Stoney Run in Bramcote, England. Stoney Run is an annual U.S.-U.K. signal exercise designed to test and validate communications and network capabilities, and enhance interoperability and partner capacity between the two NATO Allies.<span class="caption-author"> (Photo Credit: Mr. William B. King (5th Signal Command))</span></span></span>
        </figcaption>
    </figure>
    <figure class="photo">
        <span class="centered-image">
            <span class="img-container">
                <img alt="Maya Ruiz receives the 2016 Living Legacy Educational Scholarship from Lillie S. Cannon of Columbia Southern Education Group and Capt. Harvey of Installation Management Command on May 29. Ruiz's sister Airman 1st Class Kacey Ruiz was killed in Afghanistan when the transport plane she was in crashed in October 2015." src="https://www.army.mil/e2/c/images/2016/06/01/437586/size0.jpg" sizes="(min-width: 640px) 640px" srcset="https://www.army.mil/e2/c/images/2016/06/01/437586/size0.jpg 640w, https://www.army.mil/e2/c/images/2016/06/01/437586/size1.jpg 446w, https://www.army.mil/e2/c/images/2016/06/01/437586/size2.jpg 342w, https://www.army.mil/e2/c/images/2016/06/01/437586/size3.jpg 150w, https://www.army.mil/e2/c/images/2016/06/01/437586/size4.jpg 100w" class="resp-image">
                <span class="ss-move ss-prev"><span class="ss-move-button"></span></span>
                <span class="ss-move ss-next"><span class="ss-move-button"></span></span>
            </span>
        </span>
        <figcaption>
            <span class="image-count">4 / 5</span>
            <span class="image-caption-button">
                <span class="caption-button-text caption-button-hide">Show Caption +</span>
                <span class="caption-button-text caption-button-show">Hide Caption &ndash;</span>
            </span>
            <span class="image-caption"><span class="caption-text">Maya Ruiz receives the 2016 Living Legacy Educational Scholarship from Lillie S. Cannon of Columbia Southern Education Group and Capt. Harvey of Installation Management Command on May 29. Ruiz's sister Airman 1st Class Kacey Ruiz was killed in Afghanistan when the transport plane she was in crashed in October 2015.<span class="caption-author"> (Photo Credit: Army)</span></span></span>
        </figcaption>
    </figure>
    <figure class="photo">
        <span class="centered-image">
            <span class="img-container">
                <img alt="U.S. Army Soldiers from the 44th Expeditionary Signal Battalion, 2nd Signal Brigade, set up a line-of-sight antenna ahead of a cross training event with Soldiers from the British Army's 250th Gurkha Signal Squadron, 30th Signal Regiment, June 1, 2016 during exercise Stoney Run in Bramcote, England. Stoney Run is an annual U.S.-U.K. signal exercise designed to test and validate communications and network capabilities, and enhance interoperability and partner capacity between the two NATO Allies." src="https://www.army.mil/e2/c/images/2016/06/01/437558/size0.jpg" sizes="(min-width: 640px) 640px" srcset="https://www.army.mil/e2/c/images/2016/06/01/437558/size0.jpg 640w, https://www.army.mil/e2/c/images/2016/06/01/437558/size1.jpg 446w, https://www.army.mil/e2/c/images/2016/06/01/437558/size2.jpg 342w, https://www.army.mil/e2/c/images/2016/06/01/437558/size3.jpg 150w, https://www.army.mil/e2/c/images/2016/06/01/437558/size4.jpg 100w" class="resp-image">
                <span class="ss-move ss-prev"><span class="ss-move-button"></span></span>
                <span class="ss-move ss-next"><span class="ss-move-button"></span></span>
            </span>
        </span>
        <figcaption>
            <span class="image-count">5 / 5</span>
            <span class="image-caption-button">
                <span class="caption-button-text caption-button-hide">Show Caption +</span>
                <span class="caption-button-text caption-button-show">Hide Caption &ndash;</span>
            </span>
            <span class="image-caption"><span class="caption-text">U.S. Army Soldiers from the 44th Expeditionary Signal Battalion, 2nd Signal Brigade, set up a line-of-sight antenna ahead of a cross training event with Soldiers from the British Army's 250th Gurkha Signal Squadron, 30th Signal Regiment, June 1, 2016 during exercise Stoney Run in Bramcote, England. Stoney Run is an annual U.S.-U.K. signal exercise designed to test and validate communications and network capabilities, and enhance interoperability and partner capacity between the two NATO Allies.<span class="caption-author"> (Photo Credit: Mr. William B. King (5th Signal Command))</span></span></span>
        </figcaption>
    </figure>
</div>