<section class="playlist">
    <div class="playlist-player custom-playlist">
        <div class="video-player">
            <div class="video-wrapper">
                <div class="ytPlayer" data-ytid="ELnKzD60lRE"></div>
                <!-- <iframe width="560" height="315" frameborder="0" data-ytid="eOKkySSOEzI" class="ytPlayer" id="ytPlayer0" allowfullscreen="1" title="YouTube video player" src="https://www.youtube.com/embed/eOKkySSOEzI?autoplay=0&amp;controls=1&amp;modestbranding=1&amp;rel=0&amp;wmode=opaque&amp;enablejsapi=1"></iframe> -->
            </div>
        </div>
        <div class="playlist-panel">
            <div class="playlist-overlay"></div>
            <div class="playlist-toggle">
                <a href="javascript:;" title="show videos playlist"><span></span></a>
            </div>
            <div class="playlist-info">
                <div class="table">
                    <h5><a href="javascript:;" title="hide videos playlist">Video Playlist Title<span></span></a></h5>
                </div>
            </div>
            <div class="videos">
                <table>
                <tr><td class="filler"></td></tr>
                <tr data-ytid="ELnKzD60lRE" class="video-item ">
                    <td>
                        <span class="v-position">1</span>
                        <span class="v-play-icon"><span></span></span>
                    </td>
                    <td class="v-title">Video Title 1</td>
                </tr>
                <tr data-ytid="c1zSZd0RQpc" class="video-item ">
                    <td>
                        <span class="v-position">2</span>
                        <span class="v-play-icon"><span></span></span>
                    </td>
                    <td class="v-title">Video Title 2</td>
                </tr>
                <tr data-ytid="ssXsJLCTPCc" class="video-item ">
                    <td>
                        <span class="v-position">3</span>
                        <span class="v-play-icon"><span></span></span>
                    </td>
                    <td class="v-title">Video Title 3</td>
                </tr>
                <tr data-ytid="GTGCUI5oHe8" class="video-item ">
                    <td>
                        <span class="v-position">4</span>
                        <span class="v-play-icon"><span></span></span>
                    </td>
                    <td class="v-title">Video Title 4</td>
                </tr>
                <tr data-ytid="cpTXt4oBwhU" class="video-item ">
                    <td>
                        <span class="v-position">5</span>
                        <span class="v-play-icon"><span></span></span>
                    </td>
                    <td class="v-title">Video Title 5</td>
                </tr>
                <tr data-ytid="tSfQ5JYfbKs" class="video-item ">
                    <td>
                        <span class="v-position">6</span>
                        <span class="v-play-icon"><span></span></span>
                    </td>
                    <td class="v-title">Video Title 6</td>
                </tr>
                <tr data-ytid="1Vbm_xd4xG0" class="video-item ">
                    <td>
                        <span class="v-position">7</span>
                        <span class="v-play-icon"><span></span></span>
                    </td>
                    <td class="v-title">Video Title 7</td>
                </tr>
                </table>
            </div>
        </div>
    </div>
 </section>