<div class="rich-text">

  <div class="rich-text-element bodytext">
    <p>Sample article. With another line that includes a <a class="documentlink" href="https://www.army.mil/e2/c/downloads/525863.pdf" title="525863.pdf" target="_blank">document link</a> [PDF - 10.49MB], and a <a href="https://www.army.mil/">regular link</a>.</p>

    <p>This is some sample rich text. It has <strong>bold text</strong>, <em>italic text</em>, and <strong><em>bold/italic text</em></strong>.</p>

    <h2>This is a Header</h2>

    <p>&quot;Lorem ipsum&quot; dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    <div class="editor-image photo-slideshow">
      <figure class="photo cur-photo">
        <span class="centered-image"><span class="img-container">
          <a class="rich-text-img-link" href="/e2/images/sample1-full.jpg" target="_blank" rel="noopener">
            <img alt="Sample image 1" data-full-desc="Sample image 1 description" src="/e2/images/sample1.jpg" />
          </a>
          <span class="ss-move ss-prev" tabindex="0" role="button" aria-label="Previous image"><span class="ss-move-button"></span></span>
          <span class="ss-move ss-next" tabindex="0" role="button" aria-label="Next image"><span class="ss-move-button"></span></span>
        </span></span>
        <figcaption>
          <span class="image-count">1 / 2</span>
          <label class="image-caption-button">
            <span class="caption-button-text caption-button-hide">Show Caption +</span>
            <span class="caption-button-text caption-button-show">Hide Caption –</span>
          </label>
          <span class="image-caption" id="image-caption-0">
            <span class="caption-text">Sample image 1 description <span class="caption-author"> (Photo Credit: U.S. Army)</span></span>
            <a href="/e2/images/sample1-full.jpg" title="View original" target="_blank" rel="noopener" aria-label="View original">VIEW ORIGINAL</a>
          </span>
        </figcaption>
      </figure>

      <figure class="photo">
        <span class="centered-image"><span class="img-container">
          <a class="rich-text-img-link" href="/e2/images/sample2-full.jpg" target="_blank" rel="noopener">
            <img alt="Sample image 2" data-full-desc="Sample image 2 description" src="/e2/images/sample2.jpg" />
          </a>
        </span></span>
        <figcaption>
          <span class="image-caption" id="image-caption-1">
            <span class="caption-text">Sample image 2 description <span class="caption-author"> (Photo Credit: U.S. Army)</span></span>
            <a href="/e2/images/sample2-full.jpg" title="View original" target="_blank" rel="noopener" aria-label="View original">VIEW ORIGINAL</a>
          </span>
        </figcaption>
      </figure>

      <input type="checkbox" id="show-captions-sample" class="show-captions-toggle">
    </div>

  </div>

</div>
