<div class="social">
  <!-- Regular White Buttons -->
  <div class="social-button facebook-button"><a href="#"><span></span></a></div>
  <div class="social-button twitter-button"><a href="#"><span></span></a></div>
  <div class="social-button googleplus-button"><a href="#"><span></span></a></div>
  <div class="social-button pinterest-button"><a href="#"><span></span></a></div>
  <div class="social-button flickr-button"><a href="#"><span></span></a></div>
  <div class="social-button slideshare-button"><a href="#"><span></span></a></div>
  <div class="social-button youtube-button"><a href="#"><span></span></a></div>
  <div class="social-button instagram-button"><a href="#"><span></span></a></div>
  <div class="social-button vimeo-button"><a href="#"><span></span></a></div>
  <div class="social-button armylive-button"><a href="#"><span></span></a></div>
  <!-- Regular Black Buttons -->
  <div class="social-button-black facebook-button"><a href="#"><span></span></a></div>
  <div class="social-button-black twitter-button"><a href="#"><span></span></a></div>
  <div class="social-button-black googleplus-button"><a href="#"><span></span></a></div>
  <div class="social-button-black pinterest-button"><a href="#"><span></span></a></div>
  <div class="social-button-black flickr-button"><a href="#"><span></span></a></div>
  <div class="social-button-black slideshare-button"><a href="#"><span></span></a></div>
  <div class="social-button-black youtube-button"><a href="#"><span></span></a></div>
  <div class="social-button-black instagram-button"><a href="#"><span></span></a></div>
  <div class="social-button-black vimeo-button"><a href="#"><span></span></a></div>
  <div class="social-button-black armylive-button"><a href="#"><span></span></a></div>
</div>