<div class="top-stories">
    <div id="top-stories-fixed" class="fixed">
        <h4>TOP STORIES</h4>
        <ul>
            <li>
                <a href="//www.army.mil/article/169229" title="Multinational Recovery Training Supports NATO Interoperability">
                    <span>June 7, 2016</span>
                    <span>Multinational Recovery Training Supports NATO Interoperability</span>
                </a>
            </li>
            <li>
                <a href="//www.army.mil/article/169177" title="72nd D-Day liberation of Normandy observed">
                    <span>June 6, 2016</span>
                    <span>72nd D-Day liberation of Normandy observed</span>
                </a>
            </li>
            <li>
                <a href="//www.army.mil/article/169212" title="Anakonda 16 officially kicks off in Poland">
                    <span>June 6, 2016</span>
                    <span>Anakonda 16 officially kicks off in Poland</span>
                </a>
            </li>
            <li>
                <a href="//www.army.mil/article/169167" title="ROTC has minted over 1,000,000 new lieutenants during its 100-year history">
                    <span>June 5, 2016</span>
                    <span>ROTC has minted over 1,000,000 new lieutenants during its 100-year history</span>
                </a>
            </li>
            <li>
                <a href="//www.army.mil/article/168884" title="OPAT to guide recruits to groups of, rather than specific MOSs">
                    <span>June 3, 2016</span>
                    <span>OPAT to guide recruits to groups of, rather than specific MOSs</span>
                </a>
            </li>
        </ul>
    </div>
</div>

