<div class="two-column-body">
    <div class="left-column bodytext">
        <p>Lorem ipsum dolor sit <a href="//www.army.mil/">amet</a>, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco <a href="//www.army.mil/">laboris nisi ut aliquip ex ea commodo consequat</a>. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <ol>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Ut enim ad minim veniam
                <ul>
                    <li>nested list bullet</li>
                    <li>nested list bullet</li>
                </ul>
            </li>
            <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</li>
        </ol>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <blockquote>This is a challenging time for our nation and for our Army. My highest priority will be working to ensure Soldiers receive the necessary resources and training to remain the greatest land power in the world. I am confident our Army will fight and win wherever our nation asks, whenever our country calls.</blockquote>
    </div>
    <div class="right-column">
        <div class="top-stories">
            <h4>TOP STORIES</h4>
            <ul>
                <li>
                    <a href="//www.army.mil/article/169229" title="Multinational Recovery Training Supports NATO Interoperability">
                        <span>June 7, 2016</span>
                        <span>Multinational Recovery Training Supports NATO Interoperability</span>
                    </a>
                </li>
                <li>
                    <a href="//www.army.mil/article/169177" title="72nd D-Day liberation of Normandy observed">
                        <span>June 6, 2016</span>
                        <span>72nd D-Day liberation of Normandy observed</span>
                    </a>
                </li>
                <li>
                    <a href="//www.army.mil/article/169212" title="Anakonda 16 officially kicks off in Poland">
                        <span>June 6, 2016</span>
                        <span>Anakonda 16 officially kicks off in Poland</span>
                    </a>
                </li>
                <li>
                    <a href="//www.army.mil/article/169167" title="ROTC has minted over 1,000,000 new lieutenants during its 100-year history">
                        <span>June 5, 2016</span>
                        <span>ROTC has minted over 1,000,000 new lieutenants during its 100-year history</span>
                    </a>
                </li>
                <li>
                    <a href="//www.army.mil/article/168884" title="OPAT to guide recruits to groups of, rather than specific MOSs">
                        <span>June 3, 2016</span>
                        <span>OPAT to guide recruits to groups of, rather than specific MOSs</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

