---
# Front matter comment to ensure Jekyll properly reads file.
---

// ----------------------------------------------------------------------
// Base
// ----------------------------------------------------------------------
@import "base";

// ----------------------------------------------------------------------
// Layout
// ----------------------------------------------------------------------
@import "layout";

// ----------------------------------------------------------------------
// CSS
// ----------------------------------------------------------------------

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  padding-top: 0px;
}

.main {
  margin-bottom: 0px;
  z-index: -1;
}

.upgrade-container {
  padding: 68px 15px 0;
  margin: 0 auto 4em;
  max-width: $screen-md-min;

  h1 {
    margin: 1.5em 0 1em;
  }

  h2 {
    margin: 2em 0 0.5em;
  }

  h3 {
    margin: 1em 0 0.5em;
  }

  b {
    font-weight: 700;
  }

  p {
    margin: 0 0 1em;
  }

  a {
    text-decoration: none;

    &:hover {
      color: map-get($army-branding, mediumcamo);
    }
  }

  .ms-support {
    background-color: $light-gray-color;
    padding: 20px;

    h3 {
      margin: 0.3em 0 0.5em;
    }
  }

  ul {
    list-style-type: disc;

    li {
      margin: 1em 20px;
      padding: 0 10px;
    }
  }

  .browser-logo {
    &.ie-logo {
      float: left;
      margin: 4px 10px 10px;
      width: 55px;
    }

    img {
      vertical-align: middle;
      max-height: 60px;
      margin: 0 15px 10px 0;
    }
  }
}

.navbar {
  .navbar-container {
    background-color: #000;
    height: 60px;
    border-bottom: 8px solid #fec325;
  }

  .nav-army-star {
    padding: 8px 10px 12px 12px;
    text-indent: -99999px;
  }

  .nav-army-star span {
    background: transparent url(/e2/images/rv7/army_star.png) no-repeat;
    height: 65px;
    width: 52px;
    display: block;
  }

  .nav-army-star {
    background-color: #000;
    border-radius: 10px;
    display: block;
    left: 50%;
    margin: 0 0 0 -35px;
    position: absolute;
    z-index: 1;
    line-height: 0;
  }
}
