---
layout: main
---

<section id="rich-text">
  <div class="container">
    <div class="inner-container">
      <ul class="github-links">
          <li>
              <div class="btn">
                  <div>
                      <a href="../">
                          &lt; Back to Main Styleguide<span></span><span></span><span></span><span></span><span></span><span></span>
                      </a>
                  </div>
              </div>
          </li>
      </ul>
      <br><br>
      {% include elements/rich-text.html %}
      {% include elements/top-btn.html %}
    </div>
  </div>
</section>