<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/css/guide.css" type="text/css" media="screen">
</head>
<body>
    <section id="main" class="main-content" role="main">
        {{ content }}
    </section>
    {% include scripts.html %}
 </body>
</html>
