<!DOCTYPE html>
<html lang="en">
<head>
    <title>U.S. Army Style Guide</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/e2/css/rv7/armydotmil/guide.css" type="text/css" media="screen">
</head>
<body class="army-font">
    {% include elements/upgrade.html %}
    {% include elements/header.html %}
    <div class="main" role="main">
        {{ content }}
    </div>
    {% include elements/footer.html %}
    {% include scripts.html %}
 </body>
</html>
