<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <title>Broswer Upgrade | The United States Army</title>
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <link rel="stylesheet" href="/e2/css/rv7/upgrade/style.css">
    <!--[if IE 8]>
    <style type="text/css" media="screen">
        .nav-army-star{ width: 72px;}
    </style>
    <![endif]-->
</head>
<body id="{{ page.active }}" class="{{ page.id }}">
    <header>
        <div class="navbar">
          <div class="navbar-container">
            <a href="/" class="nav-army-star">
                <span>HOME</span>
            </a>
          </div>
        </div>
    </header>
    <div class="main">
        {{ content }}
    </div>
</body>
</html>

