
$army-branding: (
    black: #030000,
    armyblack: #231F20,
    gold: #fec325,
    white: #ffffff,
    darkcamo: #333c33,
    mediumcamo: #83847a,
    lightcamo: #bfb8ab,
    grey90: #1a1a1a,
    grey80: #333333,
    grey70: #4c4c4c,
    grey60: #656565,
    grey50: #7f7f7f,
    grey40: #999999,
    grey30: #b3b3b3,
    grey20: #cccccc,
    grey10: #e5e5e5
);

$social-branding: (
    twitter: #55acee,
    google: #db4437,
    facebook: #3b5999,
    pinterest: #bd081c,
    email: #2f2f2f,
	print: #2f2f2f
);