body {
  font: normal 1em/1.625 $font-family;
}

%h1 {
  font: 600 1.875em/1.333 $font-family;

  @include breakpoints(nav) {
    font: 600 2.25em/1.333 $font-family;
  }

  @include breakpoints(tablet lg_tablet) {
    font: 600 2.5em/1.25 $font-family;
  }

  @include breakpoints(sm_desktop desktop large really_big) {
    font: 600 3em/1.25 $font-family;
  }
}

%h2 {
  font: 700 1.875em/1.333 $font-family;

  @include breakpoints(tablet lg_tablet) {
    font: 700 2.25em/1.333 $font-family;
  }

  @include breakpoints(sm_desktop desktop large really_big) {
    font: 700 2.5em/1.25 $font-family;
  }
}

%h3 {
  font: 700 1.5em/1.5 $font-family;

  @include breakpoints(tablet lg_tablet) {
    font: 700 1.875em/1.333 $font-family;
  }

  @include breakpoints(sm_desktop desktop large really_big) {
    font: 700 2.25em/1.333 $font-family;
  }
}

%h4 {
  font: 700 1.313em/1.4 $font-family;
  
  @include breakpoints(tablet lg_tablet sm_desktop desktop large really_big) {
    font: 700 1.5em/1.5 $font-family;
  }
}

%h5 {
  font: 700 1em/1.625 $font-family;
  
  @include breakpoints(tablet lg_tablet sm_desktop desktop large really_big) {
    font: 700 1.125em/1.4 $font-family;
  }
}

h1 { @extend %h1; }
h2 { @extend %h2; }
h3 { @extend %h3; }
h4 { @extend %h4; }
h5 { @extend %h5; }

section {
  overflow: hidden;
}

h4 {
  margin: 50px 0 40px;
  
  &.subhead { margin-top: 0; }
  
  @include header-underline(gold);
}

// mobile first approach
@include breakpoints(lg_tablet sm_desktop desktop large really_big) {
  h4 {
    margin: 60px 0 54px;
  }
}


h2,
h3,
h4,
h5 { text-transform: uppercase; }

h1,
h2,
h3,
h4,
h5 {
  @include custom-transition(font-size .25s ease);
  text-align: center;
}

@include breakpoints(lg_tablet sm_desktop desktop large really_big) {
  h1, h2, h3, h4, h5 { text-align: left; }
}

p {
  font: 400 1em/1.625 $font-family;
  
  &.large { @extend %h5; }
  
  &.small {
    font: 400 .813em/1.5 $font-family;
    
    @include breakpoints(lg_tablet tablet sm_desktop desktop large really_big) {
      font: 400 .875em/1.5 $font-family;
    }
  }
  
  &.author { font: 400 .875 $font-family; }
}

a {
  color: #000;
  font-weight: 600;
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}

ul,
ol,
p {
  line-height: 1.625em;
  margin-bottom: 1.25em;
  
  &:last-child {
    margin-bottom: 0;
  }
}

hr { margin: 1.75em 0; }

strong { font-weight: 700; }
em { font-style: italic; }


