body {
  font: normal 1em/1.625 $font-family;
}

%h1 {
  font: 600 1.875em/1.25 $font-family;

  @include breakpoints(nav) {
    font: 600 2.25em/1.25 $font-family;
  }

  @include breakpoints(tablet lg_tablet) {
    font: 600 2.5em/1.25 $font-family;
  }

  @include breakpoints(sm_desktop desktop large really_big) {
    font: 600 3em/1.25 $font-family;
  }
}

%h2 {
  font: 700 1.875em/1.25 $font-family;

  @include breakpoints(tablet lg_tablet) {
    font: 700 2.25em/1.25 $font-family;
  }

  @include breakpoints(sm_desktop desktop large really_big) {
    font: 700 2.5em/1.25 $font-family;
  }
}

%h3 {
  font: 700 1.5em/1.25 $font-family;

  @include breakpoints(tablet lg_tablet) {
    font: 700 1.875em/1.25 $font-family;
  }

  @include breakpoints(sm_desktop desktop large really_big) {
    font: 700 2.25em/1.25 $font-family;
  }
}

%h4 {
  font: 700 1.313em/1.25 $font-family;
  
  @include breakpoints(tablet lg_tablet sm_desktop desktop large really_big) {
    font: 700 1.375em/1.25 $font-family;
  }
}

%h5 {
  font: 700 1em/1.25 $font-family;
  
  @include breakpoints(tablet lg_tablet sm_desktop desktop large really_big) {
    font: 700 1.125em/1.333333 $font-family;
  }
}

h1 { @extend %h1; }
h2 { @extend %h2; }
h3 { @extend %h3; }
h4 { @extend %h4; }
h5 { @extend %h5; }

h2,
h3,
h4,
h5 { text-transform: uppercase; }

p {
  font: 400 1em/1.625 $font-family;
  
  &.large { @extend %h5; }
  
  &.small {
    font: 400 .813em/1.25 $font-family;
    
    @include breakpoints(lg_tablet tablet sm_desktop desktop large really_big) {
      font: 400 .875em/1.25 $font-family;
    }
  }
}


