body {
  font: normal 1em/1.375em $font-family;

  @include breakpoints(nav mobile md_mobile sm_mobile) {
    font: normal 1em/1.25em $font-family;
  }
}

h1 {
  font: 700 3em/1.05em $font-family;

  @include breakpoints(lg_tablet tablet) {
    font: 700 2.5em/1.125em $font-family;
  }

  @include breakpoints(nav mobile md_mobile sm_mobile) {
    font: 700 2em/1.25em $font-family;
  }
}

h2 {
  font: 2.25em/1.25em $font-family;

  @include breakpoints(lg_tablet tablet) {
    font: 2em/1.25em $font-family;
  }


  @include breakpoints(nav mobile md_mobile sm_mobile) {
    font: 1.625em/1.15384615em $font-family;
  }
}

h3 {
  font: 700 1.75em/1.25em $font-family;

  @include breakpoints(lg_tablet tablet) {
    font: 700 1.5em/1.25em $font-family;
  }


  @include breakpoints(nav mobile md_mobile sm_mobile) {
    font: 700 1.375em/1.13636364em $font-family;
  }
}

h4 {
  font: 700 1.125em/1.22222222em $font-family;

  @include breakpoints(nav mobile md_mobile sm_mobile) {
    font: 700 1.125em/1.11111111em $font-family;
  }
}

a { color: #000000; }

@mixin date {
  font: 400 .813em/1.375em $font-family;
  text-transform: uppercase;
}

@mixin article-header {
  font: 700 1.625em/1.5em $font-family;
}

@mixin strong {
  font: 700 1.5em/1.5em $font-family;
}

@mixin article-body {
  font: 400 1em/1.625em $font-family;
}

p.date {
  @include date;
}

p.author {
  font: 400 0.875em $font-family;
}

p.article-body {
  @include article-body;
}

.article-header {
  @include article-header;
}

.h4-header {
  color: #57584f;
  font: 900 1em $font-family;
  text-transform: uppercase;
}

.top-stories-header {
  font: 700 1.125em/1.25em $font-family;
}
