// ----------------------------------------------------------------------
// Dependencies: base/_variables.scss,
// base/custom-mixins/custom-transition,
// base/mixins/opacity
// ----------------------------------------------------------------------
// @import 'base/variables';
// @import 'base/custom-mixins/custom-transition';
// @import 'base/mixins/opacity';


//primary colors
.white {
  color: map-get($army-branding, white);
}

.gold {
  color: map-get($army-branding, gold);
}

.army-black {
  color: map-get($army-branding, armyblack);
}

.white-background {
  background-color: map-get($army-branding, white);
}

.gold-background {
  background-color: map-get($army-branding, gold);
}

.army-black-background {
  background-color: map-get($army-branding, armyblack);
}

//secondary colors
.dark-camo {
  color: map-get($army-branding, darkcamo);
}

.medium-camo {
  color: map-get($army-branding, mediumcamo);
}

.light-camo {
  color: map-get($army-branding, lightcamo);
}

.dark-camo-background {
  background-color: map-get($army-branding, darkcamo);
}

.medium-camo-background {
  background-color: map-get($army-branding, mediumcamo);
}

.light-camo-background {
  background-color: map-get($army-branding, lightcamo);
}

//accent colors
.black {
  color: map-get($army-branding, black);
}

.grey90 {
  color: map-get($army-branding, grey90);
}

.grey80 {
  color: map-get($army-branding, grey80);
}

.grey70 {
  color: map-get($army-branding, grey70);
}

.grey60 {
  color: map-get($army-branding, grey60);
}

.grey50 {
  color: map-get($army-branding, grey50);
}

.grey40 {
  color: map-get($army-branding, grey40);
}

.grey30 {
  color: map-get($army-branding, grey30);
}

.grey20 {
  color: map-get($army-branding, grey20);
}

.grey10 {
  color: map-get($army-branding, grey10);
}

.black-background {
  background-color: map-get($army-branding, black);
}

.grey90-background {
  background-color: map-get($army-branding, grey90);
}

.grey80-background {
  background-color: map-get($army-branding, grey80);
}

.grey70-background {
  background-color: map-get($army-branding, grey70);
}

.grey60-background {
  background-color: map-get($army-branding, grey60);
}

.grey50-background {
  background-color: map-get($army-branding, grey50);
}

.grey40-background {
  background-color: map-get($army-branding, grey40);
}

.grey30-background {
  background-color: map-get($army-branding, grey30);
}

.grey20-background {
  background-color: map-get($army-branding, grey20);
}

.grey10-background {
  background-color: map-get($army-branding, grey10);
}

//generic helper classes
.hidden {
  height: 0;
  min-height: 0;
  max-height: 0;
  visibility: hidden;
  @include opacity(0);
  @include custom-transition(opacity .25s ease, height .25s ease, min-height .25s ease, max-height .25s ease, visibility .5s linear);
}

