// ----------------------------------------------------------------------

  // Button Transition

// ----------------------------------------------------------------------

@mixin link-transition($parent: 'a') {
  span {
    background: map-get($army-branding, black);
    position: absolute;
    @include custom-transition(all .15s ease);
    
    &:nth-child(1),
    &:nth-child(5) {
      height: 1px;
      width: 0;
    }
    
    &:nth-child(1) { left: 50%; }
    
    &:nth-child(2),
    &:last-child {
      left: 50%;
      height: 1px;
      width: 0;
    }
    
    &:nth-child(1),
    &:nth-child(2) { top: 0; }
    
    &:nth-child(5),
    &:last-child { bottom: 0; }
    
    &:nth-child(5), &:last-child {
      bottom: -1px;
      top: auto;
    }
    
    &:nth-child(3) {
      height: 0;
      right: 0;
      top: 0;
      width: 1px;
    }
    
    &:nth-child(4) {
      height: 0;
      left: 0;
      top: 0;
      width: 1px;
    }
    
    &:nth-child(1),&:nth-child(2) {
      transition-delay: .3s;
    }
    
    &:nth-child(3),&:nth-child(4) {
      transition-delay: .15s;
    }
    
    &:nth-child(5) { left: 0; }
    
    &:last-child { left: 100%; }
  }
  
  @include breakpoints(lg_tablet sm_desktop desktop large really_big) {
    #{$parent}:hover {
      span {
        &:nth-child(1) { left: 0; }
        
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(5),
        &:last-child { width: 50%; }
        
        &:nth-child(3),&:nth-child(4) {
          height: 100%;
          transition-delay: .15s;
        }
        
        &:nth-child(1),&:nth-child(2) {
          transition-delay: 0s;
        }
        
        &:last-child { left: 50%; }
        
        &:nth-child(5),&:last-child {
          transition-delay: .3s;
        }
      }
    }
  }
}