@use "sass:list";
@use "sass:string";
// ----------------------------------------------------------------------

// Transform

// ----------------------------------------------------------------------

// example: @include transform.transform(translate, 0, 0);
// update: can use @include transform.transform(none);

@mixin transform($type, $values...) {
  $i: 1;
  $n: 0;
  $transform: $type;

  @if list.length($values) {
    $n: list.length($values);
  }

  $originVal: ();

  @while $i <= $n {
    $val: list.nth($values, $i);

    @if $type == "rotate" or $type == "rotateY" or $type == "rotateX" {
      $originVal: list.append($originVal, $val + deg);
    }
    @else {
      $originVal: list.append($originVal, $val);
    }

    $i: $i + 1;
  }

  @if $type != "none" {
    $transform: string.unquote("#{$type}(#{$originVal})");
  }

  -webkit-transform: $transform;
  -moz-transform: $transform;
  transform: $transform;
  -ms-transform: $transform;
}

@mixin transform-origin($val) {
  -webkit-transform-origin: $val;
  -moz-transform-origin: $val;
  transform-origin: $val;
  -ms-transform-origin: $val;
}
