// ----------------------------------------------------------------------

// Transform

// ----------------------------------------------------------------------

// example: @include transform(translate, 0, 0);

@mixin transform($type, $values...) {
  $n: length($values);
  $i: 1;

  $originVal: ();

  @while $i <= $n {
    $val: nth($values, $i);

    @if $type == "rotate" or $type == "rotateY" or $type == "rotateX" {
      $originVal: append($originVal, $val + deg);
    }
    @else {
      $originVal: append($originVal, $val);
    }

    $i: $i + 1;
  }

  $transform: unquote("#{$type}(#{$originVal})");

  -webkit-transform: $transform;
  -moz-transform: $transform;
  transform: $transform;
  -ms-transform: $transform;
}

@mixin transform-origin($val) {
  -webkit-transform-origin: $val;
  -moz-transform-origin: $val;
  transform-origin: $val;
  -ms-transform-origin: $val;
}
